[2022-03-21 14:41] CM112 commented on #800
Thanks, @magomez I am closing this ticket

[2022-03-21 14:41] #800 closed, assigned to magomez

[2022-03-22 09:45] przemyslaw-gorszkowski-red commented on #792
Unfortunately we use gstreamer 1.10.4, but backporting the "stats" multiqueue property is not problematic.

The combo fix (multiqueue, current-level-byte from queue2 and playpump buffers) gives much better results. From logs I can see that sometimes current-level-byte from queue2 and playpump buffers are empty but there are some bytes in multiqueue(base on "stats" property). We will do much more t

[2022-03-23 12:15] przemyslaw-gorszkowski-red commented on #792
Unfortunately we found that there are still some additional "pause for buffering" with normal network connection. Here you can find logs with that cases(I added there some more logs which show the buffers levels - for queue2, multiqueue and playpump):
[euronews_pause_for_buffering_queue2_playpump_multiqueue.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8332864/euronews_pause_for_b

[2022-03-23 19:13] eocanha commented on #792
What I see there is that playpump goes from 836435 bytes to 0 between 1:32:42.596885827 and 1:32:42.696915800 (extremely quickly) and almost never recovers from that situation until the video is paused by buffer starving (1:32:42.916838400).

Also, the queue2 maxSizeBytes capacity goes from 2MB to 1MB at some point, giving much less buffering margin to compensate for network bumps. I don't underst

[2022-03-24 07:10] przemyslaw-gorszkowski-red commented on #792
Yes, I also noticed this strange change of the maxSizeBytes capacity from 2MB to 1MB but not investigate it too much. What I observed is that this change is around the time when the pipeline goes to PLAYING state.

I will try to find the reason of that quick consumption of data by playpump and maybe other way for estimation of the buffering level of Nexus.

[2022-03-24 09:00] varumugam123 opened #816 "[wpe-2.28] "playing" event is missing on seek"
Hi @eocanha, in wpe-2.22 branch we identified an issue in the way playing event is sent and fixed by going back the way it was before https://bugs.webkit.org/show_bug.cgi?id=183383. Please refer https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/700

We need the same change cherry-picked here in wpe-2.28 as the same issue occurs here also. Could you please help?

[2022-03-25 08:22] przemyslaw-gorszkowski-red commented on #792
I found the reason of that maxSizeBytes capacity change,
It is reset in configure_stream_buffering function of the gsturidecodebin.:
[code]

[2022-03-25 11:39] eocanha commented on #792
Looking at the code, it seems that automatic configuration can be overridden by setting the buffer-size property in decodebin, which in turn is controlled by the buffer-size property in playbin. We have two options now:
- Set a good enough value for playbin in MediaPlayerPrivateGStreamer. Choosing a static value has the disadvantage of not being easily adaptable to network conditions and video qua

[2022-03-25 13:18] przemyslaw-gorszkowski-red commented on #792
@eocanha : regarding to vidfilter buffer - at the beginnig of playback it can be quickly consumed by viddecoder. viddecoder consumes the data from vidfilter till it fills its own buffer. So propably we need to check also viddecoder buffer to check  its buffer level.

I tested also does this changing of the queue2 buffer size(from 2->1MB) have impact on the hiccups with normal network connection: e

[2022-03-25 17:19] eocanha commented on #792
I wasn't fully aware about the Nexus video decoder having (or at least considering) its own buffering level, but I've now seen the buffered-bytes property in the code. The interactions I've had with Nexus in the past just showed me that once a GStreamer buffer enters aud/vidfilter, it's already into Nexus and out of the control of GStreamer (the buffers that GStreamer sees beyond the filter are ju

[2022-03-25 17:56] goruklu opened #818 "WPENetworkProcess crashes when dropping open connections on network change"
this commit https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/43877edc4454 seems to trigger a crash when a new network interface is created:

call stack:
[code]
Logs:
[code]

[2022-03-25 18:04] goruklu commented on #805
we also see similar issue with some the streaming apps. @woutermeek  can you please ask your team to take a look at this ? We can help with testing if needed.

[2022-03-28 11:07] gruvin commented on #569
Easy workaround; Turning off Chrome's Settings => Advanced => System => "Use hardware acceleration when available" fixed this for me. ymmv

[2022-03-28 13:34] magomez commented on #818
Arg, this seems to be a problem inside glib or libsoup. That's going to be tricky. @goruklu which version of those libraries are you using? Let's see if I can reproduce this somehow.

[2022-03-28 16:55] woutermeek commented on #805
Sure thing, we will look into it soon.

[2022-03-28 17:07] woutermeek commented on #818
@goruklu correct me if I'm wrong but from yocto recipe I'm seeing  glib networking 2.48.2 and liboup 2.4

[2022-03-28 17:16] goruklu commented on #818
![Screen Shot 2022-03-28 at 10 11 49 AM](https://user-images.githubusercontent.com/143648/160451691-86ae0441-2630-4603-a9fc-2577a71c53fd.png)
from the stack trace it looks like
we have libsoup 2.68.4 and glib 2.62.4

[2022-03-28 17:33] emutavchi commented on #818
libsoup 2.68.4 is available in the sprint. stable and release branches are on libsoup 2.58.1 version.

as for glib networking: we use use glib-openssl backend 2.50.3.

[2022-03-29 08:01] magomez commented on #818
Is this happening in both versions? The version I tested when testing the problematic patch was 2.62.3 and the crash was not reproducible for me. Maybe it's a recent bug in libsoup? I'll test 2.68.4 and try to reproduce on my side.

[2022-03-29 10:42] magomez commented on #805
I think the problem here is that limit of 50ms when dispatching MainThread functions. I'm afraid that value is an heuristic that's valid for most of hardware devices, but it might be too short for low end devices where processing the callbacks is slower, and where UI delays of more than 0.1 seconds are acceptable (they're the norm actually). Due to this, in some cases not all the enqueued function

[2022-03-29 12:40] przemyslaw-gorszkowski-red commented on #792
I tested the implementation of the "pause for buffering" with: buffering level from queue2 + multiqueue + vid filter + vid decoder.

There are still some not needed "pause for buffering" in case of good network condition (~12MB/s for problematic file: https://video-partners.euronews.com/mp4/1080p/EN/NW/SU/22/03/25/en/220325_NWSU_45673495_45673498_190160_224202_en.mp4)

The logs from this case:
[eu

[2022-03-29 12:52] varumugam123 opened #821 "Fix readystate during seeking"
While seeking out-of-bound, we receive "playing" event... On chrome & firefox, this is not happening. Attaching a simple case of this here
[play_pause_out_of_range_test.html.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8371420/play_pause_out_of_range_test.html.txt)

Below force updation of readyState to HAVE_METADATA handles this case.
[code]

Note: this has dependency on https:/

[2022-03-29 13:10] jakub-gocol-red commented on #755
I did a bunch of testing and it looks like [15f7120](https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/14f712084b349ab70e87352d73dc02ee42c1a99e) fixes nondeterministic playback start.
Additionally there is separate issue with starved out timers which is reported here: https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/796 (with proposed patch).

With both those patches applied, eu

[2022-03-29 13:33] rychem commented on #755
Thanks Jakub.
@eocanha ticket can be closed. Many thanks for your help.

[2022-03-29 13:41] jakub-gocol-red commented on #796
I checked it on different broadcom device (not rpi), which has 2 core CPU and animations are caped at 50fps. But the issue was easily reproduced on raspberry pi by my colleague (100% reproduction rate). It looked exactly the same on both devices.

The whole issue is that we don't have enough resources to execute everything fast enough and browser has to prioritize work. It can either decide that a

[2022-03-29 14:29] magomez commented on #796
@jakub-gocol-red , would you be ok with adding an option to the build that allows switching between the 2 options? The current one and the one that works for you? That way we could cover all of the cases without introducing regressions to other users/platforms.

[2022-03-29 15:19] magomez commented on #796
@jakub-gocol-red can you apply this patch and build passing -DENABLE_FRAME_TIMERS_PRIORITY_REDUCTION=ON ? That should give you the priorities you need. When you confirm that it works, I'll commit it to the wpe-2.22 branch.

[add-option-to-reduce-frame-timers-priority.patch.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8372838/add-option-to-reduce-frame-timers-priority.patch.txt)

[2022-03-29 15:48] eocanha commented on #755
Ok. That commit now corresponds to https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/8c29ea2a71ecc9f63a6d95f2684563c495b22f8d in the updated branch. I'm going to push only that one to wpe-2.22 and when https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/792 is in a good enough state, I'll also push the other fixes (current-level-bytes, multiqueue content, pause when buffer empty).

[2022-03-29 15:57] eocanha commented on #755
Committed to https://github.com/WebPlatformForEmbedded/WPEWebKit/tree/wpe-2.22 as https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/0aa355cbca7375ba6258ba3b81fde465f6626a0c

Closing issue.

[2022-03-29 15:57] #755 closed, assigned to eocanha

[2022-03-30 11:24] przemyslaw-gorszkowski-red commented on #792
Here you can find the logs with underflows when "pause for buffering" bases on buffering level from queue2 + multiqueue + vid filter + vid decoder and the network connection is slow.
[euronews_pause_for_buffering_queue2_playpump_multiqueue_vidfilter_viddecoder_underflows.txt.zip](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8379985/euronews_pause_for_buffering_queue2_playpump_multique

[2022-03-31 07:58] przemyslaw-gorszkowski-red commented on #792
Here you can find the logs with underflows when "pause for buffering" bases on buffering level from queue2 + multiqueue + vid filter + vid decoder and the network connection is slow.
[euronews_pause_for_buffering_queue2_playpump_multiqueue_vidfilter_viddecoder_underflows.txt.zip](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8379985/euronews_pause_for_buffering_queue2_playpump_multique

[2022-03-31 15:14] magomez commented on #818
I've been giving a look to the libsoup, but I'm not very familiar with the code, and without being able to reproduce the crash I can't understand how we're achieving the problematic situation in order to try to fix it. I think we're trying to access a GTask that has already been destroyed, but can't find how we're getting there. In fact there are several g_return_if_fail (G_IS_TASK (task)) lines d

[2022-03-31 16:52] goruklu commented on #818
@magomez I've attached the callstack info:
[6c2bc3f0.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8391553/6c2bc3f0.txt)

May I ask why all open connections are closed when any network change is detected ? In our use case, a new network interface is getting added which causes the crash. The existing connections should not be effected with this change.

we currently patched WPE and

[2022-04-01 07:52] magomez commented on #818
Thanks!

The problem is that we don't get detailed information about the state of the network interfaces, but just a signal indicating that something has changed (not even if something was added or removed). In this case (just adding a new interface) it doesn't affect the existent connections. But it can happen that after this, the old interface that was being used is disabled and the app needs to

[2022-04-01 08:34] magomez commented on #818
I have just added ef825bae028a1802192619196551822d9b06b665 to the wpe-2.22 branch. This adds a build option to enable/disable network change detection. The option is enabled by default, so in order to avoid the crash you should build with -DENABLE_NETWORK_CHANGE_DETECTION=OFF.

In any case, it would be awesome if you could if the problem is reproducible with libsoup 2.62.3, cause it seems to be wo

[2022-04-01 09:18] rychem commented on #792
@eocanha would you please be kind to check recent Przemyslaw comments ?

[2022-04-01 12:47] przemyslaw-gorszkowski-red commented on #792
My suggestion in such case is to remove buffered_bytes taken from vid decoder and maybe take the change from https://github.com/LibertyGlobal/WPEWebKit/pull/50/commits/574e05cbe0428112c02827ec8ce835f460a1cbcf and reuse it in "pause for buffering" decision.

So base on network-statistics we can calculate/estimate the m_maxTimeLoaded, before "pause for buffering" we can check also how much data(time

[2022-04-01 13:11] eocanha commented on #792
Sorry, I've been swamped in other tasks these days and haven't had the opportunity to move this task forward yet.

[2022-04-01 14:41] maciej-kolanski-red commented on #785
@magomez Unfortunately, we have found a regression that is reproducible only for a subset of our platforms. What is happening there is that glib emits the `network-changed` event far too frequently (like every 5-10 seconds), which triggers the libsoup's abort and effectively breaks the application usage. From what I know so far is that the event is caused by some network configuration changes, whi

[2022-04-04 10:31] magomez commented on #785
mmmm the problem is that we don't get much information about what's really happening with the network interfaces, other than whether something has changed. There's a boolean parameter coming with the network-changed event that should indicate whether there's a network connection active, that the current fix is currently not using. I could use it and drop the connections only if the network is not

[2022-04-04 10:55] magomez commented on #785
I'm thinking that I could also add some API method to allow Thunder to request the open connections to be closed. So, instead of relying on glib notifications, Thunder can request to drop the connections when the device decides that a new network interface has to be used.

[2022-04-04 11:01] maciej-kolanski-red commented on #785
That's right - we could change it to abort libsoup's connections only on `networkAvailable=false`. I tested it and it indeed solves the regression, but as you've noted, it does not work if there is a switch from one active network interface to some other one (e.g. from wifi to eth). In that case it is insufficient for us.

Ideally we should drop the connections only if the actual active network in

[2022-04-04 14:45] kkanag314 commented on #805
OK @magomez.  We will validate with increased maxRunLoopSuspensionTime value and share our observation

[2022-04-04 18:31] eocanha commented on #792
What I see in the euronews_pause_for_buffering_queue2_playpump_multiqueue_vidfilter_viddecoder.txt test case is that the final computed buffering is always too close to 0%, but only reaching the actual 0% value a few times and not in a sustained way long enough to trigger the "pause for rebuffering" mechanism. Hence, the pipeline is kept in playing and video stuttering caused by starvation may app

[2022-04-05 09:10] magomez commented on #785
It's not doable through GLib AFAIK. It's not as easy of detecting a change in the active network interface, I'm afraid. There are routing tables affecting here, and also ipv4 vs ipv6. In a simple case, assuming that we're using ipv4 or ipv6 only, and that there aren't specific route rules other than the default, I could get the default interface from /proc/net/route. So when we get the network-cha

[2022-04-05 09:42] magomez commented on #785
Ok, I think I can handle both ipv4 and ipv6 at the same time. I think I can get the default interface for both (from /proc/net/route and /proc/net/ipv6_route). The idea would be to keep the names of both interfaces around. In response to the network-event signal, we get the interface names again and check whether they have changed. If any of them has changed, drop the soup_session. I think this wo

[2022-04-05 09:50] magomez commented on #818
I've just reverted the patch that was causing this problem. I'll try to fix the network interface change problem in some other way, but I'll keep the new behavior behind a build flag, so I won't bother you anymore. So you can just pull the latest changes and this problem won't happen anymore.

[2022-04-05 09:52] magomez commented on #785
I've just reverted the original fix for this and I'm going to work on a new approach. Also, this behavior will be kept behind a build flag that's disabled by default, so it doesn't affect other users.

[2022-04-05 12:19] magomez commented on #818
I'm closing this as reverting the problematic patch removed this crash.

[2022-04-05 12:19] #818 closed, assigned to magomez

[2022-04-05 16:25] goruklu commented on #818
thank you @magomez

[2022-04-06 09:20] maciej-kolanski-red commented on #785
Sounds good to me. I believe this way we could reduce number of libsoup's aborts to the minimum and make it work correctly. Please let me know if you need any help with implementation or fix verification.

[2022-04-06 09:25] magomez commented on #785
Sure, I'll post the patch here as soon as I have it, so you can verify before committing it.

[2022-04-06 10:34] eocanha commented on #816
This issue can be closed, since pull request #819 has been merged.

[2022-04-06 10:34] #816 closed, assigned to nobody

[2022-04-06 13:49] eocanha commented on #821
I see the problem that the test tries to reproduce. The test buffers [0, 11.99] and, without having started playing, seeks to 12.99 (unbuffered). Right after that, sets play() and pause() very quickly in the same main loop iteration (so the effective state should be paused). The "playing" event is emitted after seek, and it shouldn't by two reasons: the player state should be paused, and there's n

[2022-04-06 18:16] eocanha commented on #821
I worked on commit https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/a00d108bcd2ddb6886411715c2dc897aef60ce72 (branch [eocanha-debug-115](https://github.com/WebPlatformForEmbedded/WPEWebKit/tree/eocanha/eocanha-debug-115)) that works for both cases. I still need to see if it's upstreamable.

[2022-04-06 19:11] eocanha commented on #821
It's not upstreamable. I've submitted the change as PR https://github.com/WebPlatformForEmbedded/WPEWebKit/pull/825 and merged it on wpe-2.28.

[2022-04-06 19:11] #821 closed, assigned to eocanha

[2022-04-07 07:49] przemyslaw-gorszkowski-red commented on #792
@eocanha : sorry for late response but I was analyzing your suggestions and I am still testing some options (also with increasing the queue2 size and increasing the low watermark for trigerring "pause for buffering").

My main concern here is that by increasing the low watermark for triggering "pause for buffering" we will increase also a probability of not needed "pause for buffering" in case of

[2022-04-07 09:02] magomez commented on #785
@maciej-kolanski-red I'm attaching a patch for you to test with the new approach.

How it works:
- You need to build with -DENABLE_NETWORK_CHANGE_DETECTION=ON for it to work (or change the default option value inside OptionsWPE.cmake).
- SoupNetworkSession will connect to the GNetworkMonitor network-changed signal, as before. Instead of calling soup_session_abort directly, it will schedule a call

[2022-04-07 09:39] d21d3q opened #826 "Memory pressure handler not releasing memory"
## the problem

I am using [`meta-webkit` from Igalia](https://github.com/Igalia/meta-webkit) which uses wpe 2.28.

I am observing memory leak. I tried to limit memory by:
[code]

I can see in logs that Memory Pressure is firing:
[code]
but memory usage keeps increasing which leads to system freeze after two days (on rpi). This is last capture of tmux before ssh session died:
<img width="803" alt=

[2022-04-07 09:52] magomez commented on #826
I'm afraid you're using the wrong WPE recipe.
The one that you're using (Igalia one) uses a WPE version that doesn't have support for the WPE_RAM_SIZE env var, or to control the MemoryPressureHandler limits through the WPE_POLL_MAX_MEMORY env var. In order to use those features, you should build WPE from the WebPlatformForEmbedded recipe (https://github.com/WebPlatformForEmbedded/meta-wpe).

Yes.

[2022-04-07 12:05] d21d3q commented on #826
Thanks!

I assumed that both projects use same source, but wrapped differently...

Do you think that as a workaround (without switching to `meta-wpe`) patching [this place](https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/289f55ffafa03461d568a16bd177022781ce77ed/Source/WTF/wtf/MemoryPressureHandler.cpp#L123=) (which is shared in both repos)
[code]
to something like
[code]
could trigger cle

[2022-04-07 12:05] #826 closed, assigned to nobody

[2022-04-08 21:00] russdill opened #828 "feature: Populate MediaDevices with locally configured gstreamer pipelines"
The gstreamer support in WPEWebKit is a really killer feature, and the playbin interface covers most use cases. However, sometimes a little more fine grain control over pipelines is required, such as when raw video packets are being received via a local network interface, or some other source. Adding the ability for the server to specify a client gstreamer pipeline seems rather nonsensical though

[2022-04-11 06:34] maciej-kolanski-red commented on #785
@magomez The patch looks good to me. We are going to run some extensive tests to make sure it does not introduce any regression. I will come back with a feedback sometime this week.

[2022-04-12 16:31] ryadav115 commented on #597
I would like to bring your attention for the crash occuring mostly in the MIPS devices (Pace XG2v2, PXi3v2, Samsung XG2v2, Ciso C8, Pace XG1v3, Arris XG1V3)with the signature "**unlink**".

Affected WPE versions: [0.4.4](https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/5f899bc2e0e3736908d46ddf473dc4fe5c7f5c95), [2.22.2](https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/22d652203

[2022-04-12 20:26] przemyslaw-gorszkowski-red commented on #792
In the file
[euronews_pause_for_buffering_queue2_playpump_multiqueue_vidfilter_viddecoder_maxtimeloaded.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8476232/euronews_pause_for_buffering_queue2_playpump_multiqueue_vidfilter_viddecoder_maxtimeloaded.txt)
you can find logs which I gathered with disabled mechanism "pause for buffering" and increased queue2 size to 6MB. I disabled it

[2022-04-14 07:02] woutermeek commented on #796
@jakub-gocol-red could you please check if this works for you?

[2022-04-14 16:47] nrajan002c opened #830 "CoordinatedGraphicsScene::assignImageBackingToLayer crash in wpe 2.22"
When we try to load "https://cd-stage.web.plus.espn.com/espn/comcast/xclass/index.html" with nonCompositedWebGLEnabled option, it is crashing in CoordinatedGraphicsScene.

Stack trace is below,
Thread 21 (crashed)
 0  libWPEWebKit-0.1.so.2.2.4!WebKit::CoordinatedGraphicsScene::assignImageBackingToLayer(WebCore::TextureMapperLayer*, unsigned long long) [CoordinatedGraphicsScene.cpp : 433 + 0x0]
 1

[2022-04-15 07:47] przemyslaw-gorszkowski-red commented on #792
I tested the build which base on fix(https://github.com/LibertyGlobal/WPEWebKit/commit/211b8d61bf5a610179af680d7537cd69529a6c27) from branch: https://github.com/LibertyGlobal/WPEWebKit/tree/pgorszkowski/ARRISEOS-41318/1 and during that tests I didn't observe the problem with not needed "pause for buffering" in case of good network connection. It behaves also as expected in case bad network connect

[2022-04-15 08:03] przemyslaw-gorszkowski-red commented on #792
One more thing which I observed during my tests: there is a problem when the playback starts and the playback is manually paused and then WPE gets the message with buffering 100% - this causes that playback starts to play - which is wrong because it was intentionally paused by the user.

This issue is observed with and without my fix from https://github.com/LibertyGlobal/WPEWebKit/commit/211b8d61b

[2022-04-15 11:45] przemyslaw-gorszkowski-red opened #831 "The playback starts playing by itself after manual pause by user"
It happens at the beginning of the playback  (type of playback: progressive). Observed on applications like CNN or Euronews.
1. Start one of the content with progressive type of stream (mp4 file).
2. Just after it starts to play, pause it manually(videoElement.pause() or via video controls)
3. sometimes after a few seconds it starts to play by itself

The problem can be observed in file:

https://

[2022-04-15 12:12] przemyslaw-gorszkowski-red opened #832 "WPE 2.22 [Tv Francaise] Channel tile is blinking/jumping during navigation"
When user is navigating in the right side in Tv Francaise application channel tile is blinking/jumping.

When navigate left then tile is not blinking.

The problem can be observed:

https://user-images.githubusercontent.com/47318228/163569364-62fc1995-0aae-46e2-9696-a0341ad8fd49.mp4

It looks like the flickering is triggered by CSS change. A tile is represented by <a> node e.g.:
`
<a class="gpu it

[2022-04-15 12:22] przemyslaw-gorszkowski-red commented on #792
I reported the problem with restarting automatically the playback after manual pause: https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/831

[2022-04-18 14:34] nrajan002c commented on #830
This crash is happened when we enable 'nonCompostedWebGL' flag for non-lightning apps.
Please ignore this issue.

[2022-04-19 16:32] nrajan002c commented on #830
Crash shouldn't happen even we load non-lightning apps with 'non-composistedWebGL' flag enabled.

[2022-04-21 02:29] nrajan002c opened #834 "Canvas related patch causing memory leak in Amlogic platform"
After this patch https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/d852c5036ef93b9e469203adbdca5eb63bc6a4b8  added in 2.22 branch, It is causing memory leak in specific gaming apps like "https://comcast.play.works/prod/reg/apps/puppy_rescue/index.html?parent=portal_4&platform=xglobal&us_privacy=1-N-&lmt=0"
Memory is spiking to maximum and the browser instance killed by monitoring plugin (

[2022-04-21 13:05] przemyslaw-gorszkowski-red commented on #832
It seems that TVFrancaise has changed recently.  To workaround this problem you have to make a fake onesdk object before it is used by this app. To do this(by using webinspector) you have to find the place where onesdk.init() is called - I found it at line 7561 of the app.js. Please set a breakpoint there and start the app, when it reaches that breakpoint then call from console:

`window.onesdk =

[2022-04-21 17:35] eocanha commented on #792
I suspected that the pending data might be buffered by the appsrc inside WebKitWebSrc, so I added extra code here to ask for current-level-bytes to WebKitWebSrc (which asks to its appsrc). However, I'm always seeing 0 current-level-bytes buffered in that appsrc. I need to double check my code because it has to be some kind of bug.

There's one corner case that doesn't convince me completely about

[2022-04-22 07:04] przemyslaw-gorszkowski-red commented on #792
We get from webkitwebsrc always the absolute offset in the file and its size in "webkit-network-statistics" structure of the GST_MESSAGE_ELEMENT. So it works as expected also in case of seeks (also tested).
Here is example case with seek to almost at the end of file:

[code]

[2022-04-22 07:13] przemyslaw-gorszkowski-red commented on #792
Yes, with changes from that branch it seems to work as expected in both cases, with good and bad network connection

[2022-04-22 12:33] magomez commented on #830
I've just pushed 438caeacda1e915777db1df2c136b5f72b7a1603 to the wpe-2.22 branch that should fix this. The crash is gone, despite the page doesn't load anything besides a blank page. Please verify that the fix works for you as well.

[2022-04-22 12:39] przemyslaw-gorszkowski-red commented on #792
With this change:
[code]
I can see logs with some values for buffer level of the webkitwebsrc(appsrc):
[code]

[2022-04-22 13:40] eocanha commented on #792
I've cherry-picked https://github.com/LibertyGlobal/WPEWebKit/commit/574e05cbe0428112c02827ec8ce835f460a1cbcf,  https://github.com/LibertyGlobal/WPEWebKit/commit/211b8d61bf5a610179af680d7537cd69529a6c27 (with some modifications, like assiging a TRACE level instead of DEBUG to less interesting messages) and https://github.com/LibertyGlobal/WPEWebKit/commit/324d9f4941b888fff702cce22f098df70b60853c i

[2022-04-22 13:40] #792 closed, assigned to nobody

[2022-04-22 13:49] przemyslaw-gorszkowski-red commented on #792
Keep in mind that we need also change/backport for multiqueue - adding the stats property: https://github.com/GStreamer/gstreamer/commit/74938f07c2a9b3411716fa7595178942c80e20f4

[2022-04-22 15:40] eocanha commented on #792
Committed to [buildroot main](https://github.com/WebPlatformForEmbedded/buildroot/commits/main) as:
* https://github.com/WebPlatformForEmbedded/buildroot/commit/9664689d626d938f71e26d801ad9e340c1fd10dd gstreamer1: Backport multiqueue: Add stats property

[2022-04-25 06:56] przemyslaw-gorszkowski-red commented on #792
@eocanha : probably you need also cherry-pick https://github.com/LibertyGlobal/WPEWebKit/commit/324d9f4941b888fff702cce22f098df70b60853c after https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/b4fdd980207af05ce9cc295eb4710160bb04db4b

[2022-04-26 08:05] kkanag314 commented on #805
@magomez  We have done the validation with maxRunLoopSuspensionTime as 150ms.The issue is not observed with this value.We have done smoke testing for premium webapps in highend /lowend devices. We don't observe any issues so far.

[2022-04-26 08:37] magomez commented on #834
I've been testing this and I'm not able to reproduce the leak in any of the platforms that have available. It's quite weird that the leak is only happening on a single platform but, who knows. As I cannot reproduce the issue, I'll need you @nrajan002c to perform some tests for me, to try to get some information about what's happening here.

First, and just to be sure that there's a memory leak, wh

[2022-04-26 08:55] magomez commented on #805
I've just pushed 47c3227f301b09a49707a71b9de2061d2709aa9e to the wpe-2.22 branch with that change. I was going to add some env var to get the value, but I think that this change should not cause a noticeable difference in most of the platforms, so I've just set the 150ms. If some other users find regressions with this, I'll replace the hardcoded value with the environment variable so it can be set

[2022-04-26 10:41] eocanha commented on #792
Thanks! Done. I updated the list of ported commits above.

[2022-04-26 13:20] przemyslaw-gorszkowski-red commented on #831
After more deeply analysis it seems that the unpausing happens because applications(CNN, Euronews) reacts on "canplay" event, which is generated when WPE receives the GST_MESSAGE_BUFFERING with buffer level equal to 100%(in consequence of changing readyState):

1. Receiving the GST_MESSAGE_BUFFERING: https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/wpe-2.22/Source/WebCore/platform/graphics

[2022-04-26 16:02] eocanha commented on #831
At first, I couldn't reproduce the issue straight away just with user interaction (the video loads too fast here, and even if I restrict the network bandwidth, that's not enough to reproduce). Then I added some code to call HTMLMediaElement::pause() when "[Buffering] Stream still downloading" happens (like a fast user pressing pause at the right time) and could see the auto-continue issue describe

[2022-04-26 17:03] eocanha commented on #831
But, as I see it, that canplay event is properly generated. It just means that ["there's enough data to start playing (although not during much time)"](https://html.spec.whatwg.org/multipage/media.html#event-media-canplay). It the app "changes mind about wanting to pause" and decides to start playing in those conditions (or even if canplaythrough had been emitted), then it's a problem of the app.

[2022-04-27 08:06] przemyslaw-gorszkowski-red commented on #831
It seems, as you mentioned, that this issue is rather on the app side(JavaScript player) which bases on the "canplay" event - starts the playback. The problem occurs on many applications (CNN, Euronews, Sunset), probably all of them base on the same js engine or something like this.
Thanks for your investigation.
I close the ticket.

[2022-04-27 08:06] #831 closed, assigned to eocanha

[2022-04-27 17:29] nrajan002c commented on #830
@magomez I tested the above patch. I am seeing black screen when I launch html app with 'nonCompositedWebGL' flag.
And I am not seeing the crash.
I will close this issue. Thanks.

[2022-04-27 17:29] #830 closed, assigned to nrajan002c

[2022-04-27 18:31] emutavchi opened #839 "[wpe-2.28] random crashes in Inspector::InjectedScriptModule::ensureInjected"
This happens randomly while inspecting PlutoTV.

[code]

callstack of crashed thread:
[code]

[2022-04-28 07:26] magomez commented on #839
This happens with the new inspector, doesn't it?

[2022-04-28 12:10] emutavchi commented on #839
@magomez I can double-check, but I believe inspector was enabled via WEBKIT_INSPECTOR_SERVER in this case.

[2022-04-28 12:31] emutavchi commented on #839
@magomez it was via WEBKIT_INSPECTOR_SERVER, here is env variable from the core file:

[code]

[2022-04-29 07:53] magomez commented on #785
@maciej-kolanski-red any news about this? Does the patch fix your problem?

[2022-04-29 07:54] magomez commented on #796
@jakub-gocol-red any feedback about this?

[2022-04-29 08:57] maciej-kolanski-red commented on #785
@magomez We are still working on verification on IPv6 setup. I will let you know once it's finished. Sorry for the delay, but this change affects all network requests and we just want to avoid any regressions.

[2022-05-02 10:28] magomez commented on #805
@kkanag314 please verify the fix and close this if everything is fine.

[2022-05-02 17:51] kkanag314 commented on #805
Thanks @magomez The issue is resolved.

[2022-05-02 17:51] #805 closed, assigned to woutermeek, magomez

[2022-05-03 13:11] magomez commented on #839
Ok, so the inspector that needs to be run inside a wkgtk browser.

Do you have an URL to test this? The normal pluto tv URL doesn't seem very STB friendly, is there an alternative?

[2022-05-04 11:03] przemyslaw-gorszkowski-red commented on #785
@magomez :  our internal verification tests passed without any regression also with IPv6 setup, so you can merge this change. I have 2 suggestions:
1. can you replace printf with LOG(Network?
2. is it really needed to have this ENABLE_NETWORK_CHANGE_DETECTION env?

[2022-05-04 11:14] CM112 opened #841 "[JSC] Webprocess crash with linkPolymorphicCall signature de to SIGSEGV"
This issue is mostly happening in MIPS devices around 95.91 % (pace xg2v2, Samsung xg2v2, arris xg1v1 ..)and the most affected app is amazon

Scenario:
While playing assets of amazon

wpe-commit:
22d6522031250cdeb967101a0fa0cc91f190b84d

full Stactrace:
[stacktrace.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8619721/stacktrace.txt)

[2022-05-04 11:30] magomez commented on #785
Sure, no problem.

Yes, it's necessary because not all users may want this feature enabled, or it may cause regressions to their existent setups. Having the build option (not sure why you call it env) is the best way to keep this feature only to those that want it.

[2022-05-04 11:58] przemyslaw-gorszkowski-red commented on #785
Ah, yes, sorry, I meant build option not env.
Understood

[2022-05-04 13:29] magomez commented on #785
@przemyslaw-gorszkowski-red I've just pushed c3333ad7cc48a19f7bc7260ac18eed3566db0d5c to the wpe-2.22 branch with the fix, using LOG instead of printf as you requested. Please verify and close this if everything is ok.

[2022-05-04 13:58] woutermeek commented on #834
@nrajan002c could you please check the patch?

[2022-05-04 19:56] emutavchi opened #842 "[wpe-2.28] crash in InspectorAnimationAgent"
This was observed on Tubi (https://ott-comcast.tubitv.com/?animationComplete=true&logExposure=true) with HTTP remote web inspector.

[code]

possibly already fixed upstream with https://github.com/WebKit/WebKit-http/commit/3b8dccc11d0e93482e852efdc79a607c4a7cad7b

[2022-05-04 20:19] emutavchi opened #843 "Recording in Timelines tab doesn't work with HTTP WebInspector"
Steps:

- enable HTTP web inspector by exporting WEBKIT_INSPECTOR_HTTP_SERVER
- connect to RWI, select Timelines tab
- try to start recording

Observed: nothing is changing, looks like no data is available. Similar works fine with native ('inspector://') inspector server

- http inspector
![Screenshot from 2022-05-04 16-17-00](https://user-images.githubusercontent.com/114908/166818940-ec4bd78a-d4b

[2022-05-05 08:03] varumugam123 opened #844 "[wpe-2.28] Google DAI & AppleTV+ assets doesn't work"
With wpe-2.28 (f049f40), Google DAI test https://github.com/googleads/googleads-ima-html5-dai/tree/master/hls_js/simple doesn't work. Fails with "ParsingFailed" error.

@emutavchi  pointed that the issue is similar to https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/673. Cherry-picked this https://trac.webkit.org/changeset/266820/webkit change to wpe-2.28 and the Google test works.

Howe

[2022-05-05 08:11] jakub-gocol-red commented on #796
@magomez yes, such solution works and would be acceptable if we don't want to touch timers priorities for all the other users.

[2022-05-05 08:43] varumugam123 commented on #844
Looks like gst also has some influence. Below are the combinations & observations
gst-1.10.4 + wpe-2.22 => AppleTV playback works
gst-1.18.5 + wpe-2.22 => No "ParsingFailed" error, but playback got stuck (I believe the pads are not connected properly)
gst-1.18.5 + wpe-2.28 => ParsingFailed error was observed. After adding #673 I observe similar behavior to the above combination

[2022-05-05 09:20] magomez commented on #796
@jakub-gocol-red I've just pushed 25ae57b7a8cf00d093c8e3e9674a46d2e8eb005e to the wpe-2.22 branch. You can now build with -DENABLE_FRAME_TIMERS_PRIORITY_REDUCTION=ON in order to get the timer priorities you need for that platform. Please, verify that it works and close this if everything is ok.

[2022-05-05 11:05] eocanha commented on #844
I'm going to look into this.

[2022-05-05 12:52] przemyslaw-gorszkowski-red commented on #785
@magomez : thanks, it works as expected, @maciej-kolanski-red  you can close the ticket

[2022-05-05 13:08] #785 closed, assigned to nobody

[2022-05-05 20:11] nrajan002c commented on #834
Hi @magomez  @woutermeek
I have attached the log with debug enabled . [log-.txt]
 (https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8635781/log-.txt)

 Here the url is "https://comcast.play.works/prod/reg/apps/math_time/index.html?parent=portal_4&platform=xglobal&us_privacy=1-N-&lmt=0"

Webprocess got killed at this point,
`2022 May 05 19:36:49.781308 /usr/bin/WPEFramework[23878]:  [Thu,

[2022-05-06 10:02] eocanha commented on #844
Is there any reason why you're not including the lines 830-853 from [the changeset](https://trac.webkit.org/changeset/266820/webkit) in your patch? It looks important to me, because I don't think connecting two pads with different caps (without any kind of renegotiation) can work. Do you know if the new pad (the one from the inserted ads) has different caps than the ones in the old pad?

[2022-05-06 10:43] varumugam123 commented on #844
Hi @eocanha, I didn't cherry-pick the patch directly, rather brought those portion from wpe-2.22 (https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/wpe-2.22/Source/WebCore/platform/graphics/gstreamer/mse/AppendPipeline.cpp#L1222).

I saw the comment regarding the possibility of caps not available in the removed & remaining pads, but was not sure how else we can identify the pad to be connec

[2022-05-06 11:06] varumugam123 commented on #844
I agree on the point that instead of checking just the video / audio type, we can compare the caps.

I haven't seen so far with the assets I tried. But not sure if that would be the case always.

[2022-05-06 13:52] eocanha commented on #844
I've split your patch in two, the original upstream patch and the new improvements. I've generalized the pad matching mechanism in the latest patch of branch https://github.com/WebPlatformForEmbedded/WPEWebKit/commits/eocanha/eocanha-debug-117

If this works for your use case, I guess we can merge it into wpe-2.28 trough a pull request to track the issue. Ok?

[2022-05-06 16:51] varumugam123 commented on #844
Sure @eocanha, Thanks. Let me try those changes and update.

[2022-05-09 05:18] varumugam123 commented on #844
Hi @eocanha, The commits work fine with slight modification on the second patch. It looks like post advertisement the actual content comes with cap (applications/x-cenc) which is different from the ad's cap (video/x-h265). Below are the changes I made
* Use capsMediaType() which takes care of handling "original-media-type", instead of directly getting the cap's structure name
* Remove remainingPad

[2022-05-09 16:31] eocanha commented on #844
The proposed patch is fine. I've submitted it as PR https://github.com/WebPlatformForEmbedded/WPEWebKit/pull/847, keeping your authorship.

[2022-05-09 16:49] #844 closed, assigned to eocanha

[2022-05-10 12:52] magomez commented on #834
I'm afraid the log didn't provide much info, as the buffers that I suspected might be creating the leak seem to be properly created and destroyed.

Before trying any other thing, @nrajan002c , in which commit are you in the wpe-2.22 branch? Do you have 3aac0dbc6518f344ca6245a0a5c76cadc2f776ab , which is a fix for a potential leak that was happening after the commit you mention as the culprit of th

[2022-05-10 12:53] magomez commented on #834
I'm afraid the log didn't provide much info, as the buffers that I suspected might be creating the leak seem to be properly created and destroyed.

Before trying any other thing, @nrajan002c , in which commit are you in the wpe-2.22 branch? Do you have 3aac0dbc6518f344ca6245a0a5c76cadc2f776ab , which is a fix for a potential leak that was happening after the commit you mention as the culprit of th

[2022-05-10 14:07] magomez commented on #842
The URL is geoblocked and I can't reproduce the issue, but the commit you mention seems to be the fix for it. @emutavchi, I've backported the changes and I'm attaching a patch here so you can test whether this gets fixed. Could you give it a try, please? If the patch fixes the issue, I'll commit it to the 2.28 branch.

[fix-web-animations-crash.patch.txt](https://github.com/WebPlatformForEmbedded/

[2022-05-11 12:37] nrajan002c commented on #834
Hi @magomez
This patch 'fix-canvas-leak.patch.txt' patch is resolving the memory leak issue with the mentioned app playback in Amlogic device. I will do some more testing and confirm.
Thanks.

[2022-05-12 15:01] emutavchi opened #850 "[WPE-2.28] MSE MediaSourceDurationH264 test fail"
It looks like edit lists still aren't handled correctly in MSE case. I tried with WPE-2.28 and GST 1.18. MediaSourceDurationH264 test is failing because the duration is above expected. here is the test link:

https://ytlr-cert.appspot.com/2021/main.html?&test_type=msecodec-test&tests=71&command=run#1652367110466

The same is failing with Epiphany (WebKitGTK 2.36.0) and GST 1.16 on my Ubuntu machin

[2022-05-13 17:04] emutavchi opened #852 "[wpe-2.28] web process crash in TextureMapperLayer::paintUsingOverlapRegions"
Reproducible with https://comcast.qvc.com/api/sales/presentation/v1/us/qxh/streaming.  App is either crashing or hanging.

crash call stack:
[code]
local variables:
[code]

Similar behavior is seen on desktop wpewebkit + minibrowser (wpe-2.28):
[code]

[2022-05-13 17:18] emutavchi commented on #852
Same is observed with Epiphany (WebKitGTK 2.36.0)

[2022-05-16 12:58] CM112 commented on #747
hi @guijemont  any updates on this tickets , I can see still the issue is happening in the field

[2022-05-16 15:12] guijemont commented on #747
Unfortunately, I cannot do anything without either a way for me to reproduce the issue, a more complete backtrace (`thread apply all bt full`) and/or a core file and associated build/source.

[2022-05-17 15:07] nrajan002c commented on #834
Hi @magomez
Could you please merge this patch in 2.22 branch ?

[2022-05-17 17:41] emutavchi commented on #842
@magomez it doesn't crash for me with above change.

[2022-05-18 08:59] magomez commented on #834
I've just pushed 5d7f2eeeac252561d8db62a93c07e3f60452ee87 to the wpe-2.22 branch with the patch. Please verify and close this if everything is ok.

[2022-05-18 09:48] magomez commented on #842
Great! patch committed and pushed. Please verify and close this. Thanks!

[2022-05-19 15:16] lauromoura commented on #852
This line in upstream seems to be clipping the rect into valid values, avoiding the segfault. I'm checking how to apply it to 2.28. https://github.com/WebKit/WebKit/blob/222b778a04a940c44d79ed04d7fed708253bcfcd/Source/WebCore/platform/graphics/texmap/TextureMapperLayer.cpp#L358

[2022-05-20 11:09] woutermeek commented on #834
@nrajan002c closing this issue, if anything comes up please re-open.

[2022-05-20 11:09] #834 closed, assigned to nrajan002c

[2022-05-20 11:12] woutermeek commented on #796
@jakub-gocol-red closing this issue, if there is an problem with the fix please re-open.

[2022-05-20 11:12] #796 closed, assigned to magomez

[2022-05-20 11:37] woutermeek commented on #749
@zbigniew-holdys-epam closing this, if there is an issue with this please re-open.

[2022-05-20 11:37] #749 closed, assigned to magomez

[2022-05-23 06:48] woutermeek commented on #842
@emutavchi if an issue comes up with the patch, please re-open.

[2022-05-23 06:48] #842 closed, assigned to woutermeek

[2022-05-23 10:01] Maigre opened #861 "Read-Only file system -> crash the renderer process"
Hi,
i am using Weston / COG / WPE on RPi4.
It works well, but i hit an issue:
as soon as i set the filesystem in readonly,  COG fails to start with:
`Cog-Core-CRITICAL **: 11:45:05.116: The renderer process crashed, exiting...`

Weston desktop alone does not have issue in readonly.

As soon as i re-mount in readwrite, everything works fine, COG does starts properly.

I guess COG/WPE needs some wri

[2022-05-23 10:08] Maigre commented on #861
Ok sorry, i finally found the answer there:
https://github.com/Igalia/cog/issues/44

For the record, best way is to change Environment variable to somewhere writable (in my case /tmp is a tmpfs in RAM):
export XDG_CACHE_HOME=/tmp
export XDG_DATA_HOME=/tmp

Best,

[2022-05-23 10:08] #861 closed, assigned to nobody

[2022-05-26 13:51] Scony opened #865 "[wpe-2.28] Crash on `libWPEWebInspectorResources.so` missing"
As in title, once the `libWPEWebInspectorResources.so` missing, we get:
[code]

[2022-05-27 08:17] #852 closed, assigned to woutermeek, magomez

[2022-05-27 08:21] magomez commented on #865
@Scony how are you reproducing this? libWPEWebInspectorResources.so should be installed when wpe gets installed. Can you provide more information about how this is happening?

[2022-05-27 12:21] varumugam123 opened #867 "[wpe-2.28] Momentary freeze was observed on DAZN app assets"
~1.5 sec freeze was observed on DAZN app with wpe-2.28 (05d16e8387785e49c86c995bc3345c513b6ee417). This was not observed on wpe-2.22 though.

From the analysis it looks like, app tries to do a first seek to 0.8 which triggers the initial seek impl in MSE. By this time, app has enqueued some data to the tracks. Despite the enqueued data, the segment fixer probe was set. The initial seek completes a

[2022-05-29 23:51] ghost opened #869 "[WPE 2.24.3] Local Storage does't work with iframes"
Hi Team
I am looking for a way to share some data among two domains that get opened on the same tab. I have tested this with normal browsers and managed to get it working using iframes and local storage. But that doesn't seem to be working with WPE. Looking for an alternative way to share data among domains from the front end. Any help is much appreciated.

To test my initial approach, first, do t

[2022-05-30 11:03] Scony commented on #865
@magomez Apparently I'm using broken configuration. Nevertheless, the crash should not happen in any case I guess.

[2022-05-31 09:10] magomez commented on #865
That library is a dependency that needs to be installed, like many others as libsoup, GStreamer, EGL, etc. We don't check whether those are available on runtime. We know that they were there in order to build (which is when they were checked) and it's assumed that they will be there when running WPE. In this case, if the library is generated by the WPE build and installed into the appropriate dire

[2022-05-31 12:13] emutavchi commented on #865
@magomez we have deployments where libWPEWebInspectorResources.so is not installed in rootfs. Instead, it is downloaded at runtime immediately after boot, but after the browser has to be launched (i.e. browser is started before device is online). It works fine with wpe-2.22, but it is crashing with wpe-2.28. probably because of HTTP RWI.

[2022-05-31 13:16] magomez commented on #832
@przemyslaw-gorszkowski-red what's the URL I should use to reproduce this?

[2022-06-01 09:27] przemyslaw-gorszkowski-red commented on #832
@magomez : the link to application is: https://widgets.metrological.com/lightning/liberty/2e3c4fc22f0d35e3eb7fdb47eb7d4658#app:nl.peoplesplayground.app.ForeignTV

[2022-06-02 09:14] varumugam123 commented on #867
Hi @woutermeek / @eocanha Could you check this issue?

[2022-06-02 09:33] przemyslaw-gorszkowski-red opened #871 "[WPE 2.22] video hickups after short rewind on dashjs player"
When we play the content on dashjs player(only on version >= 2.6.6) we observe some hickups of the playback at the beginning after short rewind(2-10seconds back).

The list of links of dashjs player: https://reference.dashif.org/dash.js/

I tested on https://reference.dashif.org/dash.js/v4.1.0/samples/dash-if-reference-player/index.html (the first stream from VOD but probably it can be reproduce o

[2022-06-02 09:39] przemyslaw-gorszkowski-red commented on #871
Actually the problem can be also observed when we do short FF, in general the problem can be observed when we do seek to buffered range (or very close to it in case of rewind)

[2022-06-02 09:40] przemyslaw-gorszkowski-red commented on #871
The change in dashjs player which probably "introduces" this problem on WPE: https://github.com/Dash-Industry-Forum/dash.js/pull/2342

[2022-06-02 09:44] eocanha commented on #867
I'm aware of this issue and I haven't forgotten it, but I'm currently still trying to get edit list support working for https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/850.

[2022-06-02 10:05] przemyslaw-gorszkowski-red commented on #871
The recordings of the problematic case in rewind and forward are attached in RDK ticket: https://jira.rdkcentral.com/jira/browse/WPEBROWSER-7 (they are too big to attach them here:() - all seeks there I did to 23 second of the playback

[2022-06-02 13:46] ramkumarpraba opened #872 "WPEWebKit 2.28 with Vulkan backend"
Hi
	I try to run WPEWebKit 2.28 with Vulkan backend instead of openGL . I hope using ANGLE project i can do that . Can anyone in this group kindly help me the steps to build WPEWebKit with Vulkan backend via ANGLE.

Ref : https://github.com/WebPlatformForEmbedded/WPEWebKit/tree/wpe-2.28/Source/ThirdParty/ANGLE

[2022-06-06 06:16] przemyslaw-gorszkowski-red commented on #871
Some analysis base on logs([WPE2.22_video_hickups_after_short_rewind_on_dashjs_player.log.zip](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8842240/WPE2.22_video_hickups_after_short_rewind_on_dashjs_player.log.zip)):
[code]
IMO the flushes the buffers after starting the playback are the reason of this strange hickups.

[2022-06-06 12:10] eocanha commented on #867
@varumugam123, what would happen if you revert the segmentFixerProbe() patch (https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/08b35be6b83f095c40342ffc6bedfac74d333f42)? Maybe that's the one which isn't behaving properly.

[2022-06-06 16:47] eocanha commented on #850
I've been working on fixing this issue upstream in https://github.com/WebKit/WebKit/pull/1020, commit https://github.com/WebKit/WebKit/commit/bf69bf7f9edc397b39b76d90a861362b8182088a. I'm now working on porting it downstream.

[2022-06-07 11:23] varumugam123 commented on #867
Hi @eocanha, the probe is installed when the stream is flushed, but in the scenarios we face issue I don't see any flush happening (please note we skip flushing during seeking)...

Nonetheless, I removed the segmentfixerprobe from PlaybackPipeline.cpp, but the issue remains same...

[2022-06-07 18:58] eocanha commented on #850
https://github.com/WebPlatformForEmbedded/WPEWebKit/pull/878 is the port to wpe-2.28 of the patch.

This patch needs https://github.com/WebPlatformForEmbedded/buildroot/commit/2537f19b77757cf4d20e4b430e5099a4bf2d3487 on buildroot. An wpewebkit version dump has been done there.

[2022-06-08 13:04] modeveci commented on #867
Hi @varumugam123 , Can you provide the DAZN URL you used? Our team is going to reproduce on our setup. Thanks

[2022-06-08 16:07] calvaris commented on #871
I have tried to run [this webpage](https://reference.dashif.org/dash.js/v4.1.0/samples/dash-if-reference-player/index.html) and I can't play anything on the Pi because I don't have mouse support to be able to hit the play button

[2022-06-09 10:48] varumugam123 opened #882 "[wpe-2.28] Black screen on lightning apps when visibility is toggled"
With wpe-2.28 (aa569f0366), on comcast devices we observe blackscreen on an active lightning application if visibility is set first to false & then to true. It looks like the application doesn't realize the visibility change and doesn't make attempt to refresh/render the contexts.

The issue was observed on AppleTV+, HBOMax and other apps.

Steps to reproduce the issue:
Launch any of the Lightning

[2022-06-09 11:16] calvaris commented on #867
I am using wpe-2.28 and I am getting underruns, so buffering and spinner indicating buffering.

[2022-06-09 12:04] przemyslaw-gorszkowski-red commented on #871
You can do this by webinspector via:
document.getElementsByTagName("button")[4].click()
it will load and autoplay the selected stream.

To change the selected video stream I use:
document.querySelector("#desktop-streams > ul > li:nth-child(1) > ul > li:nth-child(2) > a").click()

To make a seek:
v = document.querySelector("video");
v.currentTime=23

[2022-06-09 23:00] luizinhoz opened #883 "buildroot upstream and wpewebkit package"
I started at 2016 a custom project, forked from metrological/buildroot, config rpi3_wpe_defconfig with userland+wpewebkit+wpeframework.
I want to update my outdated project to supports new boards due to raspberry shortage, but I'm confused the best way to proceed.
First I cloned buildroot/buildroot and built a distro with mesa(vc4)+wpewebkit+cog+wayland.
The buildroot wpewebkit get sources from wp

[2022-06-10 12:40] Scony opened #884 "[wpe-2.28] Image looses quality during scaling transition"
The **ACT-1279 | css-supports-transition-scale-image** test case from https://certification.bbctvapps.co.uk/act/client/ test suite (animation tests) fails. Interestingly it also fails on modern Safari 15.1 and modern firefox.
Screenshots:
![screen1](https://user-images.githubusercontent.com/1207385/173065363-b45368eb-03d9-465f-973a-ab8f18e538a4.png)
![screen2](https://user-images.githubusercontent

[2022-06-10 14:47] magomez commented on #832
I've been working on this, but I haven't found a solution yet. What I know so far is that it seems to be a 2.22 specific issue, cause it's not reproducible on 2.28.
There's some weird thing happening when a new element is selected and the previous one is deselected. I see that the app is not following exactly the same order in the operations that are done when scrolling left or right, and that's w

[2022-06-13 07:17] varumugam123 commented on #867
Hi @calvaris, in the cases I have observed the freeze, the data is buffered. Please refer the attached logs which shows when the first two seeks are made the required data is in buffer...

[2022-06-15 10:18] Scony opened #888 "[wpe-2.28] No HTTP/2 push support (libsoup3, glib-networking 2.72)"
Despite having `libsoup3` and `glib-networking 2.72` it looks like WPE WebKit does not support HTTP/2 push i.e. the `ACT-1038 HTTP/2 push support` test case from `Device Tests` section from https://certification.bbctvapps.co.uk/act/client/ test suite is failing.

To run test just open https://certification.bbctvapps.co.uk/act/client on the WPE WebKit browser and pair it with https://certification.

[2022-06-15 10:18] Scony opened #889 "[wpe-2.28] No HTTP/2 stream prioritization (libsoup3, glib-networking 2.72)"
Despite having `libsoup3` and `glib-networking 2.72` it looks like WPE WebKit does not support HTTP/2 stream prioritisation i.e. the `ACT-1036 HTTP/2 stream prioritisation` test case from `Device Tests` section from https://certification.bbctvapps.co.uk/act/client/ test suite is failing.

To run test just open https://certification.bbctvapps.co.uk/act/client on the WPE WebKit browser and pair it w

[2022-06-15 13:24] varumugam123 opened #892 "[wpe-2.28] Contents are not rendered / cleared randomly on lightening apps"
Sometimes when AppleTV is launched, the logo is not rendered (but later the actual home page comes up)... This issue was observed with wpe-2.28 (aaad8c5cdb8d2a7261ca53f17e718259deda528b).

Tried a sample which more or less recreates the issue... Try launching the html with noncompositedwebgl enabled. The logo is not rendered always. If the lightening js load is delayed (by replacing `window.onload

[2022-06-16 14:21] woutermeek commented on #888
@Scony currently it is unclear wether apple will actually ever support this feature. I spoke with @emutavchi could you please check with BBC wether this a real hard requirement or if you could get an exception for it.

[2022-06-16 14:23] woutermeek commented on #889
@Scony this functionality is working upstream. We will backport it to 2.28.

[2022-06-17 18:49] huesla commented on #694
I guess you run this from the same repo (https://github.com/WebPlatformForEmbedded/buildroot)
Trying to build an image for RPI3 I am hitting different errors, but I couldn't fix this one so far...
The repository seems to lack a bit of care and I am asking myself whether one is obliged to use Yocto for building a lightweight distro with WPE

[2022-06-20 07:55] Scony commented on #888
Sure, I'll check and let you know once I got something.

[2022-06-20 08:30] magomez commented on #883
There are 2 different repositories for wpe. There's the main upstream one, currently living in https://github.com/WebKit/WebKit, and the WebPlatformForEmbedded one, which lives in https://github.com/WebPlatformForEmbedded/WPEWebKit.

The first one is the official one, where the day to day development happens, and where the stable releases are coming from. These stable releases (currently 2.36) can

[2022-06-20 08:36] magomez commented on #872
Short answer: at this moment it's not possible to use WPE with Vulkan. It requires OpenGL or GLES instead. And modifying it to use Vulkan is not an easy feat.

Long answer: by performing all the accelerated paintings through ANGLE it should be possible to just switch between different backends, being Vulkan one of them. But nowadays WPE doesn't use ANGLE for that. It's just being used for shared v

[2022-06-21 08:20] Scony commented on #888
`This is still a MUST requirement in our list` - BBC.

[2022-06-21 08:31] magomez commented on #839
@emutavchi , were you able to get some logs of the crash with the patch I sent you?

[2022-06-21 11:18] magomez commented on #839
I've been told that this is not happening anymore and that it can be closed. Please feel free to reopen if needed.

[2022-06-21 11:18] #839 closed, assigned to woutermeek

[2022-06-21 12:31] varumugam123 commented on #892
Hi @woutermeek may I know if there are any updates on this?

[2022-06-21 13:43] magomez commented on #865
Yes, it seems that the problem comes from the HTTP RWI. Before that, the library would be needed only when some client connected to the inspector, but now it's required when the browser is launched, as that's where the inspector server is started and needs to be configured.
I've worked on some changes in order to gracefully handle the scenario that you mention, where libWPEWebInspectorResources.so

[2022-06-21 14:05] Scony commented on #865
Thanks @magomez I'll check it out

[2022-06-21 14:19] magomez commented on #882
This happens because when on nonCompositedWebGL mode, the content is cleared to transparent when the browser is suspended/hidden. When the browser becomes visible/resumed, the application should repaint its content in order to become visible again. This works in general because the application animations will trigger the repaint, but if the app content is static, then the content is not repainted.

[2022-06-21 14:19] magomez commented on #892
I hope I can look into this this week, or next one the later.

[2022-06-22 11:58] magomez commented on #843
I've pushed 8f379305f7766f9ff7a56c799bf952a5fd5967c5 to the wpe-2.28 branch to fix this. Please verify that's working as expected and close this.

[2022-06-22 12:02] varumugam123 commented on #892
Log from the case where the sample app is not showing anything
[code]
Logo was rendered on the first WebGL context but before it is actually displayed (by doing swapBuffer), the second WebGL context is created by Lightning framework. This clears the previously rendered logo. When the swapBuffer is finally called it doesn't have any graphics data.

Another set of logs which shows that if swapBuffer

[2022-06-22 12:05] calvaris commented on #867
From what I see, the app sets playback rate to 0 and that causes the playback to pause. Is there any way to get a debugging version of the app?

[2022-06-22 12:23] magomez commented on #892
I haven't had time to look into this yet, but from this last comment I can tell you that having two webgl contents at the same time is not supported when using nonCompositedWebGL. There has to be a single context performing all the operations. In this case, you can't use a webgl context to render the logo and then create a second context for the lightning app. The lightning app is the one that sho

[2022-06-22 15:35] Scony commented on #865
@magomez it works well on my end, you can ship it.

[2022-06-22 16:39] magomez commented on #865
I've just pushed 2ca0a82359841e9f63b3efdb856aebee58edbfc4 to the wpe-2.28 branch with the fix. Please verify and close this if everything works fine.

[2022-06-22 17:04] magomez commented on #882
This happens on nonCompositedWebGL because there webgl renders directly to the window. When the browser is hidden/suspended, it paints the window transparent, effectively losing the content that the application was painted. When the browser is then shown/resumed, we don't have anything on the window until the application renders something again. And if the application doesn't have animations then

[2022-06-22 21:30] emutavchi commented on #843
Works for me with latest 2.28:

![Screenshot from 2022-06-22 17-29-15](https://user-images.githubusercontent.com/114908/175141932-cac6fdd1-cbee-4b7f-b695-68f5f8febdbb.png)

[2022-06-22 21:30] #843 closed, assigned to emutavchi, woutermeek

[2022-06-23 13:06] magomez commented on #892
Just to be clear here, there's nothing to fix in wpe regarding this. The nonCompositedWebGL mode has this limitation of only allowing a single webgl context existing at every time (cause there can't be 2 contexts rendering to the same window at the same time). The applications need to be modified so the logo is painted by the lightning application, or if they want to use another webgl context to r

[2022-06-23 13:23] magomez commented on #892
Ah, checking the code, I had forgotten that I had to add an extra limitation to nonCompositedWebGL. In some hardware I found that creating several contexts to paint on the same window (one after the other, not at the same time) wouldn't work (the rpi3 and I think there was some other as well). To overcome this I had to use the same glcontext for all of the webgl contexts, so no more contexts neede

[2022-06-23 14:08] magomez commented on #892
I've merged https://github.com/WebPlatformForEmbedded/WPEWebKit/pull/894, but I'm not sure whether that's enough to fix this issue. And even if it's enough to fix it, I can't guarantee that there won't be other glitches happening because of the way the logo is being rendered.

[2022-06-23 15:01] emutavchi opened #897 "wpe-2.28 - window.close() doesn't work"
it is blocked because app wasn't opened by JS:

[code]

wpe-2.22 has API (WKPreferencesSetAllowScriptsToCloseWindow) that allows configuring browser instances to allow apps to close the window. A similar is needed for wpe-2.28 with GLib APIs

[2022-06-24 08:10] woutermeek commented on #882
@michielvandergeest @erikhaandrikman would this be something to handle in the Lighting SDK?

[2022-06-24 08:18] michielvandergeest commented on #882
If I understand correctly we're talking about adding some event listener that triggers the renderer to do a repaint to make the content visible again. Basically automating the behaviour that can now be achieved by a user input or an animation.

Possibly we can add that to the Lightning-SDK yes. I'm just not sure how this visible event is being emitted? Is that a browser event?

[2022-06-24 08:23] woutermeek commented on #882
Yes, there is a native event for it.
https://developer.mozilla.org/en-US/docs/Web/API/Document/visibilitychange_event

[2022-06-24 08:30] michielvandergeest commented on #882
Cool! Yeah, we can get this functionality added on a separate branch of the SDK early next week, so we can test if it resolves the problem.

[2022-06-24 08:31] woutermeek commented on #882
That would be awesome!

[2022-06-27 10:20] rychem commented on #832
@magomez would you please share any update on this issue?

[2022-06-27 10:30] magomez commented on #832
I haven't been able to work on it during the last days due to some high priority tasks, but I plan to return back to it as soon as possible. I'm sorry for the delay :(

[2022-06-27 13:31] michielvandergeest commented on #882
I've pushed a potential fix for this issue to the `fix/visibility-toggle-black-screen`

@magomez are you able to test if this solution indeed solves the issue?

[2022-06-27 20:23] #883 closed, assigned to nobody

[2022-06-27 20:23] luizinhoz commented on #883
thank you!

[2022-06-28 08:46] carlosgcampos commented on #889
The test doesn't work on main either, so there must be something else. I've tried and we get a socket timeout in libsoup. I've also tried with curl and wget2 and they both fail too, but works with chromium.

[2022-06-28 08:47] carlosgcampos commented on #889
Could it be that this test requires push too?

[2022-06-28 08:59] Scony commented on #889
@carlosgcampos no idea - I guess we'd need a push implemented to find out.

[2022-06-28 09:19] woutermeek commented on #892
@varumugam123 please see @magomez his comments. Either do not use nonCompositedWebGL or make sure they use Lightning (or at least the same context) to render the logo.

[2022-06-28 09:19] #892 closed, assigned to woutermeek

[2022-06-29 10:42] carlosgcampos commented on #889
I've enabled push support in settings (even when it's not implemented) and the test still fails, but at least now it can continue without hanging, so it seems this test requires push support.

[2022-06-29 10:53] woutermeek commented on #888
@Scony I spoke with Anil on the topic, and a waiver will be requested. So we won't be implementing this.

[2022-06-29 10:53] #888 closed, assigned to nobody

[2022-06-30 08:47] woutermeek commented on #882
@varumugam123 Could you check with the updated SDK if that resolves the problem?

[2022-06-30 12:08] woutermeek commented on #865
@Scony closing this issue, please re-open if an issue occurs with the fix.

[2022-06-30 12:08] #865 closed, assigned to woutermeek

[2022-07-01 09:29] rychem commented on #832
Thanks @magomez
Do you maybe got already more clear view when investigation could be continued?

[2022-07-05 07:44] #897 closed, assigned to woutermeek

[2022-07-05 07:46] magomez commented on #897
@emutavchi , a fix for this was merged in the wpe-2.28 branch, could you verify and close this if everything's ok?

[2022-07-05 10:09] varumugam123 commented on #882
It looks like AppleTV+ is not using Lightning-SDK (it is directly using Lightning Core components). So that change in Lightning-SDK wouldn't solve AppleTV+ issue.

Also, when I tried a sample lightning app built using the steps mentioned in https://lightningjs.io/docs/#/getting-started/CreateApp/index, what I see is the visibility change doesn't cause any issue i.e there is no black screen observe

[2022-07-05 10:57] varumugam123 commented on #882
I stand corrected... The behavior I observed with the test lightning app (no black screen on visibility change) was because of the animation the app has i.e it periodically refreshes so it didn't really simulate the issue being discussed.

I tried removing the animation part from class App and that reproduces the issue. Now, I see black screen when I toggle visibility. I tried applying the change

[2022-07-05 11:15] varumugam123 commented on #882
Hi @woutermeek @magomez @michielvandergeest Could you please review my comments and this workaround #903

[2022-07-05 11:26] michielvandergeest commented on #882
@varumugam123 I have not been able to fully test the fix locally because I didn't have access to a device to test this on that displays this behaviour.

What I'd like to understand is what part of the proposed SDK solution doesn't work:

1) the visibility change call back doesn't run?
2) the callback runs, but the refocus, doesn't force a repaint

Would you be able to test this by adding a breakpo

[2022-07-05 11:29] varumugam123 commented on #882
Hi @michielvandergeest, the callback is invoked and it even calls the refocus(), but then there is nothing on the screen...

![image](https://user-images.githubusercontent.com/29426674/177317774-64fc263c-c724-4d46-aaec-948878f9be24.png)

[2022-07-05 11:45] magomez commented on #882
So it seems that the lightning fix is not valid because of the curious way the apps are using the framework. I'll have to fix it on the browser side then. Let's see if I can figure out a reliable way to do this without breaking the app's rendering.

[2022-07-05 12:00] michielvandergeest commented on #882
@magomez there might be a different way to force a repaint. We'll be looking into that in the next days

[2022-07-05 14:25] Scony opened #904 "[wpe-2.28] huge memory usage spike while compositing"
hi,

I've found pretty interesting memory usage spike during memory usage analysis in: https://sky.play.works/service/apps/portal/index.html
Here's how it looks like:
![Screenshot from 2022-07-05 10-36-38](https://user-images.githubusercontent.com/1207385/177348332-e1b68c65-72c6-4ce2-8ff7-2563cf306c1b.png)
I've gathered the data on desktop by running `MiniBrowser` under valgrind (massif) with `Mal

[2022-07-06 09:11] magomez commented on #884
I've just pushed c57bfa7656248b61c5458feb98786b1337f091dc to the wpe-2.28 brach as a fix for this. Please verify and close this if everything is fine.

[2022-07-06 09:29] Scony commented on #904
Just a note: the sprite used by the portal (https://sky.play.works/service/apps/portal/data/img/textureMap0.png) has the size of exactly `1409x986` but I'm nor sure how its size may impact compositing

[2022-07-06 10:20] magomez commented on #904
Arg, I wrote an explanation here about what's happening in this case but I guess I forgot to press the comment button or something because I can't see the comment now :(

Anyway, as you mention @Scony , there's a sprite with all the application covers whose size is 1409x986. That sprite is being set as the background-image of several divs, each one with an offset, in order to paint the application

[2022-07-06 10:50] Scony commented on #904
@magomez are you able to point which commit(s) changes this?

[2022-07-06 11:21] Scony commented on #884
@magomez the https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/c57bfa7656248b61c5458feb98786b1337f091dc fixes the issue, thanks!

[2022-07-06 11:21] #884 closed, assigned to woutermeek, modeveci

[2022-07-06 12:38] magomez commented on #904
I'm afraid this was not changed by a single commit, but it was a whole reimplementation of the way layers are passed to the compositor stage. We can't just go back to the way things were done in 2.22 without having to revert a lot of changes that affect several classes.

[2022-07-06 14:00] michielvandergeest commented on #882
@varumugam123 @magomez I've added a new commit to the fix-branch that might solve the problem: https://github.com/rdkcentral/Lightning-SDK/tree/fix/visibility-toggle-black-screen

Can you give it a try?

[2022-07-06 14:04] Scony commented on #904
@magomez would it be possible to improve that implementation without reverting anything then?

From the memory usage standpoint this is a severe regression... In `2.22` the SYS memory usage peaked at 100MB and GPU memory usage peaked at 26MB while now, in `2.28`, SYS memory peaks at 209MB and GPU memory peaks at 186MB (ofc. high GPU memory usage is the consequence of the changes you described as t

[2022-07-06 14:19] magomez commented on #904
I'll give it a look and see what can be improved.

[2022-07-07 14:22] Scony opened #905 "[2.28] Missing memory measurements in Inspector/Timelines/Memory"
as in title, `Page`, `Layers`, and, `Images` memory measurements are missing, see:
![Screenshot from 2022-07-07 16-17-26](https://user-images.githubusercontent.com/1207385/177796783-29a3e6b3-6e8e-4fa5-a434-7e79a834c10e.png)

[2022-07-07 15:04] frank-weindel commented on #882
@varumugam123 A version built into Lightning Core to try:
https://github.com/frank-weindel/Lightning/tree/feature/visibility-refresh

[2022-07-08 10:32] varumugam123 commented on #882
Hi @frank-weindel, WIth the above change I am able to see the content after visibility changes i.e (hidden -> visible)...

[2022-07-08 12:06] ghost opened #906 "i.MX6 - not event getting 1fps 720p video playback"
In i.MX6 - not event getting 1fps 720p video playback. but smooth playback with gstreamer. ?

[2022-07-13 06:28] ryadav115 opened #908 "Webprocess crash with JSValueToStringCopy signature"
The crash is being observed with the signature "JSValueToStringCopy" in mips device: Pxg1v2

Affected Wpe Versions: [2.22.4](https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/ed39c92e596238c3eb434d2388177bc61ca90f38)

**Frequency**: 0.15% (based on launches => 10 crashes/6351 launches)

**Steps for Reproduction:**
1. Load pace v2 with PX022AN_5.2p3s1_PROD_sey
2. Tune to QAM and playback f

[2022-07-15 06:41] simi-mathew opened #910 "readyState during seeking - difference between wpe2.28 vs firefox/chrome/wpe2.22"
Attached is a sample app showing the difference between wpe-2.28 vs wpe-2.22/firefox/chrome, in the readystate during seeking and events sent out after seek is done
[seek-five-seconds-tv.html.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/9118414/seek-five-seconds-tv.html.txt)

Buffered range [0,119]
Seek 5s after play starts.

When seek is initiated, readyState moves to HAVE_METAD

[2022-07-15 11:43] magomez commented on #904
For the record, this is being handled in https://bugs.webkit.org/show_bug.cgi?id=242394

[2022-07-15 12:33] magomez commented on #905
I reported this upstream, as inspector issues usually happen there, and it was handled on https://bugs.webkit.org/show_bug.cgi?id=242500. A limitation was commented there, that WPE doesn't report the memory used by image, layers and page cathegories, becase we don't gather that data. So the fix added the possibility to show the memory used by JS and a new cathegory with the memory used for non JS.

[2022-07-15 14:54] Scony commented on #905
@magomez there is small `Edit` button bottom right to the red dot.

[2022-07-15 15:05] magomez commented on #905
Ah, found it! Ok, the 2 categories seem to be there, one for JS memory and the other one for the page, that includes all the memory that's not JS.

[2022-07-15 15:07] Scony commented on #905
Good, let me know once we got it in `2.28`

[2022-07-15 15:11] magomez commented on #905
Already there! 0da3c2c144202a2302b72414e72a17abdc3d284c

[2022-07-15 15:20] Scony commented on #905
That's good news. I'll test it Monday and close if all good. Thanks @magomez

[2022-07-17 14:40] dschinnerl commented on #694
[code]
Although I got another error afterwards ("No rule to make target 'install/fast'.  Stop.") I changed `Makefile` to call `preinstall` for `install/fast` too:

[code]

Maybe it helps someone (`raspberrypi3_wpe_defconfig`).

[2022-07-18 10:44] Scony commented on #905
Indeed it shows something. I'm assuming it's not a total memory, right @magomez?

[2022-07-18 10:49] magomez commented on #905
There are 2 cathegories. One is the memory used by JS and the other is the memory used by everything else except JS. The total should be the sum of both.

[2022-07-18 10:55] Scony commented on #905
@magomez what I mean the sum of the 2 is not the total from OS perspective, right? The page mentioned https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/904 reports total of ~40MB in inspector while from OS perspective it's much more, is that fine?

[2022-07-18 11:33] woutermeek commented on #882
Glad that it got resolved, closing this issue now. Thanks @frank-weindel  @michielvandergeest  for the support.

[2022-07-18 11:33] #882 closed, assigned to woutermeek

[2022-07-19 08:56] magomez commented on #905
For me it's reporting ~40MB in JS, but ~100MB in the page category.
What you should ideally see is a spike to around ~240MB in the page category for a moment, and then it will go back to around ~100MB there. That spike is the one caused by the imageBacking buffers that are being created and sent to the compositor. The problem is that those buffers have a very short file, so if the memory measureme

[2022-07-20 14:24] magomez commented on #832
Sorry for the delay folks. I've working on this during part of the last week and this one. The problem is that the styles code changed a lot from 2.22 to 2.28 (where it doesn't reproduce), so I cannot use 2.28 as a reference to see how the styles should be properly applied. So I have to fix it for the concrete 2.22 version, which is being very complicated because the styles code is huge and comple

[2022-07-20 15:14] Scony commented on #905
Okay, confirmed same results on my end - on desktop. I think it's good enough for now, thanks!

[2022-07-20 15:14] #905 closed, assigned to woutermeek

[2022-07-21 11:25] rychem commented on #871
@calvaris would you please share whether there is any progress of issue investigation?

[2022-07-22 10:58] calvaris commented on #871
I have other priorities, it's still on my to-do.

[2022-07-25 07:54] rychem commented on #871
Would you be able to estimate when it could investigated?
Issue is being openned almost for 2months without initial assessment by Metrologica/Igalia.

[2022-07-26 09:06] woutermeek commented on #871
@rychem Unfortunately we have not had the resources available to look at this issue yet. We are working hard to get to this as soon as we can. It is hard to give an actual estimate because of the priority tasks that we are currently on. Please note  that as soon as we have some one available this will be the first issue to be picked up.

[2022-07-26 16:06] nrajan002c opened #916 "Canvas game is not working in few platforms"
Hi @magomez
After this code change https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/5d7f2eeeac252561d8db62a93c07e3f60452ee87 , it is causing regression issues few other platforms.
" A black screen with Audio seen after the Ad in Food Smash Game" is observed.

We will attach the logs and platform details shortly.

[2022-07-27 08:53] jakub-gocol-red opened #917 "[WPE 2.22] Smoothstreaming content is unwatchable with limited bandwidth"
When smoothstreaming content is played with bandwidth lower than lowest representation bit rate, video plays in slow motion and audio is not synchronized with video (video might get stuck and audio is playing smoothly or opposite).

Steps to reproduce:
1. Limit bandwidth to 2mbps
2. Put [this](http://amssamples.streaming.mediaservices.windows.net/683f7e47-bd83-4427-b0a3-26a6c4547782/BigBuckBunny.i

[2022-07-27 11:38] coderscollection commented on #916
**Apologies. My name is john.nessworthy from the apps team in sky. I accidentally used my own git account to comment.**

Issues observed on llama device. The problem is that running play.works/food smash results in a black screen appearing after the ads in QS009.   The ad appears when the application is started - with the result that the actual game screen never appears. This is 100% reproducible.

[2022-08-01 13:24] carlosgcampos commented on #889
I've seen this in the test code: `'Response has been received from HTTP2 endpoint indicating push is not allowed, meaning stream priority support will never work`. So, I think what this is testing is prioritization of push promise frames and push support is required for this test.

[2022-08-02 14:43] woutermeek commented on #832
@rychem as discussed in the call, please check internally whether it is acceptable to keep this bug in 2.22 since it is not reproducible in 2.28 and a lot of work to resolve in 2.22.

[2022-08-04 13:23] rychem commented on #871
@woutermeek in reference to last RDK Browser Working Group and my AP to precise priorities.
We would like to ask to prioritize this issue (https://jira.rdkcentral.com/jira/browse/WPEBROWSER-7) over https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/917 (https://jira.rdkcentral.com/jira/browse/WPEBROWSER-9)

[2022-08-04 13:25] rychem commented on #917
@woutermeek in reference to last RDK Browser Working Group and my AP to precise priorities.
We would like to ask to prioritize issue https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/871 (https://jira.rdkcentral.com/jira/browse/WPEBROWSER-7) over this issue (https://jira.rdkcentral.com/jira/browse/WPEBROWSER-9)

[2022-08-04 16:05] asurdej-comcast opened #919 "[2.28] Video poster doesn't disapear with playback start"
Test page: https://asurdej-comcast.github.io/poster.html
1) Press "Load" button (video.load())
2) Press "Async play after 2sec" (video.play() after 2sec timeout)

Once video is started the poster is still there. It doesn't disappear. Behaves differently with different order/timing of load()/play()/autoplay
Video playback works fine in the background but it is covered by poster.
Triggering any repa

[2022-08-07 19:56] rychem commented on #832
@woutermeek after consultation with Apps Team stakeholders, issue was accepted for WPE2.22.
We can close the ticket as won't fix.

[2022-08-12 14:30] Scony commented on #904
Tested backport of the fix (https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/df8e110fba7f876335131fb7905a5f2d3ede6a65) with 2.28 on STB and the results are good enough.

[2022-08-17 08:15] #832 closed, assigned to nobody

[2022-08-17 09:07] Scony commented on #904
To be more precise: `wpe-2.28` with fix behaves much better now, but it looks like it still keeps some extra `Nicosia::Buffer`s in comparison to `wpe-2.22`. In case of play.works portal (https://sky.play.works/service/apps/portal/index.html) the difference is ~20MB.

For closer look, one can analyze the massif (valgrind) output from running play.works portal (https://sky.play.works/service/apps/po

[2022-08-17 12:48] magomez commented on #904
I've been giving a look to both Zan's patch and the difference in memory usage that you mention @Scony. With Zan's patch the imageBackings are now shared, which is awesome, and removes the extra 100MB of memory usage in this case. Great. He will soon commit the patch upstream and then I'll backport it 2.28 and this problem will be fixed.

Then, regarding those extra 20MB that you mention, this is

[2022-08-17 14:59] Scony commented on #888
@woutermeek the apple allegedly supports this issue now with Safari Version 15.6 (17613.3.9.1.5) - can we reopen this issue?

[2022-08-19 05:37] simi-mathew opened #924 "[wpe-2.22] - regression from commit b4fdd980207af05ce9cc295eb4710160bb04db4b"
Reproduction
URL - https://widgets.metrological.com/lightning/comcast/3feddb77050929e6dac000ad7064cb91?lmt=0&us_privacy=1-N-#app:com.metrological.app.France24
Devices impacted - comcast x1,xclass devices
The changes from https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/b4fdd980207af05ce9cc295eb4710160bb04db4b results in a stalled event after the timeout of 3s and the app displays a spinn

[2022-08-22 12:07] eocanha commented on #910
The truth is that [the spec](https://w3c.github.io/media-source/#mediasource-seeking) doesn't mandate to reset the readyState to HAVE_METADATA (1) when you're seeking to an already buffered area. That's why readyState remains as HAVE_ENOUGH_DATA (4) in our case.

Still, if both Chrome and Firefox do it, it must mean something.

[2022-08-22 15:15] eocanha commented on #910
Merged https://github.com/WebPlatformForEmbedded/WPEWebKit/pull/912 (but won't upstream it for the reasons mentioned in the PR). Closing issue.

[2022-08-22 15:15] #910 closed, assigned to nobody

[2022-08-23 13:44] magomez commented on #919
@asurdej-comcast , I've just pushed c526579eca9d6c3130c9322da18d77983d0a6039 to the wpe-2.28 branch, that should gix this issue. Could you verify the fix and close this if it works? Thanks!

[2022-08-23 15:14] asurdej-comcast commented on #919
@magomez Thanks! Your fix seems to work fine, checked both PC (x86) and wpe device. I will perform final verification tomorrow once I got complete build and will close the issue.

[2022-08-24 12:03] Scony opened #928 "Buffering rate algorithm issues"
There's an application which loads data into source buffers and waits for `readyState > 3` (that is, HaveEnoughData) to start playing. The problem is, `monitorBufferingRate()` function is being called at very different intervals and thus the moving average calculation is very inaccurate. It results in `readyState` being at `3` for very long while (or for ever) in some cases.
If the `readyState` is

[2022-08-25 15:20] jacek-skiba-red commented on #784
Noncomposited mode disables the render loop for the DOM tree and CPU cycles are saved with that. This mode should be enabled only for apps which use only WebGL (eg. [Lightning framework](https://lightningjs.io/docs/#/what-is-lightning/index)) for apps rendering. This mode is not working with HTML5-based apps.

Noncomposited mode is one of the features which is only present in WPE. Functionallity d

[2022-08-25 20:55] rychem commented on #871
@woutermeek is there any progress on this ticket according to our prioritization arragement?

[2022-08-26 08:24] woutermeek commented on #871
We've seen the priority update, unfortunately we did not have an engineer available yet to look into it.

[2022-08-26 08:25] eocanha commented on #871
I've taken over this task, reproduced the hiccups locally by seeking from ~10s to 2s on the first VOD stream ("VOD (Static MPD) --> [DASH-IF] SegmentBase, ondemand profile":
https://dash.akamaized.net/dash264/TestCases/1a/sony/SNE_DASH_SD_CASE1A_REVISED.mpd) and analyzed the locally collected logs.

There's an initial enqueue, then the expected seek and enqueue, and then two flushes and reenqueues

[2022-08-26 13:05] eocanha commented on #871
I keep thinking that stress in the video decoder is a real problem (but out of our control). The decoder just can't clean itself quick enough and decode a bunch (~2 sec, the new [0, 2] ones, as 0 is the sync frame) of delayed buffers quick enough to try to produce the new next buffer (2.002) on time to be displayed in real time.

Analyzed the PTSs of the decoded buffers on Raspberry Pi (OMX) and t

[2022-08-26 13:06] magomez commented on #904
I've just pushed e738fffe836aa8c895f368819d7a5ac32ddadfe1 to the wpe-2.28 branch, with the backport of the fix that Zan created for https://bugs.webkit.org/show_bug.cgi?id=242394. This should fix the memory peak by reusing the same buffer for all the ImageBackingStores, and also should reduce those extra 20MB present after the first version of the patch. It may not remove all those extra 20MB beca

[2022-08-26 13:08] magomez commented on #919
@asurdej-comcast were you able to verify this?

[2022-08-26 13:09] jacek-skiba-red commented on #924
@simi-mathew most probably this commit is fixing the stalled event in France24 progressive playback: 6b2c308
Please confirm.

[2022-08-26 15:42] asurdej-comcast commented on #919
@magomez Yes, it works perfectly fine now. We can close this ticket. Thanks again for your help

[2022-08-26 15:42] #919 closed, assigned to woutermeek

[2022-08-29 09:36] Scony commented on #904
Tested on desktop and that 20 extra MBs are gone. I'll close the issue once I confirm the same on the STB. So far it looks good tho.

[2022-08-29 11:35] simi-mathew commented on #924
@jacek-skiba-red
I had checked with the changes in https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/6b2c308873ae42e9ffd87a189c96541a3735dcfc and that does not fix the issue

[2022-08-30 12:33] magomez commented on #916
@nrajan002c , is the page showing the error accesible? could you share the link?

I'll try to reproduce this with the rpi, but I'm afraid it's going to work properly. In that case, I'll prepare a patch with some logging for you to run the problematic scenario and send me the result back. Let's see if I can pinpoint the problem from that log.

[2022-08-30 13:19] magomez commented on #916
I found the food smash game in https://sky.play.works/service/apps/portal/index.html, but it doesn't show any add when launching.  I see the game logo with a loading page, then a spinner becomes visible for a while and then the main menu is shown, but no add.

[2022-08-30 15:38] Scony commented on #904
Fixed on STB as well. Thanks!

[2022-08-30 15:38] #904 closed, assigned to woutermeek

[2022-09-05 07:12] cmurug728 opened #931 "WebProcess[JSC] crash with unlink signature"
This issue happens when memory pressure is high and GC is triggered and Webprocess killed with a hang crash
This issue only occurs with mips devices , It is not specific to any app
Webkit commit : 3a5aeccf6a306a2cb8a4cddc6add36a3aa6a1c78

Callstack:
`[ 00 ] unlink ( CallLinkInfo.cpp:98 )
[ 01 ] unlinkIncomingCalls ( CodeBlock.cpp:1835 )
[ 02 ] ~CodeBlock ( CodeBlock.cpp:894 )
[ 03 ] specializedSwe

[2022-09-05 07:14] cmurug728 commented on #931
[8d3bdcf6.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/9487515/8d3bdcf6.txt)

[2022-09-05 09:33] cmurug728 opened #932 "WebProcess[JSC] crash with findCommon signature"
It is specific to mips platform , This issue mostly seens in HBO max and paramount app

**Common Scenario among crashes:**
While playing assets in HBO max
Callstack:
`Thread 0 (crashed)
 0  libWPEWebKit-0.1.so.2.2.6!unsigned int WTF::findCommon<WTF::StringView>(WTF::StringView const&, WTF::StringView const&, unsigned int) [StringCommon.h : 520 + 0x8]
 1  libWPEWebKit-0.1.so.2.2.6!WTF::StringView::

[2022-09-05 10:37] rychem commented on #871
@eocanha would you please share whether there is any progress on this issue?

[2022-09-05 13:58] eocanha commented on #871
I've been working on this all previous week (W35) and confirmed my impressions about the hiccups being caused by the stress that the flushes and reenqueues put on the video decoder. There's no way to avoid those flushes from WebKit, because WebKit directly enqueues the appended samples for playback, and if those samples are deleted or overwritten (the two cases happening here), the only reasonable

[2022-09-06 12:09] eocanha commented on #871
I've come up with a patch for dash.js (published in [this branch](https://github.com/eocanha/dash.js/commits/eocanha-4.1.0)) that solves the problem on [dash.js 4.1.0](https://github.com/Dash-Industry-Forum/dash.js/commits/v4.1.0):

https://github.com/eocanha/dash.js/commit/61192710c03144e620be5f25b482704dfbd5ffd1

[2022-09-06 22:53] jacek-skiba-red commented on #916
I checked cross-platform behavior:
* open https://sky.play.works/service/apps/portal/index.html
* start "lol omg" game
* video with ad is shown on chrome
* video with ad is not shown on WPE2.22 / WebKitGTK 2.36.6 / Firefox
    * on WPE2.22
        * we are not loading ad URL
        * settings.js file from 'lol omg' game has section 'adsSettings' which looks ok

[2022-09-08 13:43] jaroslaw-bojko-red opened #935 "[WPE-2.22] Change color scheme in CairoGlSurface"
ImageBufferData::createCairoGLSurface creates a texture which will be used by Cairo to render accelerated content. Cairo inside library executes glTexSubImage2D method to update the canvas with GL_BGRA_EXT parameter as color order.

According to https://registry.khronos.org/OpenGL-Refpages/es2.0/xhtml/glTexSubImage2D.xml documentation we need to use the same color order in glTexImage2D (from Image

[2022-09-08 14:00] rychem commented on #871
@eocanha many thanks for your investigation and proposed fix ! Especially it was not an easy case.
Is my understanding correct that you will be planning to submit PR for dash.js master/development branch to get it on newest dash.js release?

[2022-09-08 14:03] jaroslaw-bojko-red commented on #935
Issue can be reproduce on
[canvas_bgra.html.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/9527425/canvas_bgra.html.txt)
(change file extenstion from html.txt to .html and run file on webserver, works on: python3 -m http.server 8000)

With the fix:
Small squares change in top left corner, in order: red,gren,black.

Without the fix:
Small squares do not change the screen is still

[2022-09-08 17:45] eocanha commented on #871
I've rebased it to the latest dash.js development branch and submitted https://github.com/Dash-Industry-Forum/dash.js/pull/4039. Let's see if they like it and decide to merge it on version 4.5.

[2022-09-08 19:08] rychem commented on #871
Thank you Enrique very much.
We are closing then internal ticket with reference to dash.js version 4.5 as potential fix holder and recommendation for app vendor for upgrade.

[2022-09-09 12:35] eocanha commented on #871
Take into account that there's no guarantee yet that the change is going to be merged on dash.js. It would be advisable to suggest your app vendor to use their own patched version in the meantime.

[2022-09-12 11:34] Scony opened #937 "[wpe-2.28] CSS - `drop-shadow` filter problems"
In BBC test suite there are 2 test cases using `drop-shadow` filter in different contexts:
https://certification.bbctvapps.co.uk/act/test/ui/187/css-supports-shadows/
https://certification.bbctvapps.co.uk/act/test/ui/187/css-supports-filter/
In both cases, latest WPEWebKit 2.28 (and even latest https://github.com/WebKit/WebKit/commit/3142453d3762d579cda8a4f04041598e31e584ab) randomly yield wrong r

[2022-09-13 07:16] jacek-skiba-red commented on #871
Hello,

* on dashjs version 3.1.1 I see that player is triggering buffers removal from near future, which is causing flush (stuttering)
    * setting fastSwitchEnabled to true/false is not changing player behavior
    * on this version your above PR is valuable
* on latest dashjs version (4.4.1) I see different behavior
    * buffers from future are never removed
    * stuttering exists, but the r

[2022-09-13 13:51] eocanha commented on #871
I think the problem you comment is a different one from the one I solved. I think I experienced something similar on 4.1.0 a couple of times (update of a buffered range, unrelated to deletions, but which conflicts with already enqueued ranges and causes a flush). I thought it had been solved with fastSwitchEnabled=false.

Things go better in Chrome because it's being run on a desktop system (more

[2022-09-13 14:58] Scony opened #940 "[wpe-2.28] progressive player won't auto-recover from pause for buffering"
In spotify, in podcasts like: https://traffic.megaphone.fm/GLT1088269427.mp3?updated=1658883254 which use progressive player, the seeking results sometimes in pause due to `[Buffering] Pausing stream for buffering.` which - from time to time - won't recover automatically.
The same can be observed in `Progressive Tests` section from YT test suite: https://ytlr-cert.appspot.com/2021/main.html

[2022-09-13 15:34] magomez commented on #935
I've been testing this on the rpi. As I expected (otherwise we would have had a lot of bugs prior to this), the texture created for the canvas there is GL_RGBA and everything works fine. The same happens with the desktop.

The testcase that you provided works perfectly there. The js call to putImageData triggers the creation of an intermediate cairo_surface_t that's used to paint the passed data o

[2022-09-14 13:06] magomez commented on #916
@nrajan002c could you, please, test the patch that I'm attaching and check whether it fixes the problem for that platform? Also, if you could also check whether it breaks any of your other platforms it would be awesome. It works for me on the hardware that I have, and I don't expect it to cause a regression, but just in case.

[916.patch.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/fil

[2022-09-15 10:07] jacek-skiba-red commented on #871
I'm reproducing this issue all the time on WPE2.22 an Chrome, with fastSwitchEnabled equal to false.
Attaching devtools output:

![dashjs_4 4 1](https://user-images.githubusercontent.com/42027818/190376142-620154e9-348c-431f-a310-f2253e92addd.png)

The problem is that fastSwitchEnabled works when we want to move to higher resolution, which in not done in our situation. We are getting initializatio

[2022-09-19 12:56] Scony opened #944 "[wpe-2.28] websocket closure yields wrong close status code - 0"
In some corner-case triggered by this BBC test case: https://certification.bbctvapps.co.uk/act/test/networking/v1.3.1/websocket-client-initiated-closure/ the websocket closure yields `0` status code.

The `0` status code should not be used as per websocket RFC: https://www.rfc-editor.org/rfc/rfc6455.html#section-7.4.2
[code]
The problem with `0` being returned originates in:
https://github.com/Web

[2022-09-20 11:45] jaroslaw-bojko-red commented on #935
@magomez Also in our reproduction the problem was not observed on rpi, or on the device with the same graphic module as rpi.

I applied the patch, two changes were not included, most probably because of the version mismatch. (on the device we have cairo 1.14.6-r0)
`patching file src/cairo-gl-surface.c
Hunk #16 succeeded at 412 with fuzz 1 (offset -2 lines).
Hunk #17 succeeded at 441 (offset -2 lin

[2022-09-20 15:41] eocanha commented on #871
@rychem, https://github.com/Dash-Industry-Forum/dash.js/pull/4039 has been merged into dash.js upstream as https://github.com/Dash-Industry-Forum/dash.js/commit/2935efa2b1b1f8493b5e3aab2e226be18cedd0e3. It'll be available in the next dash.js release.

The patch has gone through some changes compared with the original one I posted here. In particular, remind your app vendor that, **in order for the

[2022-09-20 15:42] eocanha commented on #871
Closing.

[2022-09-20 15:42] #871 closed, assigned to nobody

[2022-09-21 08:37] Scony opened #946 "[wpe-2.28] background flickering when using CSS transforms"
I've recently tested ACT-1434 test case from BBC test sute on various webkit-based browsers and it looks like there are some evident problems related to the CSS transforms. In the test case - https://certification.bbctvapps.co.uk/act/test/ui/364/css-supports-transform-2/ - red background is hidden underneath rails using CSS transform for displaying. The test case starts with global movement across

[2022-09-21 11:07] jacek-skiba-red commented on #935
@magomez issue is reproducible on devices with GPU VideoCore 5 or 6. Currently only RPi 4 Model B has VideoCore VI. All others RPI use VideoCore IV.

[2022-09-21 12:27] magomez commented on #935
Ah, that explains a lot! I'm using 1.16 here. I've just given a look to the differences in cairo-gl-surface.c between those versions and 1.14 is missing the part that should force the usage of GL_RGBA and convert the image to that format. That's why on your platform it uses GL_BGRA. Please, update cairo to 1.16.0 and your problem should be gone.

If your curious, the part that's missing is inside

[2022-09-21 13:22] Vexatuspl opened #947 "WPE image for RPi4 - buildroot errors"
When trying to build image with the default config:
`raspberrypi4_wpe_defconfig`

I get the following error:
`Makefile:578: *** wpebackend-fdo is in the dependency of cog that has added it to its _DEPENDENCIES variable without selecting it or depending on it from Confi.in.  Stop.`

After modyfing following lines in ".config":
`# BR2_PACKAGE_COG_PLATFORM_FDO is not set` into
`BR2_PACKAGE_COG_PLATFO

[2022-09-22 13:25] jaroslaw-bojko-red commented on #935
Hi @magomez I updated cairo to 1.16.0 and the problem is gone as you suspected. The canvas updates without GL_BGRA.
Thank you for the support and explanation about differences between versions.

[2022-09-22 13:25] #935 closed, assigned to nobody

[2022-09-27 12:48] vinaybhat83 commented on #932
@cmurug728  If this is specific to MIPS device, we should either close this or deprioritize it.

[2022-09-28 05:33] cmurug728 commented on #931
Closing as this issue is happening only in mips devices

[2022-09-28 05:33] #931 closed, assigned to nobody

[2022-09-28 10:25] magomez commented on #937
For the record, this is being handled upstream in https://bugs.webkit.org/show_bug.cgi?id=245773

[2022-09-28 10:26] magomez commented on #944
For the record, this is being handled upstream in https://bugs.webkit.org/show_bug.cgi?id=245774

[2022-09-29 10:10] magomez commented on #944
I've just backported the patch from the upstream bug and pushed it to the wpe-2.28 branch, in commit 58e3b62900dcfc041419d3e686a0f8f308d95cb2.

@Scony, could you verify the fix and close this if everything is ok?

[2022-09-29 10:46] Scony commented on #944
I've tested it and everything is working as expected, thanks @magomez !

[2022-09-29 10:46] #944 closed, assigned to magomez, modeveci

[2022-10-05 15:06] Jefisovas opened #952 "Weston with WPEWebkit on Touchscreen fails to focus correct element"
Hi,
Having a bit of issue here when using Weston + WPEWebkit + Touch screen.
When editing text inputs with a touchscreen keyboard, after selecting next element,
webkit thinks it selected next one, but as soon as typing a letter on virtual keyboard,
the focus jumps backs to previous element, and adds new letter to that.

When selecting next input, webkit thinks it did select, as focus style changes

[2022-10-10 19:54] rychem commented on #871
Thank you @eocanha for your support.

[2022-10-10 19:56] rychem commented on #917
@woutermeek would you please share whether we have any update on this issue?
As per our discussion, WPEBROWSER-7 and 9 were to be addressed sequntionally, however the first one was closed ~in mid of Sep

[2022-10-11 14:00] magomez commented on #946
Wow, that page is an example of what not to do when designing a page for embedded.

I've tested this on the rpi3 and on the desktop, and I can't reproduce it on the desktop, basically because this is a simple performance problem and my laptop is quite powerful.

The main problem here is that the page is animating some huge elements (each row of images' width is 6000) pixels, and it's constantly mo

[2022-10-11 14:05] magomez commented on #937
So I was able to create a simple testcase and reported this upstream as the problem is reproducible there as well (also in Safari). Apple folks told me that it was a duplicated of another issue. I tested the WiP patch that they have in that original issue and it fixed my testcase. I was going to backport that fix to 2.28 when I found that, while the patch fixes my testcase, it doesn't fix the test

[2022-10-11 14:09] Scony commented on #946
Got it. Thanks @magomez for detailed explanation. I'll try to explain this to BBC then. I'll reopen this issue in case they insist we should somehow fix it.

[2022-10-11 14:09] #946 closed, assigned to nobody

[2022-10-11 14:54] magomez commented on #916
@nrajan002c @jacek-skiba-red could you have a moment to test the patch that I attached, please?

[2022-10-19 12:01] rychem commented on #917
@woutermeek is there any update on that ticket?

[2022-10-21 10:52] Maigre opened #962 "[WPE-2.38] Regression from 2.36 on jQuery FadeIn"
Hi,
i am using WPE fullscreen on RPi4 with fullKMS / COG / Weston / Manjaro (Arch) with 1080p/60hz resolution.

My test app is a page with a thumbnail, when i click on it, it fades on top another full sized black div containing a video player.
The fade-in time is ~1s to let the video load while fading in.  I use the native jquery fadeIn(1000) function.

with WPE 2.36 // libWPE 1.12 => the fadeIn i

[2022-10-21 13:21] Maigre commented on #962
I tried raplcing jquery.fadeIn with CSS transition and it works ok with WPE 2.38 // libWPE 1.14
so i guess i will stick to CSS animation !

Anyway the previous report might help in some way ?
Feel free to close the issue if it doesn't.

Best,

[2022-10-24 06:00] Geroge-W opened #965 "Failed to load inspector resource with REMOTE WEBKIT INSPECTOR HTTP SERVER"
Hi, I have meet some problems, could you help me?
the environment are as follows：Linux raspberrypi 5.15.61-v7l+(debian11-bullseye）, cross-compiled the wpewebkit2.38.0.
the cog open the url worked well, but when I export WEBKIT_INSPECTOR_HTTP_SERVER=0.0.0.0:12341, the other brower could attach the server page. Then, i click the "inspect", but there is nothing, and An warning occurred in the termina

[2022-10-25 06:04] #965 closed, assigned to nobody

[2022-10-27 18:32] jacek-skiba-red commented on #924
@simi-mathew Indeed, https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/6b2c308873ae42e9ffd87a189c96541a3735dcfc is not helping here.

Lightning France24 app for live streaming is using MSE (via hls.js) and for other content progressive streaming.
Spinner issue is seen only during progressive playback. When during playback stalled event will be send from video tag then spinner will show. F

[2022-10-28 11:52] vivienne-w commented on #917
We're currently debugging this

[2022-11-03 16:41] Scony opened #969 "[2.28] Image not rendered on accelerated 2d canvas under specific conditions"
As in #738 :

We have encountered some issues with painting on accelerated 2d canvas with cairo. Basically, when display property of the canvas is changed to 'none' and later on to something different, like 'block', canvas itself is visible (it occupy space) but image is no longer rendered on this canvas.

I have prepared example: https://bboczar.github.io/stb/canvas-display-property/index.html

P

[2022-11-03 17:13] asurdej-comcast commented on #969
Speaking about cairo:
1) `Also noticed strange behavior, that first draw on canvas makes no effect (almost like drawn content was flushed to invisible buffer), second one makes image to appear - is this expected?`
This issue was partially fixed on some platforms with https://github.com/WebPlatformForEmbedded/WPEWebKit/pull/956
but others, like Amlogic requires additional glFinish() after copying c

[2022-11-04 09:10] rychem commented on #917
Thanks @vivienne-w
Would you please share whether there is any update on investigation?

[2022-11-04 10:49] vivienne-w commented on #917
We can't reliably reproduce the problem, but we've observed some weird behaviour of the WebKit buffering code in MPEG-DASH. The buffering code expects a GstQueue2 element to be in charge of buffering in a centralized way on regular (non-adaptive) live video (where buffering is done in-memory, not on disk). In the case of MPEG-DASH not only there's no GstQueue2, but also one MultiQueue per stream.

[2022-11-09 13:00] magomez commented on #969
@Scony I've been modifying the canvas code several times to try to fix problems that show up in different platforms. Unfortunately, a change that fixes one platform ends up causing a problem on another. It's a bit frustrating, specially because I don't usually have the hardware to reproduce the problem and my changes are in many cases speculative fixes.

I'll give it another try. I think I know wh

[2022-11-09 13:58] magomez commented on #969
You should not need glFinish(). A call to glFlush() should be enough. glFinish() will block until all the gl commands are processed, but that's an overkill. glFlush() will just flush all the gl commands from the GLES implementation to the gl pipeline, which should be enough. When trying to access the gl result from the compositor thread, it should happen after the commands that were flushed before

[2022-11-09 14:51] magomez commented on #969
@Scony could you test the patch that I'm attaching here? It fixes the problem for me. It would be awesome if you could test it in several platforms, to ensure that it doesn't cause any regression there.

[969.patch.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/9972191/969.patch.txt)

[2022-11-09 16:11] asurdej-comcast commented on #969
Thanks @magomez for your comment. Unfortunatelly I need glFinish() to make my issue working, glFlush() is not enough (I guess this is why the description has)
`    cairo_surface_flush(m_surface.get());
    // glFlush();
    glFinish();

[2022-11-09 18:38] eocanha commented on #928
I wasn't exactly able to reproduce the issue exactly as described (with the https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/50bc3a06555af5c4643e35e980bc7ec708d0e690 commit from  PR https://github.com/WebPlatformForEmbedded/WPEWebKit/pull/927 applied), but did notice big periods without calls to `monitorSourceBuffers()`, and that causes big update intervals and big jumps in `m_averageBuf

[2022-11-10 16:12] asurdej-comcast opened #973 "Canvas rendering problems"
The continuation of https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/969 for platform specific drawing issues

1) Accelerated Canvas 2D context (ImageBufferCairo) doesn't render the latest update but shows previous state. Requires another draw request (e.g. fillRect()) to refresh.
This issue was partially fixed on some platforms with https://github.com/WebPlatformForEmbedded/WPEWebKit/pu

[2022-11-10 17:17] Scony commented on #969
@magomez your fix fixed only the rendering issue after `display` property change which is fine. I've triggered a testing on some extra platforms so I'll get back to you once I have results.

Regarding other problems, we will create separate tickets for those.

[2022-11-10 17:18] Scony commented on #928
That was my observations as well. I hope you'll find a way to ensure `monitorSourceBuffers()` is being called at equal intervals despite the state the player is in.

[2022-11-11 10:09] magomez commented on #969
Yes, that's what I was trying to fix. And the problem with the first drawing on the canvas not being shown.

[2022-11-11 10:14] magomez commented on #973
This sounds like a problem in the GLES implementation or the video driver.
As I commented in the other issue, when rendering with OpenGL/GLES something that's going to be read from a different thread, a call to glFlush() should be done after we're done rendering, so the commands to render the contents are sent to the OpenGL pipeline, and trying to read afterwards will produce the appropriate resul

[2022-11-11 10:54] eocanha commented on #928
I've finished implementing periodic calls (see my [eocanha-debug-127](https://github.com/WebPlatformForEmbedded/WPEWebKit/commits/eocanha/eocanha-debug-127) draft branch). However, I noticed that under some circumstances (after a low to high forced network bandwidth change) the high update intervals keep happening, even though the timer is enabled to be triggered every second. I suspect that somet

[2022-11-15 13:49] jacek-skiba-red commented on #747
As disabling DFG is causing performance issues (but reduces crash reproduction), maybe try to adjust different parameter related to DFG: `bytecodeRangeToDFGCompile`. Setting environment variable to eg. `JSC_bytecodeRangeToDFGCompile=1:200` will limit bytecode range for DFG compilation.

That parameter solved one of our issue in my STB project, where we also had JSC crash on some specific platform.

[2022-11-15 20:37] jacek-skiba-red commented on #869
Hello @roshanaccedo

Provided above testcases currently are not working, but I will try to describe general flow.

To share local storage data between iframes on different domains you need to use `postMessage()` method to enable cross-origin communication between iframes:
* use an iframe from your main domain - say `example.com`
* on each child iframe domain (eg. child.example.com), just do a post

[2022-11-16 11:34] asurdej-comcast commented on #973
Hi @magomez, thanks for your comment, I tried to fix those issue without glFinish() and I upladed PR https://github.com/WebPlatformForEmbedded/WPEWebKit/pull/976

It uses GLFenceSync for webgl that seems to have a better peformance than glFinish() still fixing webgl blinking
e.g for https://webglsamples.org/dynamic-cubemap/dynamic-cubemap.html
by default it runs ~45-50fps, with glFinish() it's 40f

[2022-11-16 14:17] nrajan002c commented on #916
Hi @magomez
Sorry I missed to get notification of this github issue.
Could you please provide 2.28 compatible patch (916.patch.txt) ?

[2022-11-16 14:22] magomez commented on #916
916.patch.txt is the one for 2.22.

This one is for 2.28
[969.patch.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/10022580/969.patch.txt)

[2022-11-17 11:09] CM112 opened #979 "[JSC]WPE WebProcess Hang crash with signature add"
This issue happening during playback in apps like youtube , xumo , espn  and also when device in idle state also,
CPU architecture : ARM

Webkit version:
55b51e9b8c7a2cc7030e6f984fa317f3bf1bdc41

callstack:
[code]

Full stacktrace :
[stactrace.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/10030827/stactrace.txt)

[2022-11-17 22:17] cashew22 commented on #952
Hi @Jefisovas, I have the exact same behavior as you in the same setup with a touchscreen and Weston. Did you find something ? I'm currently trying to understand what is going on.

I think this is the same issue:
[https://github.com/Igalia/cog/issues/413](url)

[2022-11-21 12:35] vivienne-w commented on #917
@jakub-gocol-red Can you try if the issue persists with https://github.com/vivienne-w/WPEWebKit/tree/issue_917?

[2022-11-22 21:14] eocanha commented on #928
The few reproductions I managed to get during the last week showed that [playbackPosition()](https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/wpe-2.28/Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp#L1434) might be the cause of the delay (although I can't be completely sure).

However, I haven't been able to reproduce the stalls in the last days. I've updated the

[2022-11-23 14:12] Scony commented on #928
@eocanha  sure:
[console.log.gz](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/10076255/console.log.gz)

Nudging mechanism kicks in, and I can see some invalid `monitorBufferingRate` intervals

[2022-11-23 18:39] eocanha commented on #924
How can stalled events be a problem in MSE anymore after https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/2fdbc3c7aa64b8dd8b4b151847da7c102a7e1d5d ?

Am I understanding the Issue wrongly and it's actually related to non-MSE video? The demo test case app uses MSE, but some of your comments talk about WebKitWebSrc (the source element used for regular video). Where does the actual problem h

[2022-11-24 08:17] jakub-gocol-red commented on #917
@vivienne-w to be honest I don't see any difference. Behavior with and without your patch is exactly the same for me.

[2022-11-24 14:21] jacek-skiba-red opened #983 "[WPE2.22] [MSE] Handling trackId changing across Initialization Segments"
Hello,

One of our applications in MSE streaming is using different `trackid` for different resolutions,e eg:
* 64k audio: init segment (track_id == 2), payload segment (track_id == 2)
* 128k audio: init segment (track_id == 3), payload segment (track_id == 3)

This is causing issues on QTDemux level (on gst version 1.18): after representation change qtdemux cannot find new `trackid` in track frag

[2022-11-25 06:59] jacek-skiba-red commented on #924
@eocanha issue is only related to progressive streaming where France24 is using for main content MSE streaming, and for other progressive.

[2022-11-25 13:58] nrajan002c commented on #916
@magomez We tried the above patches and did regression testing in different platforms.
We haven't faced any issues.

[2022-11-25 14:02] magomez commented on #916
Great! I'll commit the change for 2.22 then. The one for 2.28 is still being tested in other platforms, but as soon as I get green flag I'll commit it as well.

[2022-11-25 15:29] magomez commented on #916
I've just pushed 1b5caf6c1c5cd48452113af94ebf2fa819bdae43 to the wpe-2.22 branch with the fix for that version.

As soon as I have confirmation in https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/969 that the equivalent fix for 2.28 doesn't cause regressions, I'll commit the fix to the wpe-2.28 branch as well.

[2022-11-25 17:48] eocanha commented on #928
From those logs and from the code, I've been able to detect a problem with the way in which `m_timeOfBufferingMonitor` is initialized in SourceBuffer. It's [initialized to the SourceBuffer creation time](https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/6a0c6195af27694e09bb57933e91ce1239591d55/Source/WebCore/Modules/mediasource/SourceBuffer.cpp#L147), so if the call to [`monitorBufferingRat

[2022-11-28 10:44] Scony commented on #928
Looks like `m_timeOfBufferingMonitor` initialization fix helps a lot - it's much harder to reproduce the issue.
Yet the question of mysterious stalls remains.
[console.3.log.gz](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/10102880/console.3.log.gz)
[console.2.log.gz](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/10102882/console.2.log.gz)

[2022-11-28 10:58] vivienne-w commented on #917
@jakub-gocol-red I just pushed again to that branch, can you send me the logs you get with that commit and `GST_DEBUG="*:WARN,decodebin*:TRACE,multiqueue*:TRACE,webkit*:TRACE"`?

[2022-11-29 15:24] magomez commented on #969
@Scony, any news about the testing on another platforms?

[2022-11-29 15:30] Scony commented on #969
So far it was tested on 3 out of 5 platforms (all good). Anyway, I'd say you can proceed with merging - we can fix/revert in case of further problems

[2022-11-30 10:32] modeveci commented on #983
Test URL: https://developers.canal-plus.com/rx-player/upc/?appTileLocation=[object%20Object]

[2022-11-30 11:36] jacek-skiba-red commented on #983
Fix for WPE2.22 which uses Gstreamer 1.10 was done on QTDemux level (via custom LGI property "support-track-id-change").
Fix is LGI specific: https://github.com/LibertyGlobal/WPEWebKit/pull/218

Now we are investigating if on yocto 3.1 (which uses gstreamer 1.18) qtdemux handles by default runtime track-id change (we have on yocto 3.1 builds temporary problem to run above testcase due to CORS issu

[2022-11-30 13:45] vivienne-w commented on #940
I'm having issues reproducing this on my side, what commit was this happening on for you?