[2018-10-29 06:29] deeps8us commented on #549
Same issue after setting WEBKIT_INSPECTOR_SERVER=0.0.0.0:9224  and also with Midori

[2018-10-30 00:01] aperezdc commented on #549
@deeps8us Which version of WPE WebKit are you using? It looks like you are using [WpeLauncher](https://github.com/WebPlatformForEmbedded/WPEWebKitLauncher). Is that so? Re-reading its code I see that it does not enable the developer extras, which is needed for the remote inspector to work — there is no call to `WKPreferencesSetDeveloperExtrasEnabled()`.

[2018-11-02 07:09] frperzent opened #550 "WPE emits "WAITING" signals on video element when it should not"
Using a simple piece of HTML code with a video tag playing a mp4 file, with an attached event listener, I can see that during the course of video playback, the video tag element receives a steady flow (about every 10-15 seconds usually) of WAITING events. (https://developer.mozilla.org/en-US/docs/Web/Events/waiting)

I have tried several other browsers under the same network conditions, and I do n

[2018-11-02 10:22] mladenlazic opened #551 "Incorrect display of texts that are truncated with ellipsis"
Text that is cut with CSS and Ellipse is not rendered correctly on the screen. The behavior changes when you change the letter spacing of the font. The same example is tested on epiphany browser, it works. HTML example and picture are added below.

WPE vs Epiphany:
![epiphany_vs_wpe](https://user-images.githubusercontent.com/11682725/47909373-09732c80-de90-11e8-8cd1-d6a24ba70153.png)
On the pictur

[2018-11-02 14:09] MaximMikulich commented on #500
@hlev After the build, I got the folders, how to build cdcard.img? what commands use?

[2018-11-02 14:36] hlev commented on #500
@MaximMikulich Usually the `post-image` script runs `genimage` to generate the image file. Here's an example: https://github.com/WebPlatformForEmbedded/buildroot/blob/b6ac25088962d0ced3a368ae720bfa3e05f1ebe0/board/raspberrypi/post-image.sh#L150

There is a corresponding `genimage.cfg` file in the board directory in buildroot which tells `genimage` what filesystems to create in the image and which

[2018-11-02 15:07] MaximMikulich commented on #500
@hlev Did I understand correctly that I need to copy folders and files from "images" or "target" and from "rpi-firmware" to a USB flash drive?

[2018-11-02 15:39] hlev commented on #500
@MaximMikulich Yes if you want to generate an SD card image for the current `master` build, then only files in the `images/` and `images/rpi-firmware/` directories matter. These go to a FAT partition.
If I remember correctly, on an RPi3, the current initramfs tries to mount the second, ext4 partition at `/root`, so you should configure an empty ext4 partition as well.

If you want to boot from USB

[2018-11-02 21:50] MaximMikulich commented on #500
@hlev I have black window....if use this
`vt.global_cursor_default=0 root=/dev/mmcblk0p2 rootwait console=ttyAMA0,115200 quiet`
if use this
`vt.global_cursor_default=0 console=tty1 rdinit=/bin/sh`
I see green led off...and on window more connections (ex: keyboard, mouse)...
but I don't run WPE browser....why?) sorry if I answer this question...

[2018-11-02 21:51] MaximMikulich commented on #500
@hlev Before with sdcard.img it was easier .... as now I can not understand ...

[2018-11-03 09:08] hlev commented on #500
@MaximMikulich
It is beacuse with `rdinit=/bin/sh` you override the normal init process and you get straight into a root shell after boot. This is why the WPE browser doesn't run automatically.

If you use this instead:
[code]
You will see the kernel log output during boot, the normal init procedure will run and the browser should start as well.

@albertd, @wouterlucas would you accept a PR that f

[2018-11-03 14:06] T94T commented on #500
Finally, this is what you have to do to generate a sdcard.img

**I got one problem though: It just boots the kernel and stops by saying "Waiting for root device /dev/mmcblk0p2"** Can not figure out what the problem is at the moment.

Run `make menuconfig` and make these changes.

1. Enable `dosfstools` and `mtools` under `Target packages > Filesystem and flash utilities
`
![filesystem config](http

[2018-11-03 14:11] hlev commented on #500
@T94T just remove the `root=/dev/mmcblk0p2 rootwait` from `cmdline.txt`

[2018-11-03 14:45] hlev commented on #500
@T94T Is the SD card initialized by the kernel, do you see `mmc` related entries in the log?

One thing I noticed with an initramfs setup is that the device nodes of `/dev/mmcblk0` are not created until `udev` is started. So with this non-initramfs approach, it may be that because of `rootwait`, the kernel waits for the device to appear indefinitely, because there's nothing to create the device no

[2018-11-03 15:28] T94T commented on #500
I do not see mmc related eintries because they are probably outside the screen. I have to test this with a serial port.
dev management is set to `Dynamic using devtmpfs + eudev`

[2018-11-04 12:48] aperezdc commented on #551
The reason for this difference might be that the GTK+ port always uses the complex text layout code path, while WPE in some cases uses the simple layout one.

[2018-11-05 10:16] T94T opened #552 "wpe: could not load the impl library."
Hi,

I managed to build WPEWebKit on buildroot version 2018.08.2 Everything gets compiled as it should. Too keep things simple I took the wpe-launcher instead of the WPEFramework.

When launching /usr/bin/wpe I get this error:
_wpe: could not load the impl library. Is there any backend installed?: /usr/lib/libWPEBackend-default.so: undefined symbol: libinput_event_get_touch_event
Aborted_
[strace.

[2018-11-05 13:18] #552 closed

[2018-11-07 21:22] ncuillery commented on #327
At [Youi](https://www.youi.tv/) we have the exact same error (`WTFCrash` caused by `operationLinkDirectCall`) on our apps.

We use the 2.19.1 tarball (https://webkitgtk.org/releases/webkitgtk-2.19.1.tar.xz) that we build ourself.

We have been able to narrow down the issue to the following:
It only happens on:
- Galaxy S7 and S7 Edge
- Android 7.0 only (doesn't crash in Android 8.0)
- Arch arm64-v

[2018-11-08 08:36] T94T opened #554 "WebKitBrowser issues with external URLs"
When changing the URL in WebKitBrowser.json to an external address (eg. https://www.google.com), the browser keeps white after boot. When clicking `RELOAD` in the `Presets / URL` section of the Controller interface, the page gets loaded.
Localhost URL and an external IP address just work - WebKitBrowser starts and shows the correct content.

After a while (between 30s and 2m) after booting, Contro

[2018-11-08 12:02] philn commented on #394
Can you test this patch? https://bugs.webkit.org/show_bug.cgi?id=191259

[2018-11-08 12:07] Gavriliuk commented on #327
To @ncuillery
Thank you Nicolas
We observe this kind of crashes on TV boxes
(OS Linux, various platforms and architectures)
I hope your comment will be helpful for Metro team

[2018-11-12 21:52] hlev opened #556 "buildroot: rpi-firmware.mk, unclear device selection in S30mountroot"
I was building an image from a recent `WebPlatformForEmbedded/buildroot:master` and were wondering about a change in `rpi-firmware.mk` that results in a wrong init script.

Checking for the `ifeq ($(BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_9),y)` will return false if there is a custom toolchain, and will put a wrong `S30mountroot` init script in the build for an RPI3.

It's clear that the fist cond

[2018-11-13 12:00] lazarkovacevic7 commented on #454
Hello @blino,
I've used your commits (modiefied slightly) on top of stable branch and made WPE build without opengl. Although I had to turn off some additional flags (ENABLE_OPENGL, ENABLE_ACCELERATED_2D_CANVAS, USE_TEXTURE_MAPPER, USE_TEXTURE_MAPPER_GL, ENABLE_WEBGL, ENABLE_WEBGL2). My goal is to make WPE use software rendering only. So, currently I'm looking how to get something on screen with c

[2018-11-14 07:46] SamDecrock opened #557 "question on buildroot: difference between configs"
Hi,

I'm trying to compile WPEWebKit using the buildroot repo you provided. I was wondering what the main difference is between

`raspberrypi3+_wpe_ibc_defconfig`
and
`raspberrypi3_wpe_defconfig`

Thanks

[2018-11-14 13:05] hlev commented on #557
Had a quick look at the diff between the two:
- from the naming, it seems the former is intended for the newer RPI3 B+ board, the latter is for the standard RPI3 B although I think either should work on either device, both include the device trees for RPI3B, RPI3B+ and RPI CM3 boards
- `ibc` uses a 4.14 kernel, the other is 4.9
- `ibc` builds in-kernel-tree device tree overlays, but I don't know i

[2018-11-15 10:02] SamDecrock commented on #500
@T94T I followed your instructions to generate the sdcard.img and it worked!
It's showing me a nice "Hello" animation (which is suppose is WPE).

However, when I plug in a network cable, I get this:
![img_5231](https://user-images.githubusercontent.com/550487/48545303-e4d27800-e8c5-11e8-9a6e-c29dfd486d96.JPG)

Edit: despite the "something went wrong", I can go the the web interface running on the

[2018-11-15 11:49] hlev commented on #500
@SamDecrock The error is simply the lack of configuration, you can ignore it.

I was interested in what actually goes wrong: https://github.com/WebPlatformForEmbedded/buildroot/blob/100355f78713cabf8b8b40db0f20580587653763/board/raspberrypi/index.html#L254

The page tries to load `config.json`, from the `/www` directory. Which if fails, yields this result.
The `post-build.sh` script would put this

[2018-11-15 12:30] SamDecrock commented on #421
Just built WPE with buildroot and running on Pi3: I too can't load the fishtank. It just shows a blank page. I'll try to figure out what's wrong.

[2018-11-15 12:36] SamDecrock commented on #557
Thanks for the explanation

[2018-11-15 12:36] #557 closed, assigned to nobody

[2018-11-15 16:15] jdelrue commented on #531
I made the change on Ubuntu18 but problem persist. Also, fontconfig 2.12.4 doesnt build with gperf 3.1, atleast not in the update-webkitwpe-libs; it does manually for some bizarre reason. Been working all afternoon to get WPE to compile, still no succes

[code]

[2018-11-15 19:26] hlev commented on #394
@philn Hunk#1 (below) fails on recent `master`, will rework the patch and test:

[code]

[2018-11-15 20:42] hlev commented on #394
[037206](https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/037206e53711588a0ba9b1f71e0fb36c78e56b5d/Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.cpp#L352) seems to implement a more refined way of working with EOS already.

[code]

The comment "If we're at the end of the stream the pipeline is null" makes me curious whether the `.isInvalid() ?` condition on the resu

[2018-11-16 07:52] philn commented on #394
Sorry, I don't use this outdated fork :)

[2018-11-16 08:17] hlev commented on #394
Fair enough, I now see that the patch would apply to the upstream WebKit source.
Just as described in Bugzilla, the buggy behavior is similarly intermittent in this fork as in upstream WebKit, so I'll just leave it at that for now and look at whether the upstream `MediaPlayerPrivateGStreamer::playbackPosition()` method can be back ported to this fork and patched.

[2018-11-19 17:30] SamDecrock commented on #500
@hlev Thanks for the investigation!
Good to know it's not a major issue.

[2018-11-21 14:34] albertd commented on #556
From 4.9 kernel the block devices have been moved, so that's why we have to types of mount scripts. Fix has been applied so external toolchains will also work, thanks for reporting the issue.

[2018-11-21 14:34] #556 closed, assigned to nobody

[2018-11-21 14:38] albertd commented on #554
As the setup is now the browser is loaded before the network is up, please change the location of the url after this line in the [index.html](https://github.com/WebPlatformForEmbedded/buildroot/blob/master/board/raspberrypi/index.html#L259)

Adding a `location.href = "https://www.google.com";` should do the trick.

[2018-11-21 14:38] #554 closed

[2018-11-21 14:39] albertd commented on #551
@aperezdc, @magomez something we can still cherry-pick for the wpe-2017 branch?

[2018-11-21 14:45] albertd commented on #549
@deeps8us this enabled by default when using the wpeframework based startup, default set on port 9888

[2018-11-21 14:45] #549 closed

[2018-11-21 14:46] #548 closed

[2018-11-21 14:49] albertd commented on #489
Yes that should be correct, if you're still facing this issue please reopen

[2018-11-21 14:49] #489 closed

[2018-11-21 14:52] albertd commented on #543
@Gavriliuk please reopen if the ticket is still valid, if so please add a bit more info, which commit hash of wpewebkit and which application etc.

[2018-11-21 14:52] #543 closed

[2018-11-21 14:54] albertd commented on #539
@nambirajang do you have steps to reproduce and also which application is being used?

[2018-11-21 14:55] albertd commented on #529
@emutavchi do you have a bit more info on which application is being used?

[2018-11-21 14:58] albertd commented on #528
@telkamp closing this issue, we're working on refactoring the whole graphics to move away from Cairo. this will help in the canvas 2d performance as well, currently I would recommend using webgl as that is the fastest render path. Please have a look at our [Lightning](https://github.com/WebPlatformForEmbedded/Lightning) framework which will help during the development. You can increase the perform

[2018-11-21 14:58] #528 closed

[2018-11-21 14:59] albertd commented on #525
@nambirajang please re-open if still valid

[2018-11-21 14:59] #525 closed

[2018-11-21 15:00] albertd commented on #511
Closing issue for now, new graphics port is ongoing.

[2018-11-21 15:01] albertd commented on #474
@ktxxt closing the issue for now, please re-open if still valid with latest greatest wpe-2017 branch.

[2018-11-21 15:01] #474 closed

[2018-11-21 15:02] albertd commented on #463
@karora123 closing issue as we're not focussing on 360 support for now.

[2018-11-21 15:02] #463 closed

[2018-11-21 15:03] albertd commented on #460
No you can't have multiple webgl threads for now, but we have the non-compositing webgl flag that increases the performance by 2x.

[2018-11-21 15:03] #460 closed

[2018-11-21 15:05] albertd commented on #441
Yes you can, we're parsing the /boot/proxy file for the settings during startup:

https://github.com/WebPlatformForEmbedded/buildroot/blob/master/package/wpe/wpeframework/S80WPEFramework#L41-L48

[2018-11-21 15:05] #441 closed

[2018-11-21 15:06] guijemont commented on #539
@nambirajang are you able to provide a core file and build files (could be through other means than github)?

It would also be more helpful if you could give more information on how to reproduce:
 - a test case that reproduces the crash
 - and/or steps to reproduce the crash
 - and/or a description of the way you encountered the crash, and how frequently it happens in these conditions.

Thanks.

[2018-11-21 15:06] #527 closed

[2018-11-21 15:07] albertd commented on #494
Closing issue here, please move this issue to meta-wpe if still relevant.

[2018-11-21 15:07] #494 closed

[2018-11-21 15:08] albertd commented on #452
@Balajims88 closing issue for now, if still relevant for wpe-2017 branch please reopen with a bit more detail on application and way to reproduce.

[2018-11-21 15:08] #452 closed

[2018-11-21 15:11] albertd commented on #434
@magomez has this landed into wpe-2017 branch if so please close this ticket

[2018-11-21 15:12] albertd commented on #432
Closing, please reopen if still valid

[2018-11-21 15:12] #432 closed

[2018-11-22 07:16] Trinath402 commented on #549
hi @aperezdc we enabled "WKPreferencesSetDeveloperExtrasEnabled" in our launcher code, but it didn't worked for us. We are still facing same error "None found, make sure that you have set the developerExtrasEnabled preference property on your WebView" on browser.

hi @albertd  we tried on 9888 port as well but still observes the same behaviour.

Is this WKPreferencesSetDeveloperExtrasEnabled needs

[2018-11-22 07:34] albertd commented on #549
@Trinath402 which build config are you using and are you using safari / chrome?

[2018-11-22 07:48] albertd commented on #444
Closing ticket as its resolved

[2018-11-22 07:48] #444 closed

[2018-11-22 07:49] albertd commented on #438
@aazamansari I think this has been resolved with the latest wpe-2017 branch, please reopen if needed.

[2018-11-22 07:49] #438 closed

[2018-11-22 07:49] albertd commented on #418
Not sure this is still an issue, closing for now.

[2018-11-22 07:49] #418 closed

[2018-11-22 07:51] albertd commented on #412
@karora123 FPS is visible in the web console of wpe framework

[2018-11-22 07:51] #412 closed

[2018-11-22 07:51] #413 closed

[2018-11-22 07:51] #414 closed

[2018-11-22 08:24] albertd commented on #370
Please revalidate with wpe-2017 using eme-v3

[2018-11-22 08:24] albertd commented on #353
This has been resolved within wpe-2017, even suspend mode releases the resources now

[2018-11-22 08:51] albertd commented on #378
EMEv1 is not supported any more, we've moved to EMEv3 on wpe-2017 branch

[2018-11-22 08:51] #378 closed

[2018-11-22 08:51] #383 closed

[2018-11-22 08:51] #384 closed

[2018-11-22 08:51] #385 closed

[2018-11-22 08:53] albertd commented on #331
@goruklu closing ticket as a lot of work has been done on wpe-2017 to get dash.js nicely working. Let me know if we need to reopen.

[2018-11-22 08:53] #331 closed

[2018-11-22 08:53] #341 closed

[2018-11-22 08:54] #343 closed

[2018-11-22 08:54] #283 closed

[2018-11-22 08:55] albertd commented on #256
Closing this one for now as a lot of work was done to optimise the MSE in wpe-2017 branch

[2018-11-22 08:55] #256 closed

[2018-11-22 08:56] albertd commented on #310
@igor-borovkov please reopen if still valid.

[2018-11-22 08:56] #310 closed

[2018-11-22 08:58] albertd commented on #327
@Gavriliuk do we have a public app available to validate?

[2018-11-22 09:00] albertd commented on #394
@eocanha should we adopt this patch into wpe-2017?

[2018-11-22 09:02] albertd commented on #408
@vanihegde is this is still the case using wpe-2017 branch?

[2018-11-22 09:06] hlev commented on #549
I'm running WPELauncher with the newer WPEWebkit (wpe-20170728), specifically: [371d4b0](https://github.com/WebPlatformForEmbedded/WPEWebKitLauncher/commit/371d4b0bcd96723d1d8383317c365f0935be3023) and c04a067fb08ad03f34f0ad1cfe2c95dc138cbdbb and I don't have an inspector either.

WPELauncher binds just fine to 9998, as `export WEBKIT_INSPECTOR_SERVER=0.0.0.0:9998` is set by the default `/usr/bin/

[2018-11-22 09:14] albertd commented on #349
@psivasubramanian is this issue still valid with the wpe-2017 branch, if so please reopen.

[2018-11-22 09:14] #349 closed

[2018-11-22 09:17] albertd commented on #421
@SamDecrock just validated on my build and it was working, but slow performance as stated above, the refactor of the graphics engine will hopefully solve the canvas2d performance in the near future. I would recommend using webgl, as that is extremely fast.

[2018-11-22 09:17] #421 closed

[2018-11-22 09:18] albertd commented on #430
@nambirajang is this issue still valid with the wpe-2017 branch, if so can you supply a bit more details so we can reopen if needed.

[2018-11-22 09:18] #430 closed

[2018-11-22 09:20] #269 closed

[2018-11-22 09:23] albertd commented on #270
@Gavriliuk @ravurus can you validate above and reopen if needed.

[2018-11-22 09:23] #270 closed

[2018-11-22 09:28] albertd commented on #158
@vertexodessa is this issue still valid in wpe-2017 branch, if so please reopen.

[2018-11-22 09:30] albertd commented on #74
Resolved within the WPEFramework and WPEFrameworkPlugins, OCDM modules are also publicly available.

[2018-11-22 09:31] albertd commented on #156
@vertexodessa please reopen if reproducible in wpe-2017 branch

[2018-11-22 09:31] #156 closed

[2018-11-22 10:05] psivasubramanian commented on #444
Yes it's resolved, now this patch is not required as 32bit ARM Mali r7p0 release fixed it. Refer meta-96boards PRs https://github.com/96boards/meta-96boards/pull/269 or https://github.com/96boards/meta-96boards/pull/270 for using it.

[2018-11-22 11:08] albertd commented on #549
Please use the correct export:

https://github.com/WebPlatformForEmbedded/WPEFrameworkPlugins/blob/master/WebKitBrowser/WebKitImplementation.cpp#L743

[2018-11-22 12:40] Gavriliuk commented on #327
@albertd, I actually can't know what do you have :-)
But I guess we ourself don't have a such app

This crash happens on our TV STBs - not very rarely, but randomly, no steps to reproduce
E.g., 15805 crashes were registered from testing boxes during the recent 30 days
I'd attached some example stacktraces above

Thanks
Alex

[2018-11-22 13:20] hlev commented on #549
Thanks, that works indeed.

[2018-11-22 13:34] Trinath402 commented on #549
Hi @albertd,

             I tried with enabling  WEBKIT_INSPECTOR_SERVER and  WEBKIT_LEGACY_INSPECTOR_SERVER with 9222 and 9998 ports. But i am getting raw data representation on my browser when i am accessing wpe-inspector page. I have used Google chrome and mozilla firefox as well for this.
Please see the error message in my attachment.

[2018-11-22 13:35] Trinath402 commented on #549
Hi @albertd,

             I tried with enabling  WEBKIT_INSPECTOR_SERVER and  WEBKIT_LEGACY_INSPECTOR_SERVER with 9222 and 9998 ports. But i am getting raw data representation on my browser when i am accessing wpe-inspector page. I have used Google chrome and mozilla firefox as well for this.
Please see the raw data in my attachment.
![chrome_response](https://user-images.githubusercontent.com/20

[2018-11-22 13:47] aperezdc commented on #549
@Trinath402 It looks like the device where WPELauncher is running is missing the `shared-mime-info` package, which the inspector server uses (through GLib) to determine the `Content-Type` it has to return in its responses. Could you please try to add it to your build and try again?

[2018-11-22 14:35] telkamp commented on #528
@albertd: Thanks for the info!
Can you say what will be used instead of Cairo in future?
We'll have a look on Lightning.

[2018-11-22 19:05] albertd commented on #528
The team has been working on something that is internal into webkit.

[2018-11-23 06:31] Trinath402 commented on #549
Thank you @aperezdc  it's worked for me. After including this package in our image i am getting the response properly.

[2018-11-27 02:53] tfa2012 opened #558 "make buildroot-milestone_rc1.8.tar for raspberry pi 3 fail ?"
I start compiling WPE days ago, I'm very intrested in this project, that's so cool to run html5 app on a embeded device while using browser as its UI.
Here is my enviroment:
raspberry3b+, Ubuntu 16.06 LTS(run in VMPlayer)
I downloaded Milestone Release Candidate 1.8.tar.gz and uncompressed it to my working folder, and then compile(cp a new rpi3 wpe_defconfig for feature modify):
[code]
Waiting a v

[2018-11-27 06:39] albertd commented on #558
@tfa2012 just do a git clone and instead of downloading the milestone.

[2018-11-27 07:17] tfa2012 commented on #558
@albertd thank you very much.
I will try it tonight.

[2018-11-27 09:00] albertd commented on #558
You're welcome, please reopen if you still have issues

[2018-11-27 09:00] #558 closed, assigned to nobody

[2018-11-27 09:10] albertd commented on #433
@hlev the browser renders the video as a texture, this is I think creating the overhead you're seeing, I think we can't optimise this, correct @magomez. I'm closing the ticket for now.

[2018-11-27 09:10] #433 closed

[2018-11-27 09:11] albertd commented on #431
@SteffenDE in the latest wpe-2017 WebSQL and IndexedDB should be properly supported. Closing ticket for now.

[2018-11-27 09:11] #431 closed

[2018-11-27 09:13] albertd commented on #262
Closing thread as it's very out-dated

[2018-11-27 09:13] #262 closed

[2018-11-27 09:13] albertd commented on #290
@nambirajang closing the old thread, please reopen if still seen on wpe-2017 branch

[2018-11-27 09:13] #290 closed

[2018-11-27 09:14] albertd commented on #312
Please have a look at this pull request: https://github.com/WebPlatformForEmbedded/WPEWebKit/pull/538

[2018-11-27 09:14] #312 closed

[2018-11-27 11:31] hlev commented on #433
Thanks @albertd. I expect some improvements moving from wpe-2016 to wpe-2017 (buildroot stable -> master) but I may be wrong. Still have a lot to explore about pipelines, different rendering paths and compositing.

[2018-11-27 15:35] albertd commented on #550
@frperzent please retest, but should be okay now on the wpe-2017 branch

[2018-11-27 15:35] #550 closed

[2018-11-29 02:12] tfa2012 commented on #500
Hello, can you tell me how to do that if I just have a empty 16GB sdcard?
I searched the internet they wrote these:
[code]
But I stucked in the first step,
[code]
Even I continued to do subsequent steps and ran it in rpi3, I got the black screen, no anything displayed on hdmi.

Thank you.

[2018-11-29 10:59] hlev commented on #500
@tfa2012 You only have to use the files in the `output/images` directory.
Assuming that you have created the FAT and ext4 filesystems on the SD card already, then:
[code]

This is just off the top of my head, there may be a couple more files intended for the FAT partition, maybe a config file for WPE, or similar. If you include a list of files in `/output/images`, I'll help you pick them.
You will

[2018-11-29 11:38] SamDecrock commented on #500
@tfa2012 Just follow @T94T [post](https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/500#issuecomment-435590466).

You'll get a nice sdcard.img

[2018-11-29 14:25] tfa2012 commented on #500
Thank you very much!
Maybe I do some wrong steps, it generates sdcard.img but doesn't work...
And follow @hlev 's suggestion,  finally it's ok. Thanks god.

Thank you two good man.

[2018-11-29 14:26] tfa2012 commented on #500
Thanks a lot!
It is so simple, and it is really starting...

[2018-11-29 14:45] tfa2012 commented on #500
When I see "We're ready!", then where to input address? I press keyboard but no any response.

[2018-11-30 02:13] tfa2012 commented on #500
@hlev @SamDecrock
Sorry to disturb you, I have some questions:
1. What are default SSH2 username and password?
2. My screen show "Hello" or "We're ready" with black backgroud pages, but no control panel, where to input address?
3. Does this zImage surpport keyboard and mouse? I hit the keyboard but no response, mouse neither.

Thanks

![wc_20181130101347](https://user-images.githubusercontent.com/

[2018-11-30 09:24] TOLDOTECHNIK commented on #500
You also can take our implementation from https://github.com/TOLDOTECHNIK/buildroot-webkit
It is well documented and will offer everything you need/requested including keyboard/mouse input.

(Our project is based on this great WebPlatformForEmbedded/buildroot repo.)

[2018-11-30 13:31] eocanha commented on #394
I've been debugging this issue and the [relevant HTMLMediaElement code](https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/wpe-20170728/Source/WebCore/html/HTMLMediaElement.cpp#L4631) to implement the loop by using a seek to 0 is being triggered. However, the seek doesn't complete and leaves the main thread stalled in the code which stops the multiqueue video streaming thread:

[code]
The co

[2018-12-01 11:00] hlev commented on #500
@tfa2012

It is root/root and you can check and change the password in "System configuration" by running `make menuconfig`.

Don't expect a URL bar, because this is a full-screen (kiosk) browser implementation intended for embedded devices with limited user control, not a desktop browser. The URL the browser opens is controlled either by your configuration, or the remote control UI, on-the-fly. Vi

[2018-12-01 13:51] tfa2012 commented on #500
@TOLDOTECHNIK Awesome! Your project is sure helpful to me. Thank you for your hard work!

@hlev It's very very kind of you, thanks again. Everything is OK. I should deeply study this project.

So exciting!

[2018-12-04 13:42] eocanha commented on #394
The deadlock doesn't happen anymore for me with the patch I've just added to gst-omx.

[2018-12-05 10:03] woutervanh commented on #511
Is there an issue to track this ongoing graphics port?

[2018-12-05 13:34] SylvainGarrigues commented on #511
@albertd can you please point at where this new graphic port resides so that I can follow commits and progress?

[2018-12-07 11:19] lazarkovacevic7 opened #560 "MemoryPressureHandler not reacting in some scenarios"
Hi, We are using memory pressure handler with intention to limit memory WPE is using on our embedded platform (broadcom 7252).

Following environment variables are exported when configuring it:
WPE_RAM_SIZE = "331m",
WPE_POLL_MAX_MEMORY = "WPEWebProcess:270m,WPENetworkProcess:40m"

We have a key called EPG which is supposed to open an EPG page. Repeated pressing on this key switches between EPG an

[2018-12-07 16:26] emutavchi commented on #529
Hi Albert, sorry for slow response. This was on Amazon's MSE/EME long video playback test, running under low memory conditions triggering lots of rebuffering and showing video tag's UI a lot.

[2018-12-09 19:08] jameshilliard opened #561 "WPEWebProcess: Segmentation fault, WTFCrash on startup"
I'm getting a segfault here on startup:
[code]

Built on wpe-2.22 using [this](https://github.com/Igalia/buildroot-wpe).

[2018-12-09 19:29] jameshilliard commented on #561
Looks like I'm probably hitting [this](https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/wpe-2.22/Source/WebCore/platform/graphics/freetype/FontCacheFreeType.cpp#L150).

[2018-12-09 19:35] jameshilliard commented on #561
Confirmed that this was due to my system not having fonts installed(installing fonts fixed it). This code should probably be changed so that it handles missing fonts or at least so that a useful error message is logged so that one doesn't need to use a debugger to trace the issue.

[2018-12-09 23:19] wouterlucas commented on #561
Glad you found it @jameshilliard! Agree it should be handled much more elegantly, you're invited to improve it! https://webkit.org/contributing-code/

[2018-12-09 23:19] #561 closed, assigned to nobody

[2018-12-09 23:21] jameshilliard commented on #561
@wouterlucas would it just be a matter of replacing `RELEASE_ASSERT_NOT_REACHED();` with a logger or something?

[2018-12-10 13:35] roman01la opened #562 "macOS build?"
Hello! Is it possible to build WPE for macOS? Right now the build fails bc EGL is missing on macOS, but if I understand correctly there's CGL on macOS which perhaps could be used in WPE?

[2018-12-10 20:42] aperezdc commented on #562
Currently WPE *requires* using EGL, sorry. The path of least resistance might be  to use ANGLE's EGL wrapper, but I cannot tell you from the get-go how likely that is to work. For the moment it is out of our radar to work on supporting WPE on Mac (or iOS), but contributions in this regard would certainly be welcome.

If somebody wants to contribute in this (or any other other topic), I would also

[2018-12-14 18:01] kevin-bache commented on #394
@eocanha have you reliably tested this with large playlists?

[2018-12-17 09:27] eocanha commented on #394
No, I haven't. @hlev pointed at a specific video and mentioned that "other videos do not exhibit this issue", so I only tried that one. If you have any other specific case to test, I can have a look at it.

[2018-12-17 11:43] hlev commented on #394
@eocanha @kevin-bache It has happened since my original comment as well with different videos, but intermittently, so I'd think it is not video, but ephemeral condition specific.

Does "reliably" mean you could both reliably reproduce the issue, and reliably fix it with the patch?
Which patch do you mean, by the way, because as I wrote above, https://bugs.webkit.org/show_bug.cgi?id=191259 does not

[2018-12-17 12:54] eocanha commented on #394
Mi patch https://github.com/WebPlatformForEmbedded/buildroot/commit/474ff550004dabdf9454d5ca932aae09aca8ecde for buildroot patches gst-omx. It's unrelated to https://bugs.webkit.org/show_bug.cgi?id=191259 . The buildroot patch reliably fixes the loop issue for me with the https://vimeo.com/32089756 video saved in my local web server and reproduced using a basic html webpage which loads it in a <vi

[2018-12-20 09:09] magomez commented on #434
Nope, this hasn't been fixed in the 2017 branch. The issue is quite problematic and fixing it requires a big refactoring that won't happen as it is already quite old and diverged too much from current upstream code. But you can use this patch in order to workaround the issue. It's not an optimal fix but it will work while there isn't a new branch with the problem fixed.
[code]

[2018-12-20 09:13] #434 closed

[2018-12-20 16:12] magomez commented on #529
Ah, found it. It's a regression that happened upstream that got backported here, and then reverted upstream but not reverted here. I backported the revert as well. Let me test it a bit and I'll push it.

[2018-12-21 11:30] magomez commented on #529
I've just pushed 5de31f2c34ab2768264c925e672f961d0223ba85 that should fix this.

[2018-12-21 11:30] #529 closed

[2018-12-21 17:32] Teider opened #564 "WebProcessPool destructor causes a failed assertion"
During the exit of our application, the following occurs after the end or our main function:

[code]

This call to invalidate originates from the WebProcessPool destructor.

Comparing with a reference implementation: https://github.com/Igalia/cog, the following log from WTF::RefCountedLeakCounter appears on application exit:

[code]

On this reference implementation, the WebProcessPool destructor

[2018-12-21 17:48] hlev commented on #394
Thanks, I'll add it to our buildroot then until further notice.

[2019-01-14 04:59] soragaon opened #566 "connect session"
Hi all,

When i trigger selenium script WPE webdriver start listening into selenium script, once WPE webdriver receive new session command from selenium, WPE webdriver start executing NEW Session function, Newsession function calls  connect browser function. In connect browser function calls connectToBrowser function (glib/SessionHost.cpp). after executing all the function in connectToBrowser,  cr

[2019-01-21 08:55] Gavriliuk commented on #327
It seems like the crash is being happened during the XMLHttpRequest sends the asynchronous request or processes its response

[2019-01-23 05:49] deeps8us opened #567 "DTCP support from WPE browser"
Can wpe web browser support playing stream encrypted with DTCP key?

[2019-01-26 23:14] jameshilliard opened #569 "MJPEG multipart/x-mixed-replace image stream flashes/flickers"
When using wpewebkit 2.22.3 with the [cog](https://github.com/Igalia/cog/) launcher with the following options the [mjpg-streamer](https://github.com/jacksonliam/mjpg-streamer) jpeg image stream flashes rapidly as new images are received:
[code]
I tried a number of options and for some reason using this prevents the flashing and shows the proper stream without flickering(there are grid overlay lin

[2019-01-27 23:23] aperezdc commented on #569
Thanks for pointing out the setting for the `draw-compositing-indicators` setting, which helps narrowing down the cause. Most likely the additional painting done to have the compositing indicators drawn (inside WebKit) is doing something that somehow better synchronizes the frames, or maybe it prevents a blank frame from being painted. I think @magomez and/or @zdobersek may have some idea on how t

[2019-01-27 23:34] jameshilliard commented on #569
I'm running mjpg-streamer with these options:
[code]
The bug happens with both the `<img src="./?action=stream" />` `multipart/x-mixed-replace` mjpeg stream and the javascript version that works by replacing the image individually from the `/?action=snapshot` endpoint.

I did check using the latest safari, chrome and firefox and none had this bug.

[2019-01-28 07:44] #566 closed, assigned to nobody

[2019-01-28 23:15] jameshilliard commented on #569
So I did manage to fix the flicker for the javascript stream with [this](https://github.com/jacksonliam/mjpg-streamer/pull/195/files) change. This doesn't seem to effect the multipart/x-mixed-replace flicker bug however.
I'm launching wpewebkit with this option for the javascript stream:
[code]
My guess would be that this bug has something to do with the images from mjpeg-streamer coming in faster

[2019-02-01 05:50] jameshilliard commented on #569
I came up with another hack to workaround the bug using HTML5 canvas with the `multipart/x-mixed-replace` stream. Hopefully this helps narrow down the root cause.
[code]

[2019-02-03 21:50] Lokomojo opened #572 "Disable Automatic Inference Engine"
WebKit's Automatic Inference Engine prevents audio and video from playing if the page has not been interacted with.

This causes significant issues for those using WPE in "kiosk mode" which doesn't accept user interaction.

Consider an option to disable this?

[2019-02-03 22:08] Lokomojo commented on #572
In Settings.yaml:

`videoPlaybackRequiresUserGesture:
  initial: defaultVideoPlaybackRequiresUserGesture
audioPlaybackRequiresUserGesture:
  initial: defaultAudioPlaybackRequiresUserGesture`

[2019-02-07 21:00] igor-borovkov opened #574 "Div background images are corrupted"
_Question: is it easy to identify a backportable change for this issue?_

Reproducible in
"revision date: Jun 4, 2018"
SRCREV = "c699f32f92e227955b252528ed8ececa6118793e"
BASE_URI ?= "git://github.com/WebPlatformForEmbedded/WPEWebKit.git;protocol=http;branch=wpe-20170728"
but **not on the latest revision from wpe-20170728**

very simple repro page:
http://test.borovkov.com/amazon/amazon3.html

ren

[2019-02-13 09:10] magomez commented on #574
Please cherry-pick 3bc0da687bae3a756bcacac6493315ba3e700794, that should fix the issue.

[2019-02-28 11:50] jacek-skiba-red opened #580 "[RP3+] Not smooth navigation on youtube/tv"
Hello,

We observed that on RP3+ horizontal/vertical navigation on youtube/tv is not smooth. When we move from tile to tile we see only 3 frames during the transition: https://drive.google.com/file/d/1ZiQ8fqMzf5jtgdaSschqft9VzmrnLTBg/view

Youtube certification (starting from 2017) requires 12 fps during vertical/horizontal navigation. Please check for comparison youtube/tv on x86 chrome.

Low fps

[2019-03-15 08:54] mladenlazic commented on #551
This issue is fixed on WPE 2.22. Thank you all.

[2019-03-15 08:54] #551 closed

[2019-03-18 20:36] drewcovi opened #581 "Feature Request: Scrolling Acceleration"
Would this be the place to request natural scrolling acceleration/deceleration? Love the work done here, would love it even more if `-webkit-overflow-scrolling: touch` worked :)

[2019-03-19 21:49] drewcovi opened #582 "Google’s Material Icon Font won’t render"
I’ve verified the fonts rendering on various platforms and WebKit browsers but it seems the material icon font won’t load. Are there any known issues with woff fonts?

[2019-03-26 22:14] ashwinrayaprolu opened #584 "Package 'virtualkeyboard', required by 'world', not found"
For config configs/raspberrypi3_wpe_defconfig

--   Package virtualkeyboard was not found in the pkg-config search path.
Perhaps you should add the directory containing `virtualkeyboard.pc'
to the PKG_CONFIG_PATH environment variable
Package 'virtualkeyboard', required by 'world', not found
CMake Error at /home/vagrant/wpe-buildroot/output/host/usr/share/cmake-3.7/Modules/FindPkgConfig.cmake:415 (

[2019-03-27 12:32] bramoosterhuis commented on #584
hey @ashwinrayaprolu1984,

This is a cmake or configuration issue. virtualkeyboard is part of the WPEFramework package. Which package is needing it, I guess it's not WPEWebKit? Can you maybe share the configure command (make V=1 <package>-reconfigure) of that package? I think we need to fix the cmake.

[2019-03-27 18:33] ashwinrayaprolu commented on #584
I used
make raspberrypi3_wpe_defconfig

I disable in .config file and it worked for me.
BR2_PACKAGE_WPEFRAMEWORK_VIRTUALINPUT

But i'm not able to get touch working. I'm not sure if this has anything to do with touch.
Still investigating

[2019-03-28 20:19] sleek-geek opened #586 "Wifi config isn't persistent"
Hello,
When trying to save WIFI ssid config, it's connecting and saved, but on reboot they are completely gone. and I have to renter them again.Is it a build related issue ?! I don't see config files anywhere in the root filesystem.I am using the buildroot repository to generate the img for a RPI3.

[2019-03-28 20:21] sleek-geek commented on #586
in fact all settings are not persistent for some reason.

[2019-04-01 12:02] SamDecrock commented on #567
Do you have a DTCP key ?? 😲

[2019-04-05 02:30] odesey opened #587 "three.bas support"
I am wondering if this browser is compatible with the **three.bas WebGL framework** located here:
https://github.com/zadvorsky/three.bas

Following this guide I was able to get the browser up and running on my Rbp3:
https://medium.com/@decrocksam/building-wpe-webkit-for-raspberry-pi-3-cdbd7b5cb362

However, when I attempt to run this example:
https://github.com/zadvorsky/three.bas/tree/master/exam

[2019-04-05 12:04] juhigupta0 opened #588 "Enable Logs for WebCore modules"
We are not able to enable the logs for WebCore modules (e.g. Media, MediaSource)

Which are the changes required or any enviornmental parameters required to be exported ?

From the obtained logs, we can see that ENABLE_LOGS macro is ON.
Platform : Linux

[2019-04-07 23:25] Minasodrom commented on #586
Got the same issue building with buildroot for raspberrypi3. Is there an other way to hardcode wifi settings during build?

edit: this propably belongs in wpe framework

[2019-04-09 11:30] dwrobel opened #589 "wpe-20170728: stack-buffer-overflow @JSC::ConservativeRoots::genericAddSpan"
- branch: wpe-20170728 (496e8ba676f7c47fff7135720fa37b69d24b7256)
- url: https://yt-dash-mse-test.commondatastorage.googleapis.com/unit-tests/2018.html?test_type=encryptedmedia-test&timestamp=1554377522685&tests=33,34&command=run
- compiled with: -fsanitize=address
- reproducibility 100%

[code]

GDB callstack:
[code]

[2019-04-10 08:18] dwrobel opened #592 "wpe-20170728: global-buffer-overflow @WTF::StringImpl::createFromLiteral()"
- branch: wpe-20170728 (23713271ab5144c3178df45901214b9238735ce5)
- url: https://yt-dash-mse-test.commondatastorage.googleapis.com/unit-tests/2018.html?test_type=encryptedmedia-test&timestamp=1554377522685&tests=33,34&command=run
 - compiled with: -fsanitize=address
 - reproducibility 100%

[code]

GDB callstack:
[code]

[2019-04-10 09:16] dwrobel commented on #592
If I'm not mistaken the problem seems to be how `mediaControlsBaseUserAgentStyleSheet` is being constructed and more precisely by lack of `\0` in the end of it. It's needed if you're invoking `strlen()` on them: https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/wpe-20170728/Source/WTF/wtf/text/StringImpl.cpp#L158 _(see frame 4 above)_.

[2019-04-11 03:49] woutermeek commented on #586
@samy-mohsen Could you describe a bit more on what you are trying to achieve?
It does not sound like a WPEWebKit issue, but more like a configuration issue of the RPI build.

[2019-04-11 03:50] woutermeek commented on #574
@igor-borovkov does @magomez his recommendation solve you issue?

[2019-04-11 03:51] woutermeek commented on #582
@drewcovi could you copy/paste a small test html example?

[2019-04-11 04:55] juhigupta0 commented on #588
Solved.

[2019-04-11 04:55] #588 closed, assigned to nobody

[2019-04-12 08:35] sleek-geek commented on #586
@woutermeek

We are trying to build the wpe image using buildroot method, but so far no config persists at all.

Do you need the build config file ?! Can you point out which configs might cause this issue ?

[2019-04-12 08:36] sleek-geek commented on #586
@woutermeek
Also wanted to point out that all filesystems are writable when I checked.

[2019-04-19 14:33] nrajan002c commented on #327
Hi @wouterlucas @albertd ,

Again we started analyzing this issue since this crash frequency is higher in field.
Originally the SIGUSR1 is being sent inside operationLinkDirectCall api.
(i.e. RELEASE_ASSERT(callLinkInfo->isDirect());
code: https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/wpe-20170728/Source/JavaScriptCore/jit/JITOperations.cpp#L999)

operationLinkDirectCall will be called

[2019-04-19 17:19] guijemont commented on #327
I would need to check more in detail, but this assert is very likely here for a reason, and I would expect that removing it would just move the bug somewhere else.

Interestingly, this week I've been playing with running jsc's tests with qemu, and I found a crash that looks a lot like this one (which wouldn't reproduce on the mips hardware I have). I'll keep on investigating that since now I have

[2019-04-19 17:26] nrajan002c commented on #327
Thanks @guijemont  for the update.
We are seeing this problem in mips platform also. Since this occurs randomly in field, We don't have the concrete reproducing steps. Please let me know if you want to try anything in STB.

[2019-04-23 12:19] Gavriliuk opened #597 "JSC Crash in revertCall executed from unlinkFor"
We get reported more than 7000 such crashes per month

Crash thread #0
Frame	Signature	Module	Source
#0	revertCall	libWPEWebKit.so.0.0.20161117	/mnt/jenkins/workspace/PACEXG2V2-Yocto-Build/build-pacexg2v2/tmp/work/mips32el-rdk-linux/wpe-webkit/0.3.1+gitAUTOINC+9a8f03fb37-r0/git/Source/WTF/wtf/SentinelLinkedList.h:60 (0x0)
#1	unlinkFor	libWPEWebKit.so.0.0.20161117	/mnt/jenkins/workspace/PACEXG2V2-Y

[2019-04-23 12:55] guijemont commented on #597
Can you provide details of your configuration (hardware and software)/compilation options and steps to reproduce to help us investigate this?

[2019-04-24 12:00] Gavriliuk commented on #597
The issue is being reported from different types of STB
Here is the last week statistics:
| SX022AN | 672 |
| PX032ANI | 512 |
| PX022AN | 372 |
| AX013AN | 123 |
| MX011AN | 88 |
| CS011AN |  86 |

The software is a standard Comcast software stack for TV STB

Which compilation options are you interested? Do I have to provide a Makefile etc.?

No steps to reproduce is known, the issue happens duri

[2019-04-25 11:46] Gavriliuk commented on #597
The stacktrace from more recent build image (with WPE 0.4.1):

0|0|libWPEWebKit.so.0.0.20170728|revertCall|/usr/src/debug/wpe-webkit/0.4+gitAUTOINC+c699f32f92-r0/git/Source/WTF/wtf/SentinelLinkedList.h|60|0x0
0|1|libWPEWebKit.so.0.0.20170728|unlinkFor|/usr/src/debug/wpe-webkit/0.4+gitAUTOINC+c699f32f92-r0/git/Source/JavaScriptCore/jit/Repatch.cpp|688|0x0
0|2|libWPEWebKit.so.0.0.20170728|unlink|/us

[2019-04-27 03:14] ghost commented on #586
i can solve your issues, however not from your fixed-price posting.... hourly...

[2019-04-27 06:21] pwielders commented on #586
@Minasodrom you are right. This is functionality that belongs to the Wifi plugin in the WPEFramework. This  is not part of the WebKit. The WPEFramework is a framework to start/host the webkit browser and all kind of other pieces of functionality that do not belong in a browser.
The plugins, running in the WPEframework, of wich the WiFiPlugin is one, translate lowlevel functionality into RESTFull A

[2019-04-27 06:28] pwielders commented on #586
@samy-mohsen the persist location on the rapsberrypi image is /root, here it mounts the second partition of the SD card and it mounts it RW. The path is configured in the /etc/WPEFramework/config.json, field persistentpath. You could change it to any other location but the buildroot image should be oke.
There is definitly some stuff stored there but I already got some reports that the WiFi configu

[2019-04-27 06:30] pwielders commented on #586
I think this issue needs to be moved to: https://github.com/WebPlatformForEmbedded/WPEFrameworkPlugins

[2019-04-27 06:30] #586 closed, assigned to nobody

[2019-04-30 16:42] Gavriliuk commented on #597
The stacktrace from more recent build image (with WPE 0.4.1):

0|0|libWPEWebKit.so.0.0.20170728|revertCall|/usr/src/debug/wpe-webkit/0.4+gitAUTOINC+c699f32f92-r0/git/Source/WTF/wtf/SentinelLinkedList.h|60|0x0
0|1|libWPEWebKit.so.0.0.20170728|unlinkFor|/usr/src/debug/wpe-webkit/0.4+gitAUTOINC+c699f32f92-r0/git/Source/JavaScriptCore/jit/Repatch.cpp|688|0x0
0|2|libWPEWebKit.so.0.0.20170728|unlink|/us

[2019-04-30 16:44] Gavriliuk commented on #597
All analyzed crashreports have the same symptoms:
- Polled memory pressure (critical or non-critical)
- Very high memory usage for WPEWebProcess in process list

Below are 4 examples with fragments of logs

1. Date Crashed: 2019-04-10 09:50:20

2019 Apr 10 09:50:18.153798 pacexi3v2 runAppManager.sh[4323]: Polled memory pressure (non-critical)
2019 Apr 10 09:50:18.537878 pacexi3v2 runAppManager.sh[

[2019-05-07 14:56] nrajan002c opened #599 "Game Webpage is not opening"
Hi @wouterlucas
Gaming web pages like 'Crossy Road', 'Carror Mania2' are not opening sometimes.
It is getting stuck while loading.  We have the image of wpe-20170728 branch 084c5cb53d168ee6addb7030bbd79c2334a4f39a revision.

But the same urls are loading fine in earlier version c699f32f92e227955b252528ed8ececa6118793e

Can you please check this.
URL: https://comcast.play.works/prod/reg/apps/crossy

[2019-05-07 17:30] nrajan002c commented on #599
I have manually created the core dump when the loading is at stuck.
Please check it .
[crossy_road_core.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/3153838/crossy_road_core.txt)

[2019-05-09 09:28] magomez commented on #599
Adding this to my TODO. I'll check it as soon as my hands are free, hopefully next week.

[2019-05-10 16:56] nrajan002c commented on #599
Hi @magomez @zdobersek ,
This issue is happening after this commit https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/89f24352472e015403d45ccba0139df7b7bcd055#diff-7492b230165502276f2de3e2f1526e1e .
I tested the url with/without this commit. It is loading fine without this change.
Can you please give your suggestion on this.

[2019-05-14 09:18] The-lost-cause commented on #476
No

[2019-05-14 11:00] magomez commented on #599
@nambirajang, could you tell me the versions you're using for WPEBackend and WPEBackend-rdk as well? So I can get an environment as close to yours as possible.

[2019-05-14 13:00] nrajan002c commented on #599
Hi @magomez ,
We are using the below version,
wpe-backend-rdk 99c0f3fafd6e71552bd42e89540175d646e15b7d
wpe-backend b6753c535b5be0db330001ff13387c91d53b48bc
wpe-webkit 084c5cb53d168ee6addb7030bbd79c2334a4f39a

[2019-05-16 10:31] magomez commented on #599
As @nambirajang found, there are 2 problematic commits here: 89f24352472e015403d45ccba0139df7b7bcd055 and then 9bdb033861b105b08dc9839d1458513155bcedab. The first one is not really wrong, it's just missing a detail, but the second one is a backport of an upstream change that seems to be causing troubles on this old branch. The fix for this would be reverting 9bdb033861b105b08dc9839d1458513155bceda

[2019-05-16 13:37] nrajan002c commented on #599
Hi @magomez ,
I reverted 9bdb033 and added your fix. Now the URL is opening fine in STB.
Thanks.

[2019-05-22 09:08] t3knomanzer commented on #500
@T94T I’m having the same issue:
Waiting for root device /dev/mmcblk0p2

Did you ever figure out what the problem was?

Thank you.

[2019-05-22 11:06] T94T commented on #500
No, I haven't dealt with this problem since.

[2019-05-22 17:16] t3knomanzer commented on #500
You mean it hasn’t happened again?
What changed?

It’s happening to me for the RAM disk version too. For that one I’m getting a mmcblk0p1 and p2 partitions not found.

[2019-05-22 20:56] T94T commented on #500
I'm using this one instead: https://github.com/TOLDOTECHNIK/buildroot-webkit

[2019-05-22 21:19] t3knomanzer commented on #500
:D
I went the other way around. I got Toldotechnik working and now I wanted to get the source WPE working to implement my own customizations.

Thank you. I guess I’ll have to keep digging.

[2019-05-23 07:01] ghost opened #603 "Rendering 3d video"
Hi ,
I am trying to render 3d video on RPI3 , I have taken the latest build and master branch of wpe-webkit , well when I look into the stable branch 3D video rendered properly but on latest build only black screen is coming and when i run 2 to three times a still image came .
please help me on this .

[2019-05-23 10:36] ghost commented on #227
Hi srinivas ,
can you please let me know how to enable text/html decoder
Below is the error i am getting

root@raspberrypi-rdk-mc:~# gst-launch-1.0 playbin uri=http://35.198.234.156:9003/vr/
Setting pipeline to PAUSED ...
Pipeline is PREROLLING ...
Missing element: text/html decoder
WARNING: from element /GstPlayBin:playbin0/GstURIDecodeBin:uridecodebin0: No decoder available for type 'text/html'.

[2019-05-29 21:39] bdirito opened #605 "WPEWebKit browser feature support list"
What front end rendering technologies does this project support? In developing a web page to be displayed on WPEWebKit the page is not rendering correctly. I assume this is due to missing support for some of the css (ie. no flexbox support?)

As there is no caniuse entry for WPEWebKit is it possible to say something like the renderer was forked from the same version of webkit Safari 4 (or whatever

[2019-05-30 01:07] tohoangduy commented on #476
Which way that you use to play video? If can, you load the next video while playing the current video.

[2019-05-30 10:39] aperezdc commented on #605
@bdirito Flexbox is definitely supported in WPE WebKit, for example I just tested [the flexbox.help demo](https://flexbox.help/) in Cog:

![Flexbox demo in Cog](https://user-images.githubusercontent.com/723451/58627355-b5261300-82df-11e9-9ffc-36ec76afa34b.png)

If you want to use [caniuse.com](https://caniuse.com) as guidance, for latest [official releases](https://wpewebkit.org/release/) of WPE W

[2019-06-12 05:40] Lange opened #608 "buildroot: update nodejs"
Hello, apologies if this issue is in the wrong place or covered elsewhere.

I'm looking to use WPE on my Raspberry Pi 3 via [WebPlatformForEmbedded/buildroot](https://github.com/WebPlatformForEmbedded/buildroot). However, this buildroot fork produces images with a pretty old, unstable, and unsupported version of nodejs (v7.7.2). Are there any plans to upgrade to a currently-supported LTS release,

[2019-06-22 06:26] T94T commented on #608
You can take precompiled binaries from https://nodejs.org/download/release and put them into the `rootfs_overlay/usr/bin/` folder.

[2019-06-22 06:58] Lange commented on #608
Oh nice! I had no idea.

On Sat, Jun 22, 2019, 1:26 AM T94T <notifications@github.com> wrote:

[2019-07-11 12:51] peoro opened #611 "X11 backend for WPE"
I'd like to try and write an X11 backend for WPE WebKit. Both to familiarize with WPE and to have it running on my system.
Two days ago I posted [this issue](https://github.com/WebPlatformForEmbedded/meta-wpe/issues/315) on the meta-wpe repository, and was told to ask here.

Since then I've started to experiment. My understanding grew a bit, but I still have some doubts.

I've learned a few things

[2019-07-18 12:54] pavannandyala opened #613 "LighteningDemoApp in Webkit Browser Not displaying Fading and Background picture in RPI Platform"
when we try to load https://github.com/WebPlatformForEmbedded/Lightning-Demo-App in webkit browser it not displaying background picture and fading effect,
not observed  which observed with chrome browser
Expected image
![expected](https://user-images.githubusercontent.com/22341841/61458877-29e50780-a989-11e9-96c0-b303783165cb.png)
Observed picture in TV
![observed](https://user-images.githubuserco

[2019-08-05 08:29] Hoy-June opened #614 "WPE WebKit MiniBrowser cant't open new windows,can't jump to a new page."
hello,
When I open a webpage with MiniBrowser, the webpage works fine, but I can't jump from that webpage to a new page.

In first terminal I executed:weston --socket=wpe. Weston Window shown.
In second terminal: WAYLAND_DISPLAY=wpe MiniBrowser --automation http://www.taobao.com. The page loads successfully on Weston Window，But when I click on the options in the page, the Weston window does not ch

[2019-08-26 11:41] guijemont commented on #405
@aazamansari Is that a crash that you are still able to reproduce? We have a patch for an issue that might be the same as yours that could be interesting to try.

[2019-08-29 17:35] nrajan002c opened #617 "Gaming site URL is not loading"
The below url is consistently fails to load from the initial launch screen in wpe-2.22 and wpe-20170728 branch.
http://nxg-frontend.uphe.com/6F47-7AF8-4CCE-9094-F86D-4/Code/FOD/B2AB2F6B-0A06-EBD7-77CE-A18964E93A76/GidgetsCatTrap/#0524DE4A-AEBD-BEDF-647F-E1FD6B446566

But it is loading fine in wpe webkit trunk and Chrome browser.
Can you please check it.

[2019-09-03 14:01] nrajan002c commented on #405
Hi @guijemont ,
This issue is still reproducible in our STB. Could you please share the patch.
We can try it out.

[2019-09-09 17:39] guijemont commented on #405
@nambirajang I've backported a [patch that might fix it](https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/40dbe1683f43a1378356aaa08a4b6deea7e82e1e). Please test with itand let me know if the issue still reproduces.

Also please note that this is not the permanent fix that will land upstream, and it could potentially have some side effects, so it would require extensive testing before usi

[2019-09-09 18:12] nrajan002c commented on #405
Thanks @guijemont . I will apply this patch and update you the result.

[2019-09-11 07:40] magomez commented on #617
@nambirajang discovered that the problem here was the lack of support of jpeg2000. I backported the patch that adds support for it from upstream to the wpe-20170728 and wpe-2.22 branches and checked that it fixes the issue. I pushed the changes, but kept the feature disabled, as it requires a new dependency (openjpeg >= 2.2.0) that not every environment may have, so it would break the build in tho

[2019-09-11 13:35] nrajan002c commented on #617
Thanks @magomez . I am able to load the url in STB after adding jpeg2000 support.
So I am closing this ticket.

[2019-09-11 13:35] #617 closed, assigned to nobody

[2019-09-19 13:58] nrajan002c commented on #405
Hi @guijemont ,
JSC crash is still observed with the fix.
We are using "c0bb44a4053c261212b865e74b553816d88a9d37" revision in wpe-20170728 branch.
I have attached the minidump stack trace. can you please check it.
[crash.docx](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/3631598/crash.docx)

Thanks.

[2019-09-20 10:07] trarbr opened #625 "Cannot launch Cog or MiniBrowser - EGLDisplay Initialization failed: EGL_NOT_INITIALIZED"
Hi. I am new to WPE and I am trying to build it to run it in Docker containers on various devices (currently limited to x86 - Intel Compute Stick STK1AW32SC and Intel NUC BLKNUC7i3DNK2E). The devices run a minimal Linux setup.

I am using Debian Buster, libwpe 1.2.1, wpebackend-fdo 1.2.2, wpewebkit 2.24.3 and cog 0.3.1. I can start weston fine, and the weston-simple-egl demo runs well. But when I

[2019-09-23 13:35] kytart opened #626 "How do I select a backend during build?"
I built WPE Webkit 2.25.1 and tried to run it in cog but it ends with error
[code]

From there I realized I gotta somehow pick a backend during build. I want to use wpebackend-fdo, but I don't know how to pick it during build. It's not obvious from the cmake files and it's not documented anywhere.

Can somebody please help me? Thank you!

[2019-09-27 14:14] aperezdc commented on #626
@kytart In which environment are you running Cog? If you are on Wayland, you can use `cog --platform=fdo …` and the [FDO backend](https://github.com/Igalia/WPEBackend-fdo) will be configured.

Alternatively, you can provide a `libWPEBackend-default.so` symlink to the actual backend you want to use. For example, this is known to work with the [RDK backend](https://github.com/WebPlatformForEmbedded/

[2019-09-29 20:41] jameshilliard opened #628 "Build fails when -DENABLE_WEBDRIVER=OFF is set."
When building from buildroot master which uses wpewebkit `2.26.0` with `BR2_PACKAGE_WPEWEBKIT_WEBDRIVER` disabled(it builds fine when enabled) I get the following compilation error:
[code]

[2019-09-30 17:34] kytart commented on #626
Thanks, that works!

[2019-09-30 17:34] #626 closed, assigned to nobody

[2019-10-04 08:45] kytart opened #629 "Can't launch with wpebackend-rdk on Raspberry Pi - getting EGL_NOT_INITIALIZED"
I'm trying to launch WPE Webkit on Alpine Linux on Raspberry Pi. I have latest versions of everything:

* libwpe 1.4.0.1
* wpewebkit 2.26.1
* cog 0.4.0
* wpebackend-rdk latest master (commit #e3f442523072444c0202b508f3688d9026f9c41f)

When I run
[code]

I get
[code]

I also tried to add `G_MESSAGES_DEBUG=all` but it didn't show anything useful, but here is the full log anyway:
[code]

[2019-10-04 09:09] magomez commented on #629
I'm not an expert, but I've looked around and it seems that Alpine Linux uses mesa as its OpenGL/GLES implementation. In order to work with mesa, you should use wpebackend-fdo (https://github.com/Igalia/WPEBackend-fdo) instead of wpebackend-rdk (this is intended to be used with the rpi proprietary driver).

[2019-10-04 09:49] kytart commented on #629
@magomez There are also rpi proprietary drivers available in Alpine Linux. But maybe what's happening is that mesa is being used instead of rpi drivers?

[2019-10-04 11:56] kytart opened #630 "Is it possible to exclude fdo completely from build?"
I wanna run wpe webkit with wpebackend-rdk but it seams that compilation requires wpebackend-fdo anyway. I would like to completely exclude it if possible, because it adds a bunch of dependencies that bloat the system even when I don't use fdo at all. Is it possible?

[2019-10-04 12:13] kytart commented on #629
maybe I'm wrong but was seems to me that's happening is this

* WPE Webkit has to be built with wpebackend-fdo support even if you don't intend to use fdo at all
* wpewebkit-fdo needs EGL implementation from mesa
* in order to satisfy that, when building cog, libEGL.so.1 from mesa gets linked to the final binary
* when I actually run cog with wpebackend-rdk, it has `#include <EGL/egl.h>` in the co

[2019-10-07 22:09] aperezdc commented on #630
The WPE WebKit build only needs WPEBackend-fdo in the following cases:

- The Qt API is enabled (`-DENABLE_WPE_QT_API=ON`).
- The MiniBrowser is being build (`-DENABLE_MINIBROWSER=ON`).
- Developer mode is enabled (`-DDEVELOPER_MODE=ON`).

If you do not need any of these options, you can disable them and you will not need WPEBackend-fdo for building WPE WebKit—you *still* need libwpe, of course.

[2019-10-07 22:17] aperezdc commented on #629
@kytart It's possible to build WPE WebKit without needing WPEBackend-fdo, please check the note I left in issue #630 about that. Note that you will still need:

- libwpe, which in turn uses the EGL headers at build time (only the headers, the library is not really needed); the headers included with the RasoberryPi “userland” driver are known to work.
- libepoxy built against the headers *and* libr

[2019-10-07 22:19] aperezdc commented on #629
@kytart In case it is not clear from my previous comment: WPEBackend-fdo and Mesa are not needed at all, with the proper build options being passed to CMake at each step. I would go as far as recommending avoiding installing Mesa.

[2019-10-07 22:22] aperezdc commented on #625
@trarbr You will need to use Weston's `drm-backend.so` (instead of `fbdev-backend.so`). Could you please give it a try with that?

[2019-10-07 22:56] aperezdc commented on #628
I have been able to reproduce this with WebKit `trunk` as well, so I have filed an [issue in WebKit's Bugzilla](https://bugs.webkit.org/show_bug.cgi?id=202658)—we need to fix the issue first upstream, then backport the fix.

@jameshilliard  Thanks for the bug report!

[2019-10-08 07:32] kytart commented on #630
I need the minibrowser. Why is fdo needed for it if you have a choice to
use a different backend?

On Tue, 8 Oct 2019 at 00:09, Adrian Perez <notifications@github.com> wrote:

[2019-10-08 16:12] kytart commented on #630
Also, maybe I'm not entirely sure what's minibrowser. If I want to run wpe webkit with cog and wpewebkit-rdk in fullscreen, do I need the minibrowser for that? I assume the minibrowser means "the standalone browser" or something like that.

[2019-10-08 19:07] aperezdc commented on #630
@kytart If you intend to use Cog, then you do *not* need the MiniBrowser.

(The MiniBrowser is a very bare-bones browser which is included with the WebKit sources and is used for testing things, usually only developers want to build it—it has even less features than Cog.)

[2019-10-14 12:06] kytart commented on #629
a small update: I managed to build everything against rpi userland and without the minibrowser, i.e. without dependency on fdo. It still doesn't work though, I get an error
[code]
Which is strange. How can it not find a symbol in a shared library, when I built it against that exact library? The same version and everything.

[2019-10-15 09:35] kytart commented on #629
@aperezdc After some digging I found out that libEGL.so.1 is getting dynamically loaded in `Source/ThirdParty/ANGLE/src/libANGLE/renderer/gl/egl/ozone/DisplayOzone.cpp` and it tries to call `DeleteFramebuffers` method which clearly doesn't exist in Raspberry Pi userland library.

[2019-10-16 11:07] kytart opened #632 "not working on Raspberry Pi with wpebackend-rdk and userland - libEGL.so missing symbols"
I tried to build wpe webkit on Raspberry Pi with wpebackend-rdk, userland drivers and cog.

When I finally run it like `cog https://github.com`, I get an error
[code]

After some digging I found out that this issue is linked to ANGLE library which is apparently being used.

[Inside ANGLE](https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/wpe-20170728/Source/ThirdParty/ANGLE/src/libANGLE/ren

[2019-10-16 11:26] #608 closed

[2019-10-16 20:44] nemosupremo commented on #629
I got the fdo backend to work, but the performance is really bad. I'm looking into using the `wpebackend-rdk` on RPi on Raspbian, but I think I'm hitting the same issue:

[code]

[2019-10-17 16:32] nemosupremo commented on #629
I tried recompiling wpewebkit without fdo installed - but now I'm hitting a new error:

[code]

FWIW, the `EGL_NOT_INITIALIZED` issue was partially solved for me making sure X was running - but the BAD_ALLOC is new wall.

[2019-10-18 15:59] nemosupremo commented on #629
@kytart

I've discovered that the "symbol not found" error is caused by WPEWebkit not linking against `libGLESv2` - `glxx_client_DeleteFramebuffers` and friends are defined in `libGLESv2.so`. I'm not sure how to massage CMake's arguments to include this, but if you are using cog I was able to get `github.com` to work by just running

[code]

[2019-10-18 16:32] kytart commented on #629
@nemosupremo nice, that actually solved the issue with libGLESv2, thanks!

It still doesn't work for me though. I get this:
[code]

May I ask, which version are you building and what flags are you using for cmake?

Also, this is supposed to work on it's own right? Do I have to have X server running or something?

[2019-10-18 17:13] nemosupremo commented on #629
It looks like you have the OpenGL driver enabled - you need to disable that I think.

[code]

the reboot.

I'm also using Cog 0.2 and Webkit 0.22.0 as that is what was working in balena's build (https://github.com/balena-io-projects/balena-wpe/tree/master/base-image/meta-resin-wpe), but I'm not 100% that is relevant.

[2019-10-21 06:58] trarbr commented on #625
Thank you @aperezdc. I get a segfault when I try to run `weston --backend=drm-backend.so --tty=4 --device=/dev/fb0`:

[code]

I dmesg I see the following message:

[code]

[2019-10-22 07:35] kytart commented on #629
I don't have OpenGL driver enabled. I tried building both latest version and 0.22.5 and the result is the same. I'm stuck now.

@nemosupremo may I also ask what's the contents of your Raspberry Pi config.txt file?

[2019-10-22 23:42] nemosupremo commented on #629
I actually think I misdiagnosed your issue - I don't think its the OpenGL issue I hit. Maybe you should run `ldd cog` and make sure the linked GL libraries are matched with those in `/opt/vc/lib/`

[2019-10-28 09:34] michal-krasowski-red commented on #531
Had similar problem, due to libwpe version change.

You'll get the proper version when installing libwpe:
[code]

In my case, following changes were required:
[code]

[2019-10-28 09:35] MichalKrasowski commented on #531
Had a similar problem, due to libwpe version change.

You'll get the proper version when installing libwpe:
[code]

In my case, following changes were required:
[code]

[2019-10-29 12:56] kytart commented on #630
I'm closing this. This answer pretty much summarizes it. Thank you @aperezdc!

[2019-10-29 12:56] #630 closed, assigned to nobody

[2019-10-29 12:59] kytart commented on #632
I finally figured out, that libEGL only works on RPi if libGLESv2 is also linked. More on that [here](https://github.com/raspberrypi/firmware/issues/43) and [here](https://github.com/raspberrypi/firmware/issues/110).

Main reason why these were not linked in my version is because I disabled all the things that depend on gsteamer, like video. Once I enabled video in the build, it by extension linke

[2019-10-29 12:59] #632 closed, assigned to nobody

[2019-11-21 18:15] skumarbdc11 opened #636 "[IntersectionObserver] IntersectionObserver Implementation"
I am currently using wpe-2.22 branch for a BRCM STB, The IntersectionObserver callback is called only during the object creation and no more afterwards even after the object comes in viewport.

Does this feature completely integrated here? Any quick guideline on adding this full fledged implementation in this branch?

[2019-11-26 18:58] emutavchi opened #638 "Choppy animation of video positioning/scaling"
Probably specific to a configuration that uses video hole punching. It looks like the positioning/resizing of the actual video is delayed/throttled.

Reproducible on https://5zsmx.csb.app/, https://qual-e.appspot.com/scaling.html

branch=wpe-20170728, src rev = "bc64bbadf261ab2e618c19653befb264fa757e23"

[2019-12-09 12:17] moorthy-bs opened #640 "No punch hole created on loading any youtube video URL on WPE Webkit 2.22"
There is an issue that punch hole not created while loading youtube video url on wpewebkit 2.22 where video rectangle is showing whitescreen (no video displayed, may be playing behind) whereas when any video loads through 'autoload' is displaying on the rectangle (hole punch created). The issue is when loading the URL
Environment details:
Platform: RPI3 32 bit (vc4 graphics)
distro: yoe distro (yo

[2019-12-09 12:24] moorthy-bs commented on #640
Follow the below procedure to build WPE westeros image on YOE distro to reproduce this issue

1) git clone --recurse-submodules -j8 -b master git://github.com/YoeDistro/yoe-distro.git YOE
2) cd YOE/sources
3) git clone  https://github.com/WebPlatformForEmbedded/meta-wpe
4) Add `DOCKER_REPO=none` in raspberrypi3-envsetup.sh
5) source ./raspberrypi3-envsetup.sh
6) yoe_setup
7) bitbake-layers add-lay

[2019-12-09 12:29] moorthy-bs commented on #640
When youtube video url loaded, setSize() is called around 3 times with different values, 1446x813, 0x0 and 1280x720 respectively. before this call, texturemapper layer buffer got destroy and newly created whereas in working scenario (auto loaded video) only one time setSize() is called only once with value 1280x720.
So, a workaround is made by calling pushNextHolePunchBuffer() in setSize() forcefu

[2019-12-10 10:18] magomez commented on #640
I've just pushed dbaec6ed91c6e27e7f152ea04c0e6d3d9e79542f to the wpe-2.22 branch, that should fix the issue.
@moorthy-bs could you test and confirm, please?

[2019-12-10 12:05] moorthy-bs commented on #640
Thanks @magomez It's working!

[2019-12-11 07:24] magomez commented on #640
Let's close this then :)

[2019-12-11 07:24] #640 closed, assigned to nobody

[2019-12-17 11:54] Khan3033 opened #641 "webkit 2.22(WPEWebProcess) crashing while setting rectangle"
There is a crash in WebProcess in below given environment when Youtube started playing the next video of loaded URL (autoplay enabled). Noticed that webkit keeps on setting the video rectangle to westeros-sink and crashed by reporting a broken pipe error. Please find below logs.

Environment details:
Platform - RPI3 32 bit (vc4 graphics)
distro - yoe distro (yocto build)
meta-wpe - master branch
w

[2019-12-17 12:03] moorthy-bs commented on #641
hole punch layer buffer is continuously setting the video rectangle to video sink (westeros-sink in this case) where wayland communication got broken at one point. I think need to stop continuous call of setRectangle

[2019-12-17 13:02] magomez commented on #641
We cannot stop setting the rectangle for each frame, or animating the rectangle won't work. The logical thing to do would be that westeros-sink shouldn't change its window rectangle if it's getting the same values that it has.

[2019-12-19 06:50] moorthy-bs commented on #641
yeah, that's a good idea. Found a commit [a69f1d|https://github.com/rdkcmf/westeros/commit/a69f1d8b64c9f33cade2ab78674ee931f342d3b6] that already done on Westeros to accept only new coordinates values on rectangle property. I think we can close this.

[2020-01-10 15:49] tobias-bischoff commented on #569
I can confirm the flickering issue running WPE WebKit v2.24.3 with wpebackend-fdo 1.2.3 and libwpe 1.2.x. I can also confirm both workarounds that @jameshilliard posted do resolve the issue (though the `draw-compositing-indicators` isn't really an option for production).

I don't have a local MJPEG stream, but testing with this public cam showed the same behavior:
http://217.7.233.140/cgi-bin/fast

[2020-01-13 14:25] tobias-bischoff commented on #569
I just tested with the latest WPE 2.26.x | libwpe 1.4.x | backend-fdo 1.4.x | cog 0.4.x and the flicker issue still occurs across all tested MJPEG streams. Appreciate any pointer where to start debugging @magomez / @zdobersek 😊

[2020-01-15 17:54] Minasodrom opened #642 "setting max fps"
hi, i am building for the rpi3 on the buildroot milestone rc2.3.
i am setting the environment variable WEBKIT_MAXIMUM_FPS (as per https://github.com/WebPlatformForEmbedded/ThunderNanoServices/commit/2499aa15f44d0dac1e13eb50a0bacc95ac8bb283)
is this not supposed to work?
The lcd panel we are using does not allow for 30hz and our animations run with about 50 fps so i would like to limit the framerat

[2020-01-28 14:36] varumugam123 opened #645 "Webprocess-JSC crash with signature "prepareForExecution<JSC::FunctionExecutable>""
Hi, we are observing crashes with the above mentioned signature during video playback. The exact scenario to reproduce this is still not clear to us.

We are using wpe-20170728 branch and crash was observed with below versions "bc64bbadf261ab2e618c19653befb264fa757e23", "c0bb44a4053c261212b865e74b553816d88a9d37".

I have attached few stack traces here for your reference.
[crash_3.txt](https://gith

[2020-02-03 09:34] woutermeek commented on #645
@varumugam123 I think we need a little more information on the crash, is it possible to provide a url or html with which we can reproduce it?

[2020-02-03 09:36] #641 closed, assigned to nobody

[2020-02-10 12:03] Ameerrafiq opened #646 "WPEWebProcess getting crashed with the signature "setupVarargsFrame" when playing Video from Hulu and other HTML apps"
The crash has been identified in the boxes like AxG1V3 during playback of video in html apps. Exact steps to reproduce is not available as they are occurring random and intermittently. The branch being used is wpe-20170728.

Stack traces has been added for further analysis

[mini_dump_2.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/4180651/mini_dump_2.txt)
[mini_dump_3.txt](https:

[2020-02-10 12:30] eocanha commented on #646
I thought this was a multimedia related bug, but after seeing the stacktraces it looks like a JavaScriptCore bug. Somebody else with JSC experience should have a look at it.

[2020-02-10 12:41] woutermeek commented on #646
@guijemont could you please have a look at this?

[2020-02-10 12:44] woutermeek commented on #646
@Ameerrafiq is this crash the same as #645 ?

[2020-02-10 13:59] Ameerrafiq commented on #646
No, they are different issue

[2020-02-17 14:44] woutermeek commented on #646
@Ameerrafiq can you share an html page with the video which has the problem? (you can mail it to me in private)

[2020-02-17 16:21] Ameerrafiq commented on #646
@woutermeek , i have shared the url with you in mail with the subject of mail as "WPEWebProcess crashes with signature "setupVarargsFrame" when playing hulu video". The thread has been updated again. Thanks

[2020-02-17 17:55] guijemont commented on #646
As I can see them, I can't deduce much from the attached stack trace, though I'm not familiar with this mini dump format. Is there some tool to "decode" it? Mostly, I'm interested to know if the argument values are saved in some way that I don't get (though it doesn't look like it), and if not, are you able to provide a trace with argument values?

[2020-02-18 13:17] Ameerrafiq commented on #646
At this point, we are unable to provide you trace with argument values as it is not available. As far as we know, it is getting crashed when jsCast, but arguments to cast is not available.

[2020-03-04 13:42] SureshKhurdiya opened #647 "[WPE Browser][WPE Performance Test][Bench Mark test]Regex-dna.js(inside bomb.js) sub-test is crashed while running on WPE browser."
We are running WPE browser on our PLATFORM.  Our platform is based on Broadcom SOC(7439) and as a pre-requisite for running this JestStream2 cases, we always set the WPE_RAM_SIZE as higher value (600MB) than the usual.  While running Regex-dna testcase which is part of JetStream2 we are seeing browser crash.  We did not notice any runtime exception in the logs.

The JetStream2 benchmark test case

[2020-03-09 08:37] skumarbdc11 opened #649 "Support for ES6"
Does this code base has full support for ES6 specification?

We are currently on the branch wpe-2.22 and the commit baseline was taken on April 2019.

[2020-03-13 13:54] Gavriliuk commented on #327
This problem is often observed when load average is too high

It seems the operation block is already destroyed when its call is executed

It leads to SIGSEGV in many cases, and sometimes SIGUSR1 from WTFCrash because of RELEASE_ASSERT on the line 999:

    void JIT_OPERATION operationLinkDirectCall(ExecState* exec, CallLinkInfo* callLinkInfo, JSFunction* callee)
    {
        VM* vm = &exec->vm()

[2020-03-20 07:02] Balajims88 commented on #327
@wouterlucas @woutermeek I am believing this #650 fix this issue.
so could you please review and merge this #650

https://github.com/WebPlatformForEmbedded/WPEWebKit/pull/650

 CC @aazamansari

[2020-03-20 12:03] guijemont commented on #327
#650 has been merged in 80c28477227cd600a416a1caa7c45ba3cb800d72. Please confirm whether this solves the issue, but from the description of the fix on the [upstream bug](https://bugs.webkit.org/show_bug.cgi?id=192386), I expect it to fix this.

[2020-03-20 12:06] guijemont commented on #405
I believe this has a high chance of being fixed by 80c28477227cd600a416a1caa7c45ba3cb800d72. If you are still able to reproduce the issue, can you check whether this fixes it? (I expect the patch should be trivial to apply on wpe-20170728 )

[2020-03-20 15:29] nicoske opened #651 "RPI3 with FDO backend - Renderer crashed"
Hi,
I built WPE for RPI3 using official buildroot 2020.02. I'd like to avoid using the old buildroot fork on this repo as I need newer version of systemd and I'd like to use mender.
Also If I understood well, the rdk backend is getting deprecated.
The built include wpewebkit 2.26.4, libwpe 1.4.0.1, wpebackend-fdo 1.4.1, Mesa + VC4, cog 0.4.0.

I enabled `dtoverlay=vc4-kms-v3d` in the config.txt

W

[2020-03-24 19:42] guijemont commented on #405
Patch has been backported to the wpe-20170728 branch, let me know if this looks like it fixes the issue for you.

[2020-03-27 07:33] kkanag314 opened #652 "WPEWebProcess crash (JavaScriptCore) with the signature [ operationGetByValObjectString ] due to SIGSEGV"
The crash has been identified in the Arris Xi6 boxes.

All sessions are of hulu app crash only

[ 0 ] operationGetByValObjectString
[ 1 ] create
[ 2 ] operationValueAddNotNumber
[ 3 ] createEmpty

Stack traces has been added for further analysis

[JavaScriptCore_crash_operationGetByValObjectString.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/4392017/JavaScriptCore_crash_operation

[2020-03-31 11:44] kkanag314 opened #653 "WPEWebProcess crash (JavaScriptCore) with the signature [ create ] due to SIGSEGV"
The crash has been identified in the boxes like ArrisX06.Exact steps to reproduce is not available as they are occurring random and intermittently.

All sessions are of hulu app crash only

[ 0 ] create
[ 1 ] operationValueAddNotNumber
[ 2 ] createEmpty

Stack traces has been added for further analysis

[MINI_DUMP.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/4408770/MINI_DUMP.txt

[2020-04-01 04:42] kraj commented on #632
see https://github.com/agherzan/meta-raspberrypi/pull/609/commits/00fd2ffbdbfa4faa2a593b792f00906706418eef which should fix it

[2020-04-13 17:56] snalty commented on #651
Same issue, same setup using buildroot 2020.02 but on a raspberry pi zero.

[code]

[2020-04-13 18:31] kraj commented on #651
try using `dtoverlay=vc4-fkms-v3d` with vc4graphics

[2020-04-13 22:02] snalty commented on #651
Sorry, my mistake. I am running with this module.

[2020-04-17 12:13] nicoske commented on #651
Tested with both vc4-kms-v3d or vc4-fkms-v3d and cog fails with the same error

[2020-04-21 10:20] charlie-ht commented on #651
Please can you prepare a backtrace? What version of Mesa is configured there? To stop cog continuously crashing and filling your card with cores after enabling their generation, pass `--webprocess-failure=exit` to cog.

[2020-05-04 11:57] guijemont commented on #327
@Balajims88 @aazamansari have you been able to confirm that the issue is fixed?

[2020-05-04 12:41] Balajims88 opened #655 "Segmentation fault on JSC::JSRopeString::visitFibers()"
Hi @woutermeek ,
 We are facing crash on JSC while launching https://html5gamepad.com/ on wpe-2.22.

Reproducing steps: to launch the https://html5gamepad.com/ url and wait 2 or 5 min idle.
 it is 100% reproducible for us.
please find the Backtrace below.

[code]

[2020-05-04 14:51] woutermeek commented on #655
@Balajims88 is this reproducible on a RPI, or are you testing on a different device?

[2020-05-04 14:53] Balajims88 commented on #655
@woutermeek I have reproduced on Arris XG1V4 & Tch Xi6.
I never tried with RPI.

[2020-05-04 16:44] guijemont commented on #655
I can't reproduce on rpi3 after having the website loaded for 20+ minutes (edit: 40+ minutes). I do not have any gamepad though (and the website reports that accurately). @Balajims88 do you have any device seen as a gamepad by the page? If not, does your build include gamepad support? (`ENABLE_GAMEPAD`)?

![image](https://user-images.githubusercontent.com/1067577/80990786-3c0c3580-8e37-11ea-88c2-2

[2020-05-04 17:58] Balajims88 commented on #655
@guijemont No, I have no gamepad device connected. Also I am seeing same what you attached the above.
We are seeing the crash on both config with ENABLE_GAMEPAD and without ENABLE_GAMEPAD.

[2020-05-05 17:37] guijemont commented on #655
@Balajims88 that might be a long shot, but can you try with [this patch](https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/c6a7ec3bf447bab77ae296265bdc190718510da3) I just cherry-picked into wpe-2.22?

[2020-05-06 12:33] Balajims88 commented on #655
Sorry @guijemont   Still, I can reproduce the crash with this patch.

[2020-05-11 14:44] nicoske commented on #651
@charlie-ht I'm using Mesa 20.0.6.
I'm not sure how to create a backtrace, shall I build cog with debug info ? I have GDB but I can't generate a backtrace..

[2020-06-02 14:03] nicoske commented on #651
I enabled debugging symbols on my buildroot project and I will try again to generate a backtrace.
In the meantime I already have more information when starting cog:

[code]

[2020-06-02 14:19] magomez commented on #651
That crash happens probably because WPE cannot find any usable font in the system. Please try installing bistream vera, for example (BR2_PACKAGE_BITSTREAM_VERA=y)

[2020-06-02 14:24] magomez commented on #651
With the newer cairo version you may also hit https://bugs.webkit.org/show_bug.cgi?id=191595, you may want to apply the patch there.

[2020-06-04 12:26] nicoske commented on #651
Thank you @magomez I'm now able to run cog 👍
I have issue with playing MP4 videos but I found a lot of information how to debug this in another thread.

Thanks a lot

[2020-06-08 14:21] dan-developer opened #659 "Help to run a web page that will communicate with GPIO."
I want to run a remote web page with wpe kit. This web page must communicate with gpio da raspberry. Via AJAX and a server running on the raspberry listening to a port, or a link between the web page and gpio.

Is that possible? Can you help me by saying where I put the part that works with gpio to compile the image?

[2020-06-08 22:03] dan-developer opened #660 "Webcam support?"
How do I enable webcam support on the raspberry?

[2020-07-04 12:59] kvasdopil opened #663 "How to remote debug from OSX?"
Hi there.
I'm using WPEWebkit + cog on ubuntu, with developer extensions enabled and WEBKIT_INSPECTOR_SERVER env var set up properly. I am able to connect from other machine running Epiphany browser on Linux using `inspector://<my-machine-ip>:<port>` URI scheme.
Now I'm trying to figure how do I connect to remote inspector server from my dev computer which is running OSX:
- Safari (an obvious cand

[2020-07-06 18:11] emutavchi commented on #655
H @guijemont. This is still reproducible for us on different web sites with slightly different backtraces. And it seems to be ARM specific (I tried on x86_64 and MIPS, no crashes)

the crash seems to be specific to the MessageEvent, and easy reproducible with following:

[code]

[code]
start browser with JSC_useGenerationalGC=false JSC_useJIT=false JSC_useZombieMode=true.

backtrace I get:
[code]

[2020-07-07 12:21] guijemont commented on #655
@emutavchi That's great that you have a simple reproduction case! I'll try to reproduce on my side some time  this week and see if I can understand better what's happening.

[2020-07-08 18:01] guijemont commented on #655
It looks like I can reproduce, thanks to your test case, though my stack trace is a little different, but very similar from the first one posted:
[code]

I'll look more in details tomorrow to see if I can get other stack traces, and if I can make sense of what's happening.

[2020-07-09 13:38] Bastian-Krause opened #664 "touchend doesn't trigger on element when touch is released after touch motion"
**backend:** wpebackend-fdo-1.6.1
**wpewebkit:** 2.28.2
**browser:** cog 0.7.1, qt-wpe-simple-browser 0.2

**How to reproduce:**
Visit https://patrickhlauke.github.io/touch/tests/event-listener.html, touch the button, move finger (while still touching) on button (or off button) and release touch.

**Expected behavior:**
[code]

**Observed behavior:**
[code]

**Similar bugs:**
* https://bugs.webkit

[2020-07-10 06:43] Bastian-Krause commented on #664
I misstook this repo as the correct upstream for wpewebkit. I filed the bug in https://bugs.webkit.org/show_bug.cgi?id=214141 .

[2020-07-10 06:43] #664 closed, assigned to nobody

[2020-07-10 13:17] emutavchi commented on #655
@guijemont in my testing it looked like the memory allocated for JSString was immediately collected. i.e. js was continuing to work with garbage. this explains the backtraces and the garbage I sometimes see in the console logs.

Something like following can work around the issue for the test case. But, I think it may surface somewhere else later.

[code]

[2020-07-17 14:17] emutavchi commented on #655
@guijemont any progress on this?

[2020-07-20 12:10] guijemont commented on #655
Still investigating. Though my current understanding is that your workaround avoids the issue by avoiding a potential GC being triggered by `reportExtraMemoryAllocated()` at a bad time, but doesn't guarantee that the issue won't happen.

[2020-07-21 08:07] skumarbdc11 opened #665 "Memory profiler setup"
Is there any specific build configuration to enable JVM heap memory profiling in WebInspector UI?

[2020-07-23 07:29] gauthamkanagaraj commented on #327
Hi @guijemont THE JSC crash in operationLinkDirectCall is still not resolved.

[code]
The crash has been identified in the boxes like SamsungXG2V2 box.Exact steps to reproduce is not available as they are occurring random and intermittently.

[2020-07-23 07:32] kkanag314 commented on #327
Hi @guijemont

The JSC crash in operationLinkDirectCall is still not resolved.

**[  10 Thread 0 (crashed)
  11  0  libWPEWebKit.so.0.0.20170728!WTFCrash [Assertions.cpp : 270 + 0x8]
  12  1  libWPEWebKit.so.0.0.20170728!operationLinkDirectCall [JITOperations.cpp : 999 + 0x4]
  13  2  0x71107d54]**

The crash has been identified in the boxes like SamsungXG2V2. Exact steps to reproduce is not avail

[2020-07-29 13:16] Balajims88 commented on #655
@guijemont any progress on this?

[2020-08-03 07:27] kkanag314 opened #666 "WPEWebProcess crash (JavaScriptCore) due to SIGSEGV"
The crash has been mostly identified in the boxes like ArrisX06 and AX014. WPEWEbProcess is crashing randomly with lighteningscreensaverapp.

crashed url - http://prod.lightning-screensaver.xre.aws.r53.xcal.tv/1.0.5/ only reported in 4.2 release.

Core was generated by `/usr/bin/WPEWebProcess 36 -1'.
Program terminated with signal 11, Segmentation fault.
#0  putInline () at /usr/src/debug/wpe-webk

[2020-08-06 06:36] vdinak240 opened #667 "WPEWebProcess Crash observed while running benchmark test"
Crash observed while running https://browserbench.org/ARES-6/
WPEWebProcess hanged and crashed with SIGFPE signal.

Frequency of occurrence is 100%.

webkit version:wpe2.22

Devices tried
Arrisxi6
Pacexi5

Steps to Reproduce

1)Execute

/usr/bin/rdkbrowser2.sh "https://browserbench.org/ARES-6/"

2)In another terminal
 open
 rdkbrowser2-control
 b = rt.locate()
 b.evaluateJavaScript('document.getEl

[2020-08-06 10:59] xanlpz commented on #655
Some updates on this: I can reproduce the bug locally (instant crash) on WPE 2.22. I suggested we try a recent build to see if the bug is also present, and we cannot reproduce it in a aprox. 3 month old Cog build form ARMv7. So it would seem the bug is either fixed since the WPE 2.22 days or this is something we changed. Either way hopefully this makes it easier for us to track it down. Will keep

[2020-08-06 18:09] xanlpz commented on #655
This also works in WPE 2.28.4, so I think it's very probable this was a bug present in an old WebKit that got fixed during the last year, and is not caused by any downstream change in WPE.

EDIT: also works on WPE 2.26, so that narrows down even more the window where this was fixed.

[2020-08-07 11:31] GlebNovodranPE opened #668 "WebKit::CoordinatedBackingStoreTile::setBackBuffer crashes are back with wpe-2.22"
wpe-2.22 exhibits the WebKit::CoordinatedBackingStoreTile::setBackBuffer crashes rectified by #529 :
A crash thread stack trace sample:
[code]

A possible reason could be that wpe-2.22 misses this [rollback](https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/5de31f2c34ab2768264c925e672f961d0223ba85).
The changes were lost because of this merge:
https://github.com/WebPlatformForEmbedded/WPE

[2020-08-07 11:39] GlebNovodranPE commented on #668
Unfortunately, I can't provide a full back trace - the crash info above was recovered from a corrupted minidump.

[2020-08-07 16:25] xanlpz commented on #655
Since this is crashing in JSRopeString and it's an ARMv7 only crash this looks like a very good candidate for the fix: https://bugs.webkit.org/show_bug.cgi?id=200148
Unfortunately it needs this quite massive rework to apply: https://bugs.webkit.org/show_bug.cgi?id=194375

In any case, I think that we want to look at changes to JSString/JSRopeString from around that time, in case someone else wants

[2020-08-09 19:17] suniltop opened #669 "RaspberryPI Zero Compiling Error"
Hi all,

I have a issue different issue. Anyone knows how to solve ?
I have use Rev: e044951cb6a9bf2f6f1c20ec4a6630d05c40a3d6 but i tested already latest rev but no luck.
In addition same error occurs both buildroot and yocto.

Error:

[1221/2724] Generating ../../DerivedSources/JavaScriptCore/LLIntAssembly.h
FAILED: DerivedSources/JavaScriptCore/LLIntAssembly.h
cd /home/username/buildroot/output/

[2020-08-13 10:12] guijemont commented on #666
Do I understand correctly that the webkit used matches rev bc64bbadf261ab2e618c19653befb264fa757e23 ? And are these platforms mips or armv7 (or something else)?

[2020-08-13 11:19] kkanag314 commented on #666
The WPE version is upgraded to 2.22 .The changes are already merged in stable2.The 4.2 release images have the older WPE version

[2020-08-13 11:23] woutermeek commented on #666
@kkanag314 could you please tell us the exact revision from 2.22?

[2020-08-13 12:21] macabeus opened #670 "I have pkg-config installed, but they can't found"
I'm trying to build WPE on Ubuntu, but it says that I haven't pkg-config installed:
[code]

But I have:

[code]

I tried to export the path, but it didn't solve the problem:
[code]

How to solve that?

[2020-08-13 12:22] kkanag314 commented on #666
Hi @woutermeek "686cd2f7df15f05417537485fd02ccbe632e5b09" is the commit/reversion-tags used in wpe2.22

[2020-08-13 13:00] guijemont commented on #666
<del>@kkanag314** Is that wpe 2.22 or 2.28? That commit seems to be derived from 2.28.</del> Never mind, I was mistaken

[2020-08-13 15:48] guijemont commented on #666
@kkanag314 how frequently do you see the crash. I.e. how long should I let the app run to hope to reproduce?

[2020-08-13 16:32] kkanag314 commented on #666
@guijemont The crash is reproducing randomly in 4.2 release.I observed crash one time in 30 min

[2020-08-13 18:46] suniltop commented on #670
Firstly, i am not sure but you should try to install pkg-config:i386 but if it is installed already you could try --reinstall flag
Other step you may check or run script from dependencies package from https://github.com/WebKit/webkit/blob/master/Tools/wpe/install-dependencies

[2020-08-14 08:35] woutermeek commented on #649
@skumarbdc11 yes it does support ES6

[2020-08-14 08:35] #649 closed, assigned to nobody

[2020-08-14 08:37] woutermeek commented on #642
@Minasodrom yes that is supposed to work. Nowadays the repository has moved, but the setting is still the same.
https://github.com/rdkcentral/ThunderNanoServices/blob/f2790ff0ac89c6244bb061961c7042d8652816e5/WebKitBrowser/WebKitImplementation.cpp#L1303

[2020-08-14 08:37] #642 closed, assigned to nobody

[2020-08-14 08:39] woutermeek commented on #613
@pavannandyala which version of WPEWebKit are you using?

[2020-08-14 17:06] guijemont commented on #669
Hi @suniltop. We don't support the JIT tiers and offlineassembly for armv6 processors (which includes the Pi Zero). You need to disable this, I think that passing `-DENABLE_JIT=OFF` to cmake should do the trick.

[2020-08-14 17:06] #669 closed, assigned to nobody

[2020-08-17 11:47] caiolima commented on #655
This [patch](https://bugs.webkit.org/show_bug.cgi?id=215512) should fix this problem. We tested this using @emutavchi's smaller example and could see that it is not crashing anymore.

[2020-08-18 08:05] woutermeek commented on #655
@caiolima can we add that patch to wpe-2.22 branch?

[2020-08-18 13:49] woutermeek commented on #655
@Balajims88 the commit has been added to 2.22

[2020-08-18 22:50] urothis commented on #569
@tobias-grasse did you make any progress on this issue? I've ran into the same issue of wpe not being able to handle the amount of frames I'm sending from the rtmp stream.

[2020-08-20 13:51] zizijun opened #672 "Failed to build WPE port dependencies with jhbuild"
The error happens when  patch applying
This is the log:

 gst-plugins-good-0003-qtdemux-Clarify-field-name-about-stream-encryption-s.patch *** [17/34]
patch -p1 < "/home/WPE/WPEWebKit/Tools/gstreamer/patches/gst-plugins-good-0003-qtdemux-Clarify-field-name-about-stream-encryption-s.patch"
patching file gst/isomp4/qtdemux.c
Hunk #1 succeeded at 7857 (offset -239 lines).
Hunk #2 succeeded at 7888 (o

[2020-08-20 17:33] suniltop commented on #669
Thank you, @guijemont I have compiled succesfully.
But i wonder that what i have lost specification at wpewebkit.
I searched on the net about what is JIT means, it is only explain as Just In Time debug.

[2020-08-24 15:11] emutavchi opened #673 "Google DAI doesn't work with latest HLS.js"
The simple test case causes a playback stall on first ad https://github.com/googleads/googleads-ima-html5-dai/tree/master/hls_js/simple

GST MSE logs suggest that player creates a new track for the ad:
[code]

tested with wpe-2.22 at 686cd2f7df, and gst 1.16.2.

[2020-08-26 12:33] guijemont commented on #666
I've run http://prod.lightning-screensaver.xre.aws.r53.xcal.tv/1.0.5/ on WPE 686cd2f7df15f05417537485fd02ccbe632e5b09 for more than 24 hours on a rpi3 (set up as arm 32 bits) and could not reproduce.

[2020-08-26 19:15] philn commented on #672
Did you really clone this fork or are you trying to build the upstream repo from webkit.org ?

[2020-08-27 09:45] guijemont commented on #667
I ran the benchmark several times on an rpi3 with wpe-2.22 57bbecb9421d206f40a3beb45b9d800288a39b1d and could not reproduce. Are you able to hook a debugger to get a disassembly of  the code around the crash location?

[2020-08-27 10:00] eocanha commented on #673
I've found that a new (second) pad is created by the video demuxer in the append pipeline and the old existing first pad is removed shortly after, but for a while two pads exist. That's what's causing the warning and all the data produced by the second pad (the advertisement video) to be ignored, because we only support one pad (track) per sourcebuffer in the current implementation.
I'm looking in

[2020-08-28 16:01] eocanha commented on #673
Looks like at this point it's unavoidable that qtdemux creates a new pad. It can't reuse the old stream and associated pad because the stream id of the old video and the stream id of the advertisement are different (there's code to reuse the stream/pad if they are the same).
I'm now working on a way to detect this scenario from the AppendPipeline code and reconnect the new pad to the rest of the A

[2020-09-01 10:51] eocanha commented on #673
I have code (not pushed yet) to reconnect the single remaining qtdemux pad to the rest of the downstream elements of the AppendPipeline. It's working fine on wpe-2.22 here and the advertisement-movie-advertisement-movie transitions work. I'd like to get it properly working upstream too (there are problems there) before pushing it.

[2020-09-01 21:35] tobias-bischoff commented on #569
@urothis unfortunately not; but most streams are working flicker-free with the canvas workaround. It's significant overhead compared to just `<img src="">`, but my use case requires some JS logic to control the stream anyway. Note I'm still testing against WPE 2.26.4 though; 2.28.x fails to build on armhf architecture snapcraft builders. Will update here if that version bump changes anything w.r.t

[2020-09-02 16:34] guijemont commented on #666
Since I can't reproduce, I've been trying to dig in more into the information we get from the stack trace in backtrace_ax04.txt, and I noticed that the line numbers in there do not match at all the code in 686cd2f7df15f05417537485fd02ccbe632e5b09, but seem to match bc64bbadf261ab2e618c19653befb264fa757e23. I tried again to see if I could reproduce with bc64bbadf261ab2e618c19653befb264fa757e23, but

[2020-09-02 17:10] guijemont commented on #667
...If you are, and the debugger is gdb, I would be interested in the output of:
[code]

I would also like to know if the issue reproduces with the following environments:
 1) `JSC_useLLInt=false JSC_useJIT=true JSC_useDFGJIT=true`
 2) `JSC_useLLInt=true JSC_useJIT=true JSC_useDFGJIT=false`
 3) `JSC_useLLInt=true JSC_useJIT=false JSC_useDFGJIT=false`

Thanks.

[2020-09-02 17:15] guijemont commented on #666
Since I can't reproduce, I've been trying to dig in more into the information we get from the stack trace in backtrace_ax04.txt, and I noticed that the line numbers in there do not match at all the code in 686cd2f7df15f05417537485fd02ccbe632e5b09, but seem to match bc64bbadf261ab2e618c19653befb264fa757e23. I tried again to see if I could reproduce with bc64bbadf261ab2e618c19653befb264fa757e23, but

[2020-09-03 15:35] zizijun commented on #672
I continue to update webkitwpe libs by commenting code in `Tools/gstreamer/jhbuild.modules`
[code]
And then I' m receiving the following error message:
[code]
My gcc version is  7.5.0, i want to know which version of gcc should I use to build wpe, or I can fix it by adding  options, like `-std=c++0x `or `-std=gnu++0x`, as accepted in [https://github.com/openalpr/openalpr/issues/528](url)

[2020-09-10 09:40] glibnovodran commented on #668
It's been more than a month now and nobody got assigned to this. Can anyone look at this problem please?

[2020-09-10 13:31] eocanha commented on #673
This has been fixed in commit https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/28c21c30d1fdfa93122e96e36acd36af7838fe06 on wpe-2.22 and also upstream, on https://bugs.webkit.org/show_bug.cgi?id=216039

[2020-09-10 13:31] #673 closed, assigned to eocanha

[2020-09-11 20:51] NirajTummala opened #676 "buildroot build fails for rpi4 32-bit after post-image.sh saying error about config"
ln -sf rootfs.ext2 /home/nirajtummala/buildroot/output/images/rootfs.ext4

board/raspberrypi4/genimage-raspberrypi4.cfg:30: no sub-section title/index for 'config'
INFO: cmd: "mkdir -p "/home/nirajtummala/buildroot/output/build/genimage.tmp"" (stderr):
INFO: cmd: "rm -rf "/home/nirajtummala/buildroot/output/build/genimage.tmp"/*" (stderr):
INFO: cmd: "mkdir -p "/home/nirajtummala/buildroot/output/

[2020-09-15 12:27] kkanag314 commented on #666
Hi @guijemont The crash is observed in 4.2 release which contains the older WPE version.I will try to reproduce the issue with following environment variable JSC_dumpDisassembly=true in 4.2 release and will let you know

[2020-09-15 15:44] guijemont commented on #666
Are you able to translate the release to a specific WebKit revision? I am sorry, but I am not aware of what "4.2" is a release of or what that means. However if it's of a public project, I'd welcome a pointer to that so that I can check it for myself.

And thanks in advance for the output with the env variable set (note that it's important that the backtrace you provide and the output from `JSC_du

[2020-09-15 16:45] kkanag314 commented on #666
The 4.2_p1v release have bc64bbadf261ab2e618c19653befb264fa757e23 as a commit version of wpewebkit

[2020-09-16 09:19] zdobersek commented on #668
Re-cherry-picked into https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/4c2079ba9bbf7e1e7af571242e4aaddd0349f496

[2020-09-16 09:25] zdobersek commented on #668
That's in 2.22 now. If the problem persists, please reopen the issue and provide a test case that can be evaluated.

[2020-09-16 09:25] #668 closed, assigned to zdobersek, magomez

[2020-09-18 13:41] kkanag314 commented on #666
Hi @guijemont Is any other logs than the stack trace is required for the analysis.please let me know

[2020-09-18 14:03] guijemont commented on #666
Yes, I would need the output generated by the dumpDisassembly option. Depending on your configuration, it can be stdout+stderr or it might be in a log file. It should contain the assembly code of all the generated JIT code, among other things.

[2020-09-21 05:59] kkanag314 commented on #666
Crash observed in image : AX061AEI_4.2p4s1_VBN_sdy

**CRASHED THREAD:**

[code]

[2020-09-21 08:19] guijemont commented on #666
Do you have the output generated by `JSC_dumpDisassembly=true` from the same run? That would allow me to know what code in what function is at 0xb251fb54. Otherwise, this stack trace provides the exact same information as the one initially posted with the bug, and does not help me further in diagnosing the issue.

[2020-09-21 09:26] kkanag314 commented on #666
HI @guijemont I don't have output generated by JSC_dumpDisassembly=true.I exported the environment variable JSC_dumpDisassembly=true in STB and monitoring the crash.I have some queries about the output which will be generated by JSC_dumpDisassembly.Is any specific log files or dump will be generated due to this environment variable.Kindly clarify

[2020-09-21 09:33] guijemont commented on #666
It's hard to say, as it depends a lot on the specifics of your system. Two different cases:
 - If `DATA_LOG_TO_FILE` is set to 1 (it's 0 in the wpe-2.22 branch) in Source/WTF/wtf/DataLog.cpp, then the log is in the file pointed by `DATA_LOG_FILENAME` in the same source file.
 - Otherwise, it's output to `stderr`. Normally that would be on your terminal output, but a custom browser, or a script or

[2020-09-21 11:07] kkanag314 commented on #666
ok.Thanks for the help @guijemont

[2020-09-21 20:20] Balajims88 opened #678 "WPEWebprocess hang crash on lightning app"
Hi @woutermeek ,

we are facing hang and crash on the following lightning app with wpe-2.22 commit id 686cd2f7df.
http://lsaauto02.ccp.xcal.tv/assets/ads/rdkv/lightning_scripts_20_5_20/lightning.html?render=rectstress
please find the BT below and help me to resolve the issue.

` Crash Thread #0
Frame	Thread	Module	Source

#0	appendChildWithoutPreInsertionValidityCheck	libWPEWebKit-0.1.so.2.2.1	/us

[2020-09-22 07:26] Balajims88 commented on #655
Thanks @woutermeek
Now, the issue is not reproducing with fix.
so, i'm closing this ticket.

[2020-09-22 07:26] #655 closed, assigned to guijemont

[2020-09-22 14:13] kkanag314 commented on #666
Hi @guijemont  please find the stack track and logs .I have also attached the assembly code of all the generated JIT code for the image. please let me know incase of additional information are needed

Image branch : 4.2_p1v
WPE commit : "bc64bbadf261ab2e618c19653befb264fa757e23"

[logs.zip](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/5261502/logs.zip)
[stacktrace.txt](https://github.

[2020-09-22 19:40] Balajims88 commented on #327
Hi @guijemont ,
Issue is still reproducible. so the above fix is not fixing properly.
so could you please take a look?

[2020-09-23 14:53] guijemont commented on #327
Hi @Balajims88! Are you able to provide a way for us to reproduce the issue? This would be the one thing that would allow us to figure things out relatively quickly.

[2020-09-23 17:37] guijemont commented on #666
Thanks, this is the kind of output I need.
I am missing some information though, I would need the output from `bt full` from a debug build. It's hard to deduce what data is wrong (and therefore what to look for in the generated assembly) without knowing what exactly gets wrong when executing the line:
[code]
A lot of memory accesses are done here, including a lot of hidden ones within methodTable(

[2020-09-28 07:14] woutermeek commented on #678
@Balajims88 the test page does not load for me, could you please supply us a test page which causes the crash?

[2020-09-28 07:53] Balajims88 commented on #678
@woutermeek  Please find lightning test page in my attachment and run the "Stress-Test" at bottom to reproduce the issue.
[lightning.zip](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/5290710/lightning.zip)

[2020-10-02 09:40] kytart commented on #629
When I opened this issue a while ago, I didn't know anything and since then I figured out I was going in a totally wrong direction. This issue isn't relevant anymore and is a total mess, so I'm closing it. If I still need help, I'll open new, more relevant issues. Thanks for help!

[2020-10-02 09:40] #629 closed, assigned to nobody

[2020-10-02 11:34] aperezdc commented on #629
@kytart If you need help, you can also use the [#wpe:matrix.org](https://matrix.to/#/#wpe:matrix.org) chat room to reach us :smiley:

[2020-10-06 15:21] magomez commented on #678
@Balajims88, I've been trying to reproduce this crash with the rpi3 but I haven't been able to so far. The test completes for me and the browser doesn't crash (tried several times).
What I have noticed is that the memory usage is quite high during the test (I see it peak at ~460MB). Could it be the case that the browser is running of out of memory? Do you have that amount of memory available on yo

[2020-10-28 20:10] Balajims88 commented on #327
@guijemont Sorry, I have a no steps to reproduce this issue.

[2020-10-29 12:37] Gavriliuk opened #682 "WPEWebProcess (JavaScriptCore) SIGSEGV crash in put() called from operationPutByValCellStrict()"
Hi @woutermeek,

We're observing SIGSEGV crashes with the signature [put] and different backtraces
where the function put() is being called from the function operationPutByValCellStrict()

### Example 1:
Id | # | module | function | source | line | addr
-- | - | - | - | - | - | -
0|0|libWPEWebKit-0.1.so.2.2.1|put|wpe-webkit/git/Source/JavaScriptCore/runtime/JSObjectInlines.h|70|0xc
0|1|libWPEWebKi

[2020-10-29 15:23] woutermeek commented on #682
@Gavriliuk could you share how you reproduce this crash? (eg. an example html page)

[2020-10-29 16:38] Gavriliuk commented on #682
@woutermeek, these BTs were gotten from automatic crashreports
We receive millions of crashreports per month
The crash I've mentioned above was reported 5 times per 30 days
I have no steps to reproduce the issue

But we have some logs from those crashreports
I can attach some suspicious logging from related crashreports

[2020-10-29 17:10] Gavriliuk commented on #682
@woutermeek, could you please take a look on a few examples: [DELIA-45668-070.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/5460104/DELIA-45668-070.txt)

Thanks

[2020-11-03 12:37] vdinak240 commented on #667
Issue still reproduces with these environmental variable
JSC_useLLInt=false JSC_useJIT=true JSC_useDFGJIT=true
JSC_useLLInt=true JSC_useJIT=true JSC_useDFGJIT=false
JSC_useLLInt=true JSC_useJIT=false JSC_useDFGJIT=false

[2020-11-03 12:38] vdinak240 commented on #667
output of disassemble $pc-100,$pc+10

Core was generated by `/usr/bin/WPEWebProcess 2 22 libWPEBackend-default.so -1'.
Program terminated with signal SIGFPE, Arithmetic exception.
#0  JSC::TypeInfo::mergeInlineTypeFlags ()
    at /usr/src/debug/wpe-webkit/2.22+gitAUTOINC+686cd2f7df-r0/git/Source/JavaScriptCore/runtime/JSTypeInfo.h:123
123 /usr/src/debug/wpe-webkit/2.22+gitAUTOINC+686cd2f7df-r0/git

[2020-11-05 18:29] Gavriliuk opened #683 "WPEWebProcess SIGUSR1 crash in ResourceLoadObserver::shared()"
Hi @woutermeek,

Sometimes we receive **SIGUSR1** crashreports with a callstack like the following:

Id | # | module | function | source | line | addr
-- | - | - | - | - | - | -
0|0|libWPEWebKit-0.1.so.2.2.1|shared|WebCore/loader/ResourceLoadObserver.cpp|53|0x0
0|1|WPEWebProcess|__start|||0x178
0|2|libgcrypt.so.20.1.3||||0x3df8

File **WebCore/loader/ResourceLoadObserver.cpp** contains the followi

[2020-11-13 14:57] Gavriliuk commented on #682
Hi @woutermeek,

did you have a chance to take a look on the issue?

It seems we have a deal with a memory corruption
The crash in "put()" is only an indicator but not a reason
To find the root cause we have to know which piece of code corrupts the memory

Thanks

[2020-11-19 11:06] kkanag314 opened #686 "WPEWebProcess crash (JavaScriptCore) due to SIGFPE"
WPEWEbProcess is crashing randomly while launching the peacock application.
The crash is observed in field frequently.

Stack Trace:

Crash thread #0
Frame	Signature	Module	Source
#0	deallocateLarge	libWPEWebKit.so.0.0.20170728	/usr/src/debug/wpe-webkit/0.4.4+gitAUTOINC+5f899bc2e0-r0/git/Source/bmalloc/bmalloc/Map.h:100 (0x0)
#1	deallocateSlowCase	libWPEWebKit.so.0.0.20170728	/usr/src/debug/wpe-we

[2020-11-19 12:10] kkanag314 commented on #686
The crash is not 100% reproducible.
The crash is observed randomly while launching the peacock application.

crashed url: https://tv.clients.peacocktv.com/?lmt=0&us_privacy=1-N-

[2020-11-19 12:53] woutermeek commented on #686
@kkanag314 I get access denied when I go to the url. Is there a way to open it so we can access it?

[2020-11-25 07:27] kkanag314 commented on #652
The crash is not observed in past 25 days. So, We are closing the ticket.

[2020-11-25 07:27] #652 closed, assigned to nobody

[2020-11-25 07:34] kkanag314 commented on #653
The crash is not observed in past 25 days.So,We are closing the ticket.

[2020-11-25 07:34] #653 closed, assigned to nobody

[2020-12-11 18:26] SamDecrock opened #691 "WebRTC on buildroot/Raspberry PI"
Hi,

Can someone help me enable WebRTC when building with buildroot for Raspberry Pi? I saw a pull request from 2019, but I'm not sure if it ever got merged.

I tried enabling all WebRTC related packages on buildroot, but that didn't help...

Thanks!
Sam

[2020-12-17 07:34] vdinak240 commented on #683
We have also received this similar crash in cisco g8 device with wpe 2.22

Attaching the stack trace

`Operating system: Linux
                  0.0.0 Linux 4.1.51-1.19 #1 SMP Sun Dec 13 23:47:50 UTC 2020 mips
CPU: mips
     2 CPUs

GPU: UNKNOWN

Crash reason:  SIGUSR1
Crash address: 0x75638b6c
Process uptime: not available

Thread 0 (crashed)
 0  libWPEWebKit-0.1.so.2.2.1!WebCore::ResourceLoadObs

[2020-12-17 12:58] kkanag314 commented on #686
The crash is not observed in field.So,We are closing this ticket.

[2020-12-17 12:58] #686 closed, assigned to nobody

[2021-01-13 23:45] SamDecrock commented on #691
I tried building it with WebRTC enabled using the following 2 forks from @thiblahute:

- https://github.com/thiblahute/buildroot/tree/wpe-2.22%2Bwebrtc
- https://github.com/thiblahute/webkit/tree/wpe-2.22+webrtc

But I couldn't get a simple online WebRTC demo to work 😢

[2021-01-19 10:26] woutermeek commented on #683
@Gavriliuk @vdinak240 is there a way we can reproduce this in our side, or is it random?

[2021-01-19 10:29] woutermeek commented on #682
@Gavriliuk do you have a way of reproducing the issue either on the platform or the RPI?

[2021-01-19 15:36] Gavriliuk commented on #682
Unfortunately not

The issue is intermittent and is being observed rarely during mass testing

[2021-01-19 15:37] Gavriliuk commented on #683
Unfortunately not

The issue is intermittent and is being observed rarely during mass testing

[2021-01-20 13:28] woutermeek commented on #683
@guijemont do you happen do have an idea what this could be?

[2021-01-27 11:59] guijemont commented on #682
I agree with your analysis @Gavriliuk .
A core file (and associated binaries with debug symbols and source code) could help in figuring this out, or alternatively a backtrace that gives more information on memory (such as with `bt full` in gdb).
Looking at the log+backtrace samples you sent, I can see a few common points between the crashes:
 - the top 2-3 frames of the stack, as you noted. The li

[2021-02-02 10:20] magomez commented on #683
The default behavior of a process when it receives a SIGUSR1 signal is exiting. Inside JSC, SIGUSR1 is used to suspend/resume garbage collection threads, but it's setting appropriate handlers for the signal. We don't think that this usage is the one causing the crash. We suspect that there might be another component/process sending SIGUSR1 signals to the WebPRocess, and that's causing the crash.

[2021-02-03 06:30] sahil-siwatch opened #693 "WPE Webkit not building."
Hello all. I want to use webkit on my rpi3b+ to display a webpage when the pi boots. I tried building using this tutorial on medium - https://samdecrock.medium.com/building-web-applications-for-wpe-webkit-using-node-js-3347146013f3 but it doesn't work. I could not even build the image. It stops at a place where it can't get access to github page - access denied. sources.buildroot.net.
Can anyone t

[2021-02-03 10:16] laureProthais commented on #605
@aperezdc Your answer helps me a lot thank you.

I would just like some additional information. I develop displayed web pages for WPEWebKit in version 2.22 ... can I also be based on the canIuse compatibility of the latest Safari version in 14 ?
The rendering test via Midori interests me but unfortunately I do not know which version used in connection with WPEWebKit in version 2.22. Can you help m

[2021-02-03 10:20] sahil-siwatch opened #694 "WPEFramework rdk services error"
Hello. I was building WPE webkit image for rpi using buildroot. I get this error. I can't find my way out of this. How can this be 404 page ??
![image](https://user-images.githubusercontent.com/53403558/106733163-8bd29400-6637-11eb-8494-adaa5c0da0f9.png)

[2021-02-04 08:53] ManjariMallikarjun opened #695 "WPEWebProcess crashes on every alternate launch of lightening App"
Hi,

WPEWebProcess  is crashing on every alternate running lightening app,
WPE source used from branch wpe-20170728 and commit id is c699f32f92e227955b252528ed8ececa6118793e

Please find the BT below and help me to resolve the issue

Frame	Signature	Module	Source
#0	transformedVisibleRect	libWPEWebKit.so.0.0.20170728	/mnt/jenkins/workspace/PACEXG1V1-Yocto-Release/build-pacexg1v1/tmp/work/core2-32-

[2021-02-04 15:55] varumugam123 opened #696 "Crash with operator() symbol during long Hulu / YouTube video playbacks"
There are reports of crashes with below stack trace during long playbacks from Hulu & YouTube.

[code]

This was reported with Arris XG1v1 & Pace XG1v3 both are MIPS devices. I will let you know if there are any instances reported on ARM devices.

WPE version : 2.22 (686cd2f7df)

As of now, we don't have any simplified reproduction step, but will try and let you know if we find any.

[2021-02-04 17:39] Gavriliuk commented on #696
Callstack points to "git/Source/JavaScriptCore/heap/SlotVisitor.cpp : 384"
There is a known GC issue marked as FIXME on the line 384:

[code]

Thus the bug https://bugs.webkit.org/show_bug.cgi?id=162462 (opened 2016-09-22) describes the same issue

[2021-02-08 09:21] woutermeek commented on #695
@ManjariMallikarjun could you share the URLs of the lightning apps you use so we can reproduce it on our side? Also could you let us know how it happens? eg. the browser is restarted each app launch, or you switch the URL to launch the new app?

[2021-02-10 13:24] nicoske commented on #694
Same issue here, the package now use git@github.com:WebPlatformForEmbedded/ThunderNanoServicesRDK.git
which requires an SSH key

[2021-02-11 04:24] sahil-siwatch commented on #694
yes. I guess this is the issue here. I also tried downloading the zip file of the now used rdk services.
![image](https://user-images.githubusercontent.com/53403558/107602144-9e0f8c00-6c4e-11eb-9563-64223f225517.png)
https://github.com/rdkcentral/ThunderNanoServices and then added it to my personal git account the same manner as they are doing but again it showed the same issue. Next step: I added

[2021-02-11 10:05] guijemont commented on #696
This bug, and the FIXME comment seem to refer to the potential for an optimization, I doubt that would be related to this crash.

[2021-02-11 10:13] guijemont commented on #696
@varumugam123 What kind of crash is it? A segmentation fault, or something else? Assuming it's a segmentation fault, seeing where it's happening (when the GC visits the heap), it's highly likely that it is related to a memory corruption that happens much earlier. It might not be possible to get to any conclusion without a way to reproduce.
Though failing that, a full backtrace (`thr apply all bt f

[2021-02-11 15:10] Gavriliuk commented on #696
Hi @guijemont
Yes, we talk about SIGSEGV crashes
And it seems we don't have steps to reproduce the issue because all we have are crashreports
Callstacks may differ but there is a function drainFromShared always presenting in callstack, can this help?
We understand that the root cause is a memory corruption
The referenced bug https://bugs.webkit.org/show_bug.cgi?id=162462 gives us a hope that this

[2021-02-12 08:26] nicoske commented on #694
Buildroot tries to download the package as a zip file on their repo, obviously as it's an external git repository it's not available at buildroot side.
It seems that RDK closed down this repo and it's not publicly available anymore..

I modified the package to point to https://github.com/rdkcentral/rdkservices/ which is still available:
[code]

[2021-02-12 08:30] sahil-siwatch commented on #694
I also tried this. Same response. Did it work for you ??

[2021-02-12 15:54] nicoske opened #699 "Fatal: CRASH: WebProcess crashed, exiting..."
Hi,

I'm using buildroot repo on main branch on raspberrypi3. I have an issue with some webpage - webprocess crash.
I've build webkit with debug mode enabled but it seems I don't have much information logged on.
Is there a way to increase verbosity to identify the issue?
[code]

[2021-02-22 13:22] woutermeek commented on #694
Could you please try to use our OSS Yocto recipes instead of buildroot?
https://github.com/WebPlatformForEmbedded/meta-wpe

[2021-02-22 13:22] #694 closed, assigned to nobody

[2021-02-22 13:22] woutermeek commented on #693
Could you try to use our meta-wpe layer, that one is up to date:
https://github.com/WebPlatformForEmbedded/meta-wpe

[2021-02-22 13:22] #693 closed, assigned to nobody

[2021-02-26 11:33] tobias-bischoff commented on #569
Unfortunately, this is still an issue with WPE 2.30.5 / cog 0.8.1 and libwpe/wpebackend-fdo 1.8.0.

[2021-02-26 12:27] guijemont commented on #696
I attempted a workaround like that, also checking that some values are non-null. It's [here](https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/4a13a5cbaedcf4fb6b9096957344a09467eba2c1). I quickly tested it on arm with stress tests and it doesn't bring regressions.
It might make garbage collection marginally slower, so you might not want to deploy that to all users without testing for that

[2021-03-01 12:51] pkumbh631 commented on #327
Hi @guijemont,
Please find the below steps to reproduce the issue,
Step 1# Push 4.2p12s1 to pace XG2V2.
Step 2# Play DASH IPVOD and Peacock Playbacks.
Step 3# Monitor for webprocess crash. Signature : operationLinkDirectCall.

Thank you...

[2021-03-02 10:59] guijemont commented on #327
Can you tell me what revision of https://github.com/WebPlatformForEmbedded/WPEWebKit matches "4.2p12s1" ?

I don't have access to "XG2V2", but I can try to reproduce on another device of the same architecture. Is that an arm or mips device?

How can I access that?

Does the crash happen every time? And how quickly does it happen?

[2021-03-02 15:01] pkumbh631 commented on #327
The crash usually happens upon launching a web-app. Three most common crash URLs are:

https://xfinity.ccast.api.amazonvideo.com/lrc-vending/html5/index.html?deviceTyp
https://www.youtube.com/tv?launch=menu&lmt=0&us_privacy=1-N-
https://comcast.play.hbomax.com/?launchpoint=&query=&assetId=&assetType=&entityI

The release assert gets fired that checks if it is a Direct Call :
https://github.com/Web

[2021-03-02 18:34] varumugam123 opened #700 "[wpe-2.22] "playing" event is missing on seek"
Hi,

In wpe-2.22 it looks like the "playing" event is not sent on seeking.

In wpe-20170728 branch ("5f899bc2e0e3736908d46ddf473dc4fe5c7f5c95") which we were using earlier, sends this event. This change in the event affects the behavior of an app we host.

When I checked the history I came to know that the code related to sending "playing" event were removed as part of https://bugs.webkit.org/show

[2021-03-04 10:42] varumugam123 commented on #700
I tried this patch [restore-scheduling-playing-event.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/6082889/restore-scheduling-playing-event.txt) with that the I observe the event.

@woutermeek @eocanha do you think this will cause any other regressions?

[2021-03-04 14:38] eocanha commented on #700
I think the change is fine and won't cause regressions.

The "playing" event was scattered before https://bugs.webkit.org/show_bug.cgi?id=183383, following the conditions mandated by [the old spec](https://www.w3.org/TR/html52/semantics-embedded-content.html#the-video-element) (search for "fire a simple event named playing") or [the new spec](https://html.spec.whatwg.org/#the-video-element) (searc

[2021-03-04 14:38] #700 closed, assigned to eocanha

[2021-03-04 14:44] eocanha commented on #700
Merged in https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/87cbd6cb994c02ba37427c21fa095af7e5ac229d

[2021-03-08 13:25] AndrisBB opened #701 "WebInspector Blank debug window"
I am trying to connect to the remote device using web-inspector, but as a result I can only see blank web-inspector window.

I am using webkit 2.24.2 or 2.24.3 (from Igalia meta-browser) and Cog 0.3.
If I start Cog with:

[code]

I can see that page is running in the Epiphany Browser, but if I select inspect only thing I see is blank page. A few years ago I somehow got it working, but I do not rem

[2021-03-09 12:14] DerArtem opened #702 "WPENetworkProcess causes 100% CPU load"
Hello,

I am using wpewebkit with cog to display an web-based interface on an embedded device.
The web-interface is made with VUE and connects via websocket to localhost to receive the data which it beeing displayed.

When the websocket-backend is running on the system and I start cog the WPENetworkProcess takes 100% CPU and the page loads forever. Sometimes it also loads correctly.

When the webs

[2021-03-09 12:50] glibnovodran commented on #327
@guijemont ,
The crash seems to happen on both wpe-20170728 and wpe-2.22
More crashes tend to happen to wpe-20170728, but this is probably because more devices run the builds based upon it.
The problem seems to be MIPS-specific, but can be a consequence of limited memory amount (a GC-related issue?)
Presently wpe-20170728 crashes and wpe-2.22 crashes triggered by the same assertion.

**wpe-2017072

[2021-03-09 12:57] glibnovodran commented on #327
@guijemont, my understanding is @woutermeek has received or will receive soon a more detailed information from Comcast as well as the MIPS-based device to reproduce with.

[2021-03-10 20:44] AndrisBB commented on #701
If I open another Epiphany and try to debug Web Inspector window, then I can see that it complains that about not existing function on the InspectorBackend object.

// Audit.
**InspectorBackend.registerVersion("Audit", 3);**  // <---- Complaining about this
InspectorBackend.registerCommand("Audit.setup", [{
    "name": "contextId",
    "type": "number",
    "optional": true
}], []);
InspectorBacke

[2021-03-13 13:52] AndrisBB commented on #701
Problem solved. Have not realised that I need exactly the same version of the Epiphany/Webikt on PC to connect web-inspector to the remote WPE instance on the device.
Hope this helps someone else.

[2021-03-18 12:13] akvadrako commented on #605
I am trying to figure out what version of WPEWebKit (and WebKitGTK) will support the async clipboard API like `navigator.clipboard.read()`. I've tried looking through the trac history and Changelog but it's not very clear. Is there someway to find this out?

[2021-03-30 08:16] pkumbh631 opened #703 "WPEWebProcess crash with signature ~RecordedStatuses due to SIGABRT"
Hi,

WPEWebProcess crash with signature ~RecordedStatuses due to SIGABRT
Crash observed during Launch the Weather Application using voice command "Weather"

Recently WPEWebProcess crashed with SIGSEGV
Please find the below BT & help me to resolve the issue.

Old STACKTRACE:
Crash Thread #0
Frame	Thread	Module	Source
#0	libc-2.24.so@0x16816	libc-2.24.so
#1	raise	libc-2.24.so	/usr/src/debug/glibc/2.

[2021-04-05 10:43] pkumbh631 opened #704 "WPEWebProcess crash in createResolve"
Hi,

WPEWebProcess crashed with createResolve. Below is the stacktrace and help me to resolve this issue.

STACKTRACE-
Threads:
	thread-0 tid=16012 faulted
	[0] /usr/lib/libWPEWebKit.so.0.0.20170728!createResolve [/usr/src/debug/wpe-webkit/0.4.4+gitAUTOINC+5f899bc2e0-r0/git/Source/JavaScriptCore/parser/ASTBuilder.h : 203 + 0]
		bp=0xbe8525f0
	[1] /usr/lib/libWPEWebKit.so.0.0.20170728!parseMemberEx

[2021-04-05 11:02] pkumbh631 opened #705 "WPEWebProcess crash with signature resolveRopeSlowCase8 due to SIGSEGV"
Hi,

WPEWebProcess crashed with signature resolveRopeSlowCase8 due to SIGSEGV
Please find the BT below and help me to resolve the issue

Crash Thread #0
Frame	Thread	Module	Source

#0	resolveRopeSlowCase8	libWPEWebKit-0.1.so.2.2.1	/usr/src/debug/wpe-webkit/2.22+gitAUTOINC+686cd2f7df-r0/build/DerivedSources/ForwardingHeaders/wtf/RefPtr.h:82 (0x0)
#1	resolveRope	libWPEWebKit-0.1.so.2.2.1	/usr/src/de

[2021-04-27 02:38] harishvk1977 opened #707 "WPE WebKit build issue on ubuntu 16.04"
Just followed all instructions from https://github.com/WebPlatformForEmbedded/WPEWebKit on ubuntu 16.04 virtualbox amd64, initial issue was libXML missing... which i installed using cap and then got into this issue.

Already this issue raised once under "issues" but the solution is not very clear, i mean what worked.

One of the solution is to comment some patches..which i think is the not the rig

[2021-04-27 09:34] eocanha commented on #707
I'm not sure if those instructions in the README are accurate anymore to build this version of WebPlatformForEmbedded/WPEWebKit on a regular desktop. To start with, the state of those jhbuild patches has been1 likely unmaintained since wpe-2.22 was forked from upstream.

If you want to try this version of WPE, I would suggest to build it for a Raspberry Pi using buildroot following instructions fr

[2021-04-27 10:33] nrajan002c opened #708 "Revoked certificate URL is not blocked by Webkit"
Website which has the revoked certificate to be blocked by browser. But Webkit browser is not blocking the URL and it launches.

URL: https://revoked.badssl.com

Note: I tried this URL in Upstream GtkWebkit as well. It is not blocked.
          But the desktop chrome blocks it properly.

Could you please check it.

[2021-04-28 08:56] woutermeek commented on #708
We don't support certificate revocation. In order to check whether a certificate has been revoked, we need to check with several certificate providers, something that delays navigation a lot. One option to avoid this is to have some kind of periodically updated local list of rekoved certs and test, but that list could potentially be quite big.

[2021-04-28 08:56] #708 closed, assigned to nobody

[2021-04-28 09:11] harishvk1977 commented on #707
ok thanks for your comment.

[2021-04-30 08:04] harishvk1977 commented on #707
i have a Raspberry Pi4.. does the above RPI3 work on RPI4 also?

[2021-04-30 09:43] eocanha commented on #707
I haven't tried it myself, but I believe there are big chances of getting it working. There's also a raspberry4_defconfig, but looking at the log of its changes in the repository, I don't think it's ready for WPE (maybe @pwielders knows). Better try raspberrypi3_wpe_defconfig.

[2021-05-03 05:43] harishvk1977 commented on #707
Built WPE on ubuntu 20.04 using https://trac.webkit.org/wiki/WPE#BuildingWPEWebKitfromgit on virtualbox. i had to allocate couple of CPU's and 12GB ram to get release version built after 4-5 hours. Debug build didn't get built, has some build issues.

[2021-05-03 08:36] eocanha commented on #707
It's surprising that it even built with less than 16GB of RAM. Debug shouldn't be able to link the binaries with so little RAM. Anyway, debug isn't very useful on a real Raspberry Pi (at least model 3) because it's too slow and takes too much RAM.
About building, It takes (I think) less than 3 hours on my laptop (no virtual machine) with 6 cores (12 threads) and 64 GB of RAM. Fortunatelly I only h

[2021-05-06 11:38] guijemont commented on #703
Hi,

From the stack trace alone, I can't conclude much. Looks like an issue with the GC, or potentially a lower level issue corrupting memory. To properly investigate it I would need to be able to reproduce it. Leading to some questions:
 - Am I correct to assume this is happening on Arm 32-bits?
 - How much RAM is available for WPE?
 - How can I run this weather app locally? If I can't, are you a

[2021-05-06 11:49] guijemont commented on #703
Hi,

From the stack trace alone, I can't conclude much. Looks like an issue with the GC, or potentially a lower level issue corrupting memory. This could be the issue that was solved in 53ed08c9b050f5ac6048c77c8d85348147c49e6f. Can you check whether your branch includes that fix?

If that fix is already included, to properly investigate the issue I would need to be able to reproduce it. Leading to

[2021-05-06 11:59] guijemont commented on #703
The name of your source directory includes 686cd2f7df, which is the hash of a revision that *does not* include the fix I mention above. Please update to a more recent revision of wpe-2.22 (or cherry-pick the fix), and let me know if the issue still happens.

[2021-05-06 12:13] guijemont commented on #705
There's a lot of inlined code behind the 2nd line of the backtrace (JSString.cpp:273), assuming I'm looking at the right revision. It's hard to diagnose anything from the stack trace alone, unfortunately, and I would need to be able to reproduce the crash to investigate it further.
Also, seeing the name of your source directory, it looks like you are using revision 686cd2f7df. This is an old revis

[2021-05-26 15:24] alvinshi commented on #694
Is there any update on this issue? I tried the OSS Yocto recipes too. But it did not work with the error message when trying to start the bitbake server:

ERROR: Layer wpe-layer is not compatible with the core layer which only supports these series: hardknott honister (layer is compatible with dunfell warrior gatesgarth zeus thud sumo)
ERROR: Parse failure with the specified layer added, aborting.

[2021-05-31 09:21] NPellet commented on #694
Isn't this package already covered by wpeservices-plugins, which references the new ThunderNanoServices repo in rdkcentral ?

[2021-06-11 05:45] nicoske commented on #694
I'm lost with the new repo setup.. but I really would like to use buildroot as I did massive work using this framework for my project

[2021-06-23 07:46] kkanag314 opened #713 "WPEWebProcess Crash(JavaScriptCore) due to SIGFPE"
Screen freeze during hbomax .
Webprocess crashed with signature 'visitChildren'

Crashed URL : https://comcast.play.hbomax.com/?launchpoint=&query=&assetId=&assetType=&entityId=&sectionName=&contentUrl=&lmt=0&us_privacy=1-N-

Crash Details:
[code]

WPE Commit : 22d6522031250cdeb967101a0fa0cc91f190b84d

Stack Trace

[code]

[2021-06-23 08:16] kkanag314 commented on #713
Observations
User launched hbomax on June 09, 11:46UTC, by voice command 'HBO Max'

User selected asset and started playback at 11:46

[code]
Till 16:23UTC, there is hbomax playback. User watched 3 playbacks.

At 16:23, a new asset is loaded and started playback

[code]

User resumes playback at 16:31UTC

[code]

Found FF keypress. But video seeking operations are not observed

User pauses video a

[2021-07-01 08:53] simi-mathew opened #714 "WPEWebProcess (JavaScriptCore) crashes with SIGSEGV"
Webprocess crashes during hbomax playback with signature 'updateProfile'

Crash details
fingerprint: 06774f3d53fced52eb5e76f7d9b1a51b18344eeb0713f34b14cac96bf3224238
Appname: WPEWebProcess
Application: WPEWebProcess
crashed url: https://comcast.play.hbomax.com/?launchpoint=&query=&assetId=&assetType=&entityId=&sectionName=&contentUrl=&lmt=0&us_privacy=1-N-

CallStack:
1 updateProfile ‎/usr/src/deb

[2021-07-06 14:29] Scony opened #715 "[MSE] Assertion error on restart (`play()` called while playback on EOS)"
hi,
when the playback ends and end of stream is marked on `MediaSource`, the gstreamer pipeline state is being changed from `PLAYING` to `READY` due to EoS (`MediaPlayerPrivateGStreamerMSE.cpp`).

Given the player in state above, when `play()` method is called on media element, then internal `seek` to `0.0` causes pipeline state change from `READY` to `PAUSED`  [(MediaPlayerPrivateGStreamerMSE.cpp

[2021-07-06 16:15] eocanha commented on #715
You're right. It's currently not possible due to some limitations in that version of the MSE implementation.

However, @ntrrgc has recently landed [an MSE refactoring upstream (bug 225192)](https://bugs.webkit.org/show_bug.cgi?id=225192) that allows that use case. Unfortunately, it's not a kind of patch that can easily be backported, but when we eventually update to a new WPE version the change wi

[2021-07-07 08:28] Scony commented on #715
Ok, thanks. That's good news.

[2021-07-21 07:51] nrajan002c opened #717 "Add 'ResizeObserver' support in 2.22"
Could you please backport 'ResizeObserver' support in 2.22.
We need this support for new apps.

[2021-07-26 10:17] ankitsingh1508 commented on #611
Hi @peoro ,
Did you any solution for cog over X11 ?

[2021-07-28 09:14] Scony opened #718 "Backporting rendering bugfix to wpe-2.22"
Hi,

In `wpe-2.22` there is a bug which goes like this:

I'm using minimal repro case: [https://scony.github.io/stb-lab/css-glitch/](https://scony.github.io/stb-lab/css-glitch/)
1. When I `Select right` item, the underline (CSS border) should move from `Aus` to `An` as I change the CSS class on both elements, however, it does not happen:
![Screenshot from 2021-07-27 12-44-20](https://user-images.g

[2021-07-30 05:45] sthirumurugesan opened #719 "Radial Gradient CSS Property is not working as expected"
We notice that with the below css property the browser is always taking the shape as Circle. Even when the shape is explicitly set to Ellipse it is converted to Circle internally within the WPE. Same issue is reproducible in wpe-2.28 as well.

"-webkit-radial-gradient(50px 99px, ellipse closest-corner, red, blue)"

PSB a simple test application i have created for checking the feasibility on the de

[2021-07-30 05:52] magomez commented on #719
And it's reproducible in master as well. There's some code missing to handle elliptic gradients. I've already added this to my TODO, and hope to be able to work on it during the next weeks.

[2021-08-03 09:54] magomez commented on #717
I've just pushed 3e284c5675c9de1339d6c08add7a66e2a7e0b052 to the wpe-2.22 branch with the backport of the feature. We've done some testing and things seem to be ok, but please test it on your side as well and tell us if you find some issue.

[2021-08-05 11:17] magomez commented on #719
I've fixed this on master in https://bugs.webkit.org/show_bug.cgi?id=228771, and then backported and pushed the patch to wpe-2.22 (commit aea55f8abae1b72dde4ed0d3c521de70561c8e65) and wpe-2.28 (commit 1f3eb4eb84e1d22b9ededfaf027c42ec578e9731).

Please give it a test and close this issue if everything is working properly.

[2021-08-06 16:02] sthirumurugesan commented on #719
@magomez Thank you. now it is working fine. Closing the ticket.

[2021-08-06 16:02] #719 closed, assigned to nobody

[2021-08-10 07:19] sssdevwebkit opened #720 "WPE Webkit Run failure due to cannot find module 'gtk4' module"
sseng@webkit-server:~/webkit-linux/Webkit_WPE_Linux/webkit-2.33.2$ Tools/Scripts/run-minibrowser --wpe https://www.igalia.com
(flatpak:221498): GLib-GIO-DEBUG: 11:25:33.203: _g_io_module_get_default: Found default implementation local (GLocalVfs) for ‘gio-vfs’
(flatpak run:221498): flatpak-DEBUG: 11:25:33.203: Opening user flatpak installation at path /home/sseng/webkit-linux/Webkit_WPE_Linux/webk

[2021-08-10 07:34] sssdevwebkit opened #721 "WPE Webkit With DirectFb Graphics Backend"
Is this possible to build WPE-Webkit with directfb graphics backend instead of wayland.

[2021-08-13 12:04] magomez commented on #718
I've been checking some versions between 2018-12-13 and 2019-03-28, and all of them fail. In the end I tested a version from 2019-04-01 that's failing as well. How did you test that the fix in inside those dates?
I've also found that I cannot reproduce the issue with 2.22 on my desktop, but it happens with the same version on the rpi. This makes finding the problem a bit harder, but I'll continue

[2021-08-13 18:36] admindotnu commented on #694
Nothing changed. Current buildroot still gives the same error.

[2021-08-16 07:16] Scony commented on #718
@magomez I've seen the issue on:
**Eolie** browser **0.9.45**, released 13.12.2018, WebKitGTK ~ 2.22.4/5
but not on:
**Eolie** browser **0.9.60**, released 28.03.2019, WebKitGTK ~ 2.24.0

so I concluded about the time range based on above.

[2021-08-16 08:55] GenericEngineer opened #722 "MediaElement currentTime property not fully compliant with the specification when readyState == HAVE_NOTHING"
Setting the media element currentTime property when its readyState is HAVE_NOTHING, returns early with no action.

According to the specification this should get/set an internal default playback position which should be used when the media is not in a ready state.

From [https://html.spec.whatwg.org/#current-playback-position]

[2021-08-25 07:06] kkanag314 opened #725 "Adding Export Key functionality in Web Inspector"
Requesting the inclusion of export functionality in the Web Inspector tool in wpe_2.22.
SRCREV = "22d6522031250cdeb967101a0fa0cc91f190b84d"
The export key under network tab will be used to download  the .har file through webinspector.
There is one option called "Export" under the network tab. But the functionality is not enabled.

[2021-08-25 08:13] magomez commented on #718
I'm still investigating this issue.
I didn't find a fix in the revisions mentioned, but I found a commit that removes the issue some months after the release of 2.24. The problem is that the commit is not a fix for the issue, but a mayor change related to how the content layers are rendered. And not only it depends on several previous commits, but there are also subsequent commits that fix issues

[2021-08-25 09:03] kkanag314 opened #726 "WPEWebProcess Crash(JavaScriptCore) due to SIGFPE"
**Test Procedure**
1. Launch Pluto app though the MENU option.
2. Navigate through the app and select and play some asset.
3. Observe that web process crash due to hang.

Webprocess crashed with signature 'normalizePrototypeChain'

Crashed Url :  https://xfinity.pluto.tv?lmt=0&us_privacy=1-N-

WPE commit : **22d6522031250cdeb967101a0fa0cc91f190b84d**

Crash Details:

[code]

[2021-08-25 11:05] Scony commented on #718
Okay, thank you for update.

[2021-08-27 08:48] eocanha commented on #722
It's true, the current WebKit implementation wasn't aware of _default playback start_ and just resorted to regular seeks in those cases. An implementation of the requested behavior has been pushed to [wpe-2.22](https://github.com/WebPlatformForEmbedded/WPEWebKit/commits/wpe-2.22)  as commit [8ccf6b1](https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/8ccf6b10daf158fad11831edcc059232f74a334

[2021-08-27 14:30] magomez commented on #718
I've just pushed 154984fd4340d566d2b5494a9ad4fe137c9f50ad to the wpe-2.22 branch, which should fix the issue. Please verify that it's fixed for you as well and close this.

[2021-08-27 19:06] Scony commented on #718
Looks very concise - should be easy to apply. Thank you! I Will test it Monday.

[2021-08-29 22:32] peoro commented on #611
No, didn't find any solution and given the lack of support I stopped looking.

[2021-08-30 08:43] Scony commented on #718
It works as expected now. Well done @magomez Thank you very much.

[2021-08-30 08:43] #718 closed, assigned to magomez

[2021-08-31 16:17] eocanha commented on #722
The patch is also being upstreamed as https://bugs.webkit.org/show_bug.cgi?id=229605

[2021-08-31 16:17] #722 closed, assigned to eocanha

[2021-09-06 15:47] jkey commented on #694
Same problem here as well. Would like to use buildroot for a current project. I could not achieve any success with Yocto so far. Would be nice if someone could help here.

[2021-09-10 14:02] g3t0r1x opened #730 "CSS transition timing curves executed twice"
Hello,

For a CSS transition timing curves (i.e. ease, ease-in, ease-out, ease-in-out) I'm observing that animation is executed twice for some reason.

Example of after transformation HTML code posted below:
[code]

I managed to find using bisect strategy on webkit repository that this commit is fixing my issue: https://github.com/WebKit/WebKit/commit/7dda3aa8057571b1a345b90c21861d333ad2759c#diff-

[2021-09-15 16:08] nicoske commented on #694
I'm still using buildroot but we're stuck using the last version of ThunderNanoServices published publicly on Github.
Still works with the latest build of WpeWebkit at https://github.com/WebPlatformForEmbedded/buildroot/commit/0d481aff67296bbfafd3cd323b77252ba04f8249

[2021-09-16 18:06] jkey commented on #694
@nicoske thanks for the tip. I tried that but without success. Same message. I hope I do not bother you with it but do you have another idea? Thanks a lot for the help!

[code]

[2021-09-17 09:11] nicoske commented on #694
@jkey Here's the last commit that worked for me, from Nov 2020 in package/wpe/wpeframework-rdkservices:

[code]

[2021-09-17 10:40] jkey commented on #694
@nicoske Thank you very much. Now I get the next error that the file ocdm/IOCDM.h is not found. Did I miss something?

[code]

[2021-09-21 15:22] SameeAnsar commented on #726
The crash happened due to some RACE condition , we weren’t able to get the exact steps for reproduction.
Recent Observation on the hang crash:
The crash happen to older MIPS-based boxes almost exclusively. MIPS boxes usually have high load average(but it not extremely high) upon the crash and not so much free memory (30-40K).
Some hangs crash information contain indication that GC were running.
Al

[2021-09-24 11:13] magomez commented on #730
The commit you found is not a fix for the problem itself. It enables WebAnimations, which is a new implementation to handle animations, which is not present in 2.22. That's why cherry-picking it didn't work. In order to use that commit we would need to backport the complete WebAnimations implementation, which is not that easy.

Instead, I'll try to fix the issue in the animations code in 2.22. I'l

[2021-09-28 08:41] magomez commented on #730
I'm trying to reproduce the issue but I'm not able to see any duplicated animation. I've picked the code you posted and modified it a bit so the left property of the element with the transition is set to 0xp 1 sec after the page load, and I can see the transition working fine (using cubic-bezier, ease-in, ease-out and ease-in-out). This is the code that I have:

[code]

Could you provide a test th

[2021-09-28 11:04] jhowg97 commented on #730
Hi,
I believe the test beign referenced is the following:
https://certification.bbctvapps.co.uk/act/test/ui/36/css-supports-transition-timing-curve/payload.js
https://certification.bbctvapps.co.uk/act/test/ui/36/css-supports-transition-timing-curve/index.html

[2021-09-28 11:27] magomez commented on #730
That's weird, that test runs fine for me on the desktop. It may be a thing specific to some architecture. Which one are you using? mips? arm? I'll do some platform testing in the meanwhile to see if I can reproduce the problem.

[2021-09-28 12:03] jhowg97 commented on #730
Yeah it's an arm platform

[2021-09-29 09:02] magomez commented on #730
I've been able to reproduce the issue on the rpi3.
What happens here is not that the animations are duplicated, it's just that the test is testing some of the animations twice, and that's why you see some animations being repeated.

From what I saw in the test code, it tests 6 animation curves (linear, ease, ease-in, ease-out, ease-in-out and a cubic-bezier). It launches each animation and uses re

[2021-09-29 17:22] g3t0r1x opened #732 "CSS radial-gradient() not working correctly"
Hello,

`radial-gradient()` CSS function should work as per documentation below:
https://drafts.csswg.org/css-images/#radial-gradients

The most interesting part:

[code]

So default shape (if none provided) should be ellipse. However on WPEWebKit-2.22 circle is seen instead.

I have checked with WPEWebKit-2.28, where ellipse is correctly rendered.

Code example below:
[code]
`expected.png` attach

[2021-09-30 07:18] magomez commented on #732
I've just tested the wpe-2.22 branch and the output is the expected one. I've worked on this a while ago and fixed it upstream (with the commit you mention), and then backported to fix to the wpe-2.28 and wpe-2.22 branches. So yes, this should be already working on the wpe-2.22 branch. This issue was handled on https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/719

I'm not sure in which r

[2021-10-05 12:33] emutavchi opened #734 "[wpe-2.22] WebRTC build is broken after d22e12656a29a79232f20cc696645ce15746577e"
The RTCPeerConnection.onicecandidateerror cherry-pick doesn't compile:
[code]

[2021-10-06 11:10] CM112 opened #735 "WPEWebProcess Crash(JavaScriptCore) with deref signature due to SIGSEGV"
Crash Scenario 1:
1)Hulu was in a still state,
2)After exactly 4 hours app,  App is getting closed without any user interaction
3)WebProcess is crashed with deref signature after that
Crash Scenario 2 :
1)When a user tries to exit the app with the menu button
2)After exiting the app WebProcess is crashed with deref signature

WPE commit :
22d6522031250cdeb967101a0fa0cc91f190b84d

Callstack:

- [ [

[2021-10-08 07:53] magomez commented on #734
Arg! you're right, this is totally my fault. I didn't realize I was building without WebRTC when I backported this fix. I'll revert it.

[2021-10-08 11:02] magomez commented on #734
I'm trying to fix the build with the commit before reverting it. It should be easy, but building with openwebrtc/libwebrtc to test the fix is being a bit painful.

[2021-10-13 04:00] varumugam123 opened #737 "HashTable::add() gets into infinite loop on adding an element from CDMInstanceOpenCDM::Session::Session()"
In comcast set top boxes, on start / exit of a playback the session was added / removed from CDMInstanceOpenCDM::Session::m_validSessions HashTable. Frequently these HashTable::add() / HashTable::lookup() endup in infinite while loop causing the hang detector to kill the process with SIGFPE. This crash is mostly observed on Hulu & HBO Max playbacks, though it occurs on other apps too the frequency

[2021-10-13 04:01] varumugam123 commented on #737
[hulu_session_add_hang.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/7334702/hulu_session_add_hang.txt)

[2021-10-13 13:38] magomez commented on #734
In the end I found that the patch (which comes backported from a newer branch) did depend on features that were not present in 2.22, so it's not possible to make it work without huge changes. I pushed 3cebb77d6f6e3477770aa78819cd074f337f6977 that reverts the problematic commit.

[2021-10-18 12:49] bboczar opened #738 "Image not rendered on accelerated 2d canvas under specific conditions"
We have encountered some issues with painting on accelerated 2d canvas with cairo. Basically, when display property of the canvas is changed to 'none' and later on to something different, like 'block', canvas itself is visible (it occupy space) but image is no longer rendered on this canvas.

I have prepared example: https://bboczar.github.io/stb/canvas-display-property/index.html

Prerequisites:

[2021-10-22 09:15] magomez commented on #725
I've just pushed 405e52d3e520fb00caa9f1950d3eeebcbda7c926 to the wpe-2.22 branch to fix this. Clicking on the export button should download a file with the info. Please give it a test and close this if it works for you.

[2021-10-22 09:18] magomez commented on #725
Ah, I forgot to mention that the export feature doesn't work if there's no content in the network log (the export button will be disabled). To make it work, with the inspector network tab loaded, do some navigation on the inspected page (or reload it). This will start filling the network log and the export option will be enabled.

[2021-10-25 10:24] kkanag314 commented on #725
@magomez I cherry-picked the changes in wpe_webkit_2.22.But the Export key functionality is still disabled. I/m not able to download the HAR file using Export key under network tab.

![image](https://user-images.githubusercontent.com/62739415/138679299-40664c1d-5a4d-4347-accc-120c3ae5ba51.png)

[2021-10-25 10:28] magomez commented on #725
@kkanag314 please see my previous comment. The export button is disabled while the content log is empty, as there's nothing to export. In the image you attached it's empty (despite you see those file names, the transfer info is empty). Please, with that tab open, do some navigation on the inspected page or reload the page. That will fill the log and the export option will become enabled.

[2021-10-25 11:40] kkanag314 commented on #725
@magomez  I tried to do some navigation/played contents in the webapp and reload the page. But the export key is still disabled.

![image](https://user-images.githubusercontent.com/62739415/138688635-9a37589b-4599-4eac-bf8f-72a5313c38ce.png)

[2021-10-25 13:40] magomez commented on #725
That's weird. Clicking on the button should download the file. What do you mean with the option being disabled? The button doesn't react to the mouse over, like the other buttons on the same row (All, Document, CSS, etc), but it should work when clicked.

Which browser are you using? I've tested on firefox (it opens a save as dialog") and chrome (it directly downloads the file). Maybe you have pop

[2021-10-26 06:19] kkanag314 commented on #725
@magomez The libWPEWebInspectorResources.so is converted as a downloadable module in our embedded devices .So When I flashed the image, the corresponding webinspector library is not downloaded due to some server error.Due to this It was using the existing  WPEWebInspector library downloaded in the device.
I tried with the libWPEWebInspectorResources.so which has this changes. I'm able to download

[2021-10-26 06:19] #725 closed, assigned to nobody

[2021-10-28 12:14] eocanha commented on #737
I've started to have an initial look to the issue, although I have more experience in the multimedia parts than in the HashMap/HashTable implementation in WTF. For reference, [this is the HashTable (internal implementation of HashMap) code I've been looking at to understand the implementation](https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/22d6522031250cdeb967101a0fa0cc91f190b84d/Source/

[2021-10-28 12:27] varumugam123 commented on #737
Hi @eocanha, yes we too think it is a general memory corruption. The existing logs suggested that the HashTable::remove () was not able to find the Session @ 19:30:06.645564. The usual remove logs look like

[code]

But right @ 19:30:06.645564, the "removeWithoutEntryConsistencyCheck()" is not being called suggesting the element was not found by find(). This conveys by the time we get to remove()

[2021-10-28 12:30] varumugam123 commented on #737
I don't know how much it would help, but when I dumped the memory corrupted memory region I got something like below

[code]

This pattern is found on all such instances
[code]

[2021-10-28 12:32] eocanha commented on #737
Do you have a dump of the uncorrupted table as well?

If we find a word address that changes (if the pointer to that address is 0x82b42d20, the m_table pointer, even easier and better) and have the luck of gdb supporting hardware watchpoints in your target platform (I'm not sure about that), you could set a watchpoint on (unsigned int*)0x82b42d20, so if any code tries to modify the value stored th

[2021-10-28 12:34] varumugam123 commented on #737
Nope @eocanha , this one was from core dump. This time around, I didn't add any debugging logs so what elements were added and such details are not available right now.

[2021-10-28 12:40] eocanha commented on #737
BTW, in case you need it, I'm also connected to Flowdock.

[2021-11-09 15:16] magomez commented on #738
I've just pushed d852c5036ef93b9e469203adbdca5eb63bc6a4b8 to the wpe-2.22 branch, that should fix the issue. Please try that it fixes it for your case and close this if everything is working properly.

[2021-11-10 10:33] bboczar commented on #738
Looks like issue is fixed, however we will perform some more tests before closing this issue. Thanks!

[2021-11-22 06:20] CM112 opened #747 "WPEWebProcess Crash(JavaScriptCore) with clobberize signature due to SIGFPE"
Crash Scenario:
This hang crash happens while launching apps, iheart radio, IPTV, startup screen, ....
It is not specific to any app

WPE commit :
22d6522031250cdeb967101a0fa0cc91f190b84d

Callstack:
[ 00 ] clobberize<JSC::DFG::AbstractHeapOverlaps, JSC::DFG::AbstractHeapOverlaps, JSC::DFG::NoOpClobberize>
[ 01 ] accessesOverlap
[ 02 ] handleNode
[ 03 ] runAndLog<JSC::DFG::StrengthReductionPhase>

[2021-11-22 14:47] jacek-skiba-red opened #748 "BBC ACT testsuite support [question]"
Is WPE (especially branch WPE2.22) officially supporting BBC ACT testcases (https://certification.bbctvapps.co.uk/act/portal/)?
If the answer is "Yes", then which version is supported (1.14 / 1.15)?
If the answer is "No", then why ACT testsuite is not added to WPE CI suite?

[2021-11-25 09:38] zbigniew-holdys-epam opened #749 "WPEWebProcess is crashing when access Wikipedia OTT app"
Crash Scenario:
This crash happens while launching Wikipedia app

Affected Version:
WPE2.22

Reproduction:
https://widgets.metrological.com/lightning/liberty/2e3c4fc22f0d35e3eb7fdb47eb7d4658#app:com.metrological.app.Wikipedia==[x]route:home

Unfortunately this app doesnt work on PC browser (chrome/chromium) but on STB only.
The main reason behind this is a missing Language value that STB can fetch

[2021-12-01 20:39] russdill opened #752 "html video element with src="udp://0.0.0.0:5000" never starts playing"
I'm trying to render a video source that's being supplied via udp in the most direct way possible. The following works:

`gst-launch-1.0 playbin uri=udp://0.0.0.0:5000 video-sink=glimagesink`

But when using src="udp://0.0.0.0:5000" in a video element with cog *almost* works. A UDP port gets opened and bind gets called but the pipeline never moves past the PAUSED state. I've tried with autoplay an

[2021-12-06 09:52] CM112 commented on #735
Is there any update on this issue?

[2021-12-07 07:47] ghost opened #755 "current impl. of progressive playback START is nondeterministic in time domain"
Impl. in MediaPlayerPrivateGStreamer.cpp (none MSE path) monitors buffering level of GstQueue2/DownloadBuffer by
GST_MESSAGE_BUFFERING message parsing, if 100% fill level is reached (of complete stream downloaded) GST pipeline is switched to PLAYING. Because both of those elements generate GST_MESSAGE_BUFFERING based on their current fill level - information in message is not monotonic (oscillats)

[2021-12-14 11:45] #730 closed, assigned to nobody

[2021-12-14 11:45] #732 closed, assigned to nobody

[2021-12-15 12:48] CM112 opened #759 "Webprocess(JSC) crashed with setUpCall signature due to SIGSEGV"
This issue happens occurs randomly  during long playback of HULU,  also happening with Youtube, HBO max
We don't have any simplified reproduction steps

CallStack:
[ 0 ] setUpCall
[ 1 ] llint_slow_path_call

WPE-commit:
22d6522031250cdeb967101a0fa0cc91f190b84d

[2021-12-16 10:56] CM112 commented on #759
More details about the issue:
         It was happening with MSE stream, This issue was happening more in Arris Xg1v4 , Xione ,Pace Xg2v2,PaceXg1V3 devices,
Happening in both arm and MIPS architecture,Analyzed latest 10  occurrence of the crash , In issue time enough memory is available ~over 60% free memory is available

Also this crash is happening with SIGSEGV and SIGFPE(hang crash) signals, St

[2021-12-17 09:35] modeveci commented on #749
_From RDK Jira ticket:_

One of the easiest way to reproduce this issue is to use webinspector and set the breakpoint in  appBoundle.es5.js  in function X()
arround 579 line (formatted version of the obfuscated file)
}, X = function language(n) {
   return Y("language", n) // here set n="en"
},$ = window.lng;

and set n="en"

[2021-12-17 10:48] woutermeek commented on #759
The stack trace looks really small, I guess it is corrupt or incomplete.
Would it be possible to create a full stack strace?

This might be useful info: https://eocanha.org/blog/2020/10/16/figuring-out-corrupt-stacktraces-on-arm/

[2021-12-22 16:31] magomez commented on #749
This is a tricky one...

I've been able to reproduce a crash by following these steps:
- load the URL
- put a breakpoint in the place mentioned and set n="en" a couple of times, which allows the page to load
- add some text to the search field. Eventually it will crash when loading content related to the entered text.

The backtrace I got from the crash is quite similar to the one provided, except

[2021-12-28 07:31] CM112 commented on #759
`thread-0 tid=15608 faulted
	[0] /usr/lib/libWPEWebKit-0.1.so.2.2.1!setUpCall [/usr/src/debug/wpe-webkit/2.22.2+gitAUTOINC+22d6522031-r0/build/DerivedSources/ForwardingHeaders/wtf/SentinelLinkedList.h : 61 + 0]

	[1] /usr/lib/libWPEWebKit-0.1.so.2.2.1!llint_slow_path_call [/usr/src/debug/wpe-webkit/2.22.2+gitAUTOINC+22d6522031-r0/git/Source/JavaScriptCore/llint/LLIntSlowPaths.cpp : 1537 + 0x18]

[2021-12-28 09:56] CM112 commented on #747
As @woutermeek  suggests , Tried Disabling DFG jit as a workaround, But it affects performance of the device,
@woutermeek  can you help in fix this

[2021-12-28 09:57] CM112 commented on #747
Also this issue is mostly seen mips platform

[2021-12-31 21:30] guijemont commented on #759
This looks a lot like the stack trace provided in #726. Both follow the path event fired → `profiledCall()` → `boundThisNoArgsFunctionCall()` → `call()`. Still hard to understand what goes wrong without being able to reproduce it and investigate with gdb myself. A few questions for you @CM112 that might allow us to advance a bit in the investigation:
 - can you get the backtrace several times? lik

[2021-12-31 21:49] guijemont commented on #747
Do you mean the issue does reproduce any more with DFG disabled? That's interesting information in itself.

Are you able to provide a more complete backtrace (with source code line numbers) like in #759, or ideally, like I recently asked there (`thread apply all bt full`). Thanks!

[2021-12-31 21:52] guijemont commented on #759
Also, does the issue still happen if you disable DFG (e.g. with environment variable `JSC_useDFGJIT=false`)? If it does happen in that case, does it still happen when disabling all JITs (e.g. with environment variable `JSC_useJIT=false`)?

[2022-01-03 12:39] CM112 commented on #735
[deref.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/7801920/deref.txt)
attached full stack trace for all threads, @woutermeek  Can you help check this?

[2022-01-03 13:15] CM112 commented on #759
@guijemont Reg this issue, Most of the stacktrace are corrupted as I mentioned first in comment 1, Also difficult to reproduce this issue.I attached stacktrace with full threads below, Also I try to find similarly resolved  stacktrace and attach
[566fa42b.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/7802044/566fa42b.txt)

[2022-01-03 13:19] CM112 commented on #759
this we didn't try, as we don't have any specific reproduction steps.

[2022-01-03 14:36] CM112 commented on #747
I am able to reproduce the issue in 1/60 times  but frequent hangs are detected, When I disable DFG jit After a long try, I saw a crash, But I'm not able to resolve the bt(so not sure about the exact issue is reproduced or not), I saw  less frequent hangs detected, Maybe the frequency is reduced by disabling jit
[747.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/7802435/747.txt)

[2022-01-06 11:14] ghost commented on #755
Please see following tests results with Metro App:
https://widgets.metrological.com/lightning/liberty/2e3c4fc22f0d35e3eb7fdb47eb7d4658#app:com.metrological.app.Euronews

Testing was done on: Raspberry Pi 3 B+,
with reference image: rdk-generic-reference-image-2021-11-23-raspberrypi-rdk-hybrid-generic.rpi-sdimg

try | loading time
-- | --
1 | ~5 s
2 | ~8 s
3 | ~16 s
4 | ~1 s
5 | ~1 s
6 | ~2 s
7 | ~

[2022-01-07 12:01] magomez commented on #749
I've been doing more investigation on this, and the problem seems to be the extensive usage of createImageBitmap and OffscreenCanvas that the application does. Let me elaborate.

On 2.22 we have createImageBitmap and OffscreenCanvas enabled, despite the features are not complete (they are fully implemented on 2.34). There are some pieces to fix regarding concurrency when drawing to a canvas on a s

[2022-01-07 12:54] magomez commented on #749
I forgot to specify that the threading problem happens because the offscreen canvas is being used inside a service worker. Using it in the main thread is not a problem, but the current code is not thread safe to use it on a service worker.

[2022-01-10 08:07] jacek-skiba-red commented on #749
@magomez: thanks for detail analyze. Few questions:

- Service worker API is disabled in our case. You are referring to web worker api (which is used in all lightning applications)?
- Through web inspector I don't see usage of OffscreenCanvas API in Wikipedia app (I see calls to createImageBitmap)
- Can you provide for reference PR for this change - we like to test in on our platforms

[2022-01-10 09:12] magomez commented on #749
It's web workers then. I haven't checked the app code, I just know that there are several threads running there, so I assumed they were service workers. But they can be web workers as well, as you say.

That's weird. I'm seeing secondary threads accessing font data, and I assumed it was for OffscreenCanvas. Not sure how they are used then. But the problem is related to OffscreenCanvas and createIm

[2022-01-10 09:15] magomez commented on #749
I was going to push this change so you can test it, but it would be great if you could test this before, and I'll push it if you verify that the problem is gone on your side as well.

[2022-01-10 09:34] magomez commented on #749
Ah, I was so focused on the OffscreenCanvas theory that I missed a key point in the backtrace. It's not Offscreen canvas, but createImageBitmap the one that's being run on a worker thread. And it's loading an SVG image the one that's accessing font information from a worker thread. In any case, the patch works because it disables createImageBitmap as well.

[2022-01-10 17:18] zbigniew-holdys-epam commented on #749
It looks disabling ImageBitmapOffscreenCanvasEnabled has successful solved this ticket.
We have roughly made a few GFX benchmarks to check if the performance decreases.
So far we haven't observed any significant regressions or delays. I assume we can close this ticket

[2022-01-11 08:08] magomez commented on #749
I continued investigating this, as I wanted to avoid disabling createImageBitmap, and I finally found a solution that will remove the crash when loading SVG images. I've just pushed 1c7ef305905f60d9d87832adb00b9e54b37e0c40 to the wpe-2.22 branch with the fix. Could you remove the patch to disable createImageBitmap and test that this commit fixes the issue for you, please?

[2022-01-11 18:47] zbigniew-holdys-epam commented on #749
I have reverted "disabling createImageBitmap" patch and applied your current "Fix crash decoding SVG images on worker threads". After round of testing everything looks correct. I haven't observed any regressions.

BTW. What I am using for GFX benchmarking :
https://webglsamples.org/aquarium/aquarium.html
https://orange-opensource.github.io/orangemark/
https://browserbench.org/MotionMark1.2/

do yo

[2022-01-12 08:30] magomez commented on #749
Great, let's keep this fix then!! Could you close this if the fix is verified, please?

All or those are fine, and I use them too. But specifically for lightning apps I use https://strike.lightningjs.io/es6/

[2022-01-13 07:38] przemyslaw-gorszkowski-red opened #768 "Screen is flashing while navigating within the app"
When we navigate within the app (https://c5apps-staging.channel5.com/my5virginhorizon/index.html) , we can observed flushing of the screen (for a milliseconds we can see a blue screen).

This issue is observed on WPE 2.22(RaspberryPi 3 B+) and also 2.30(Gnome Web on PC )
The issue is not reproduced on Chrome or Firefox.

This is the recording of the problem:
https://user-images.githubusercontent.c

[2022-01-24 18:05] eocanha commented on #755
I don't have access to the RDK-503 ticket nor to the RDK reference image at this moment (I usually work on images generated from [this buildroot](https://github.com/WebPlatformForEmbedded/buildroot)). I would need some additional information in order to understand properly the problem you describe:

Is the image you're using based on [wpe-2.22](https://github.com/WebPlatformForEmbedded/WPEWebKit/c

[2022-01-25 20:30] eocanha commented on #737
Is this issue still present? I've tried to look for good way to push this debugging forward today, looking for alternatives to gdb, and trying to use hardware watchpoints from the program itself instead of from gdb would require a child process and would be too difficult to manage. Also, mprotect would require some special memory management to store m_table and set it as read-only mode. Both appro

[2022-01-28 12:42] magomez commented on #738
@bboczar is this issue fixed? could we close it?

[2022-01-28 17:35] bboczar commented on #738
Sorry, I forgot about this one. Yes, issue could be closed. Thank you for your support!

[2022-01-28 17:35] #738 closed, assigned to nobody

[2022-02-01 09:39] ghost commented on #755
Hi,

wpe-2.22

yes

GstQueue2

In comercial products you usually would like to guarantee such parameters (under the assumptions that network conditions are met).

No. Please see attached pipeline diagram. When GstQueue2 is being pumped in by WebKitWebSrc from network its also being pumped out by GstQtDemux (or equivalent element) from its "src pad" side. So GstQueue2 fill level depends on timing o

[2022-02-02 14:29] eocanha commented on #755
I'm starting to see the problem here:

We usually do most of our user tests and debugging using a Raspberry Pi as reference system. In a RPI, the OMX decoder has a limited number of available buffers to place decoded video frames. This means that the pipeline "fills" (prerolls) very quickly, so the buffers quickly accumulate and fill the GstQueue2, reaching the needed buffering levels and providin

[2022-02-04 09:36] ghost commented on #755
Hi,

Yes, this is exactly what is the problem. The worst is that fill level is highly depends on thread scheduling (oscillations).

Current impl. is not "customizable" in this respect.

One of the "semi-general" solution might be to put GST probes on sink pad of element which is located after multiqueue (~decoder), or implement interface to accept such a probe (which vendor can place where it is n

[2022-02-07 09:18] przemyslaw-gorszkowski-red opened #773 "WPE 2.22 - Rendering thumbnails/images/keyframes problem during fast forward"
The problem with blinking black thumbnails/keyframes can be observed during fast forward on youtube.com/tv service (but not only, it is also observed on other services where the thumbnails are displayed  during FF and the playback is played in background). The fast forward is done by keeping down the key responsible for FF (right arrow in case of RPI).

The problem is seen on WPE 2.22.
The recordi

[2022-02-07 09:38] rychem commented on #773
@woutermeek, according to recommended flow, the issue is cloned from RDK-505

[2022-02-07 16:31] varumugam123 opened #774 "WebProcess hangs while playing long audio"
Crashes are observed while playing long audio using WebkitWebSrc. The crash was observed on both MIPS & ARM devices and with ARM devices it takes few more attempts to reproduce the issue.

The crash is observed on many apps mostly iheart, pandora. But could be reproduced with the below simple page as well

[code]

Attaching stack trace from an instance:
[iheart-hang-crash-01.txt](https://github.co

[2022-02-07 16:39] varumugam123 commented on #774
This happened with wpe-2.22 : a79319e92c

[2022-02-07 17:16] varumugam123 commented on #774
We tried couple of experiments:
* Not sending the custom event with http-headers. This of course works as there is no contention between main thread & appsrc streaming thread. But not sure of the significance of this http-headers event. MediaPlayerPrivateGStreamer is relying on the "http-headers" bus message and not on the event. Couldn't conclude if anybody is using this event.
* Tried a hack to

[2022-02-07 17:27] eocanha commented on #774
The http-headers event is needed when playing adaptive streaming (SmoothStreaming, HLS, DASH) regular non-MSE video.

<del>It's used in this custom patch to configure the internal GstSoupHttpSrc elements with cookies: https://github.com/WebPlatformForEmbedded/buildroot/blob/main/package/gstreamer1/gst1-plugins-bad/1.16.2/0001-adaptivedemux-minimal-HTTP-context-support.patch#L40 </del>  &nbsp; <--

[2022-02-08 09:24] mbhatt627 commented on #327
There are random crash happens on JS Core( WPE -2.22).
These crashes are seen only on MIPS devices.
Crash happens on operationLinkDirectCall()
1-     RELEASE_ASSERT(callLinkInfo->isDirect());  -> This crash is more , in a day 23K ~ 25K crashes
2-     RELEASE_ASSERT(callLinkInfo->executable());  -> This less compare to 1. in a day crashes 400~500

There is no reproduction scenario.

[WTFCrash_call_

[2022-02-08 10:09] mbhatt627 commented on #327
Most of the times process's vm.peak exceeds vm.size as well vm.rss.peak exceeds vm.rss.size.
Ex:

**vm.rss.peak 239,296
vm.rss.size 211,668**
vm.shared.size 104,340
vm.stack.size 136
vm.swap.size 1,308
**vm.vma.peak 778,876
vm.vma.size 774,088**

[2022-02-09 11:33] magomez commented on #773
I gave it a look and this is what's happening:

- Keeping the forward button press generates a forward event several times per second. Also, if kept pressed, the interval advanced in the video will grow (for example 10 seconds at first, then a minute, then 2 minutes).
- As mentioned, the thumbnails are loaded as an image (let's call it set), that contains several thumbnails (the number can vary, I

[2022-02-09 11:56] magomez commented on #768
@przemyslaw-gorszkowski-red, is there any test account that I could use to browse the app? if that's not the case, can I create a free account or do I need anything special?

On a first look to the video my bet is that the blue that you're seeing is something that's behind the image, that becomes visible for a moment while the image is loaded. But there seems to be a fade-out/fade-in effect as wel

[2022-02-09 12:16] przemyslaw-gorszkowski-red commented on #768
@magomez to see the problem you don't need to create any account(just select option "Not now")

[2022-02-09 12:50] przemyslaw-gorszkowski-red commented on #773
<< What comes to my mind is reducing the amount of forward events that are generated per second.

But it can be done rather on app side right? if we do it on our side then it affects all other apps/sites

[2022-02-09 15:26] magomez commented on #773
Yes, it should be done on the app side.

[2022-02-09 17:37] cuttlfish opened #784 "Use of noncompositedwebgl"
We are observing that when this flag is set true in RDK environment, general memory bandwidth usage goes way up. The graphics core is 3 times more busy as well when drawing a simple lightning app that is mostly static compare to when this flag is set to false. Simple pages like google.com does not exhibit such behavior. Is this to be expected? What is the purpose of this flag. Thanks

[2022-02-10 08:53] rychem commented on #773
@magomez thanks for your comment.
Issue was reported with reference to YT application, however oryginally issue is observed on BBC iPlayer app (which cannot be run on RPI, that is why we used YT for issue description).
However, for both cases, YT and BBC, it is hardly to imagine that Vendor adapts his application for one Customer. Especially that most valid argument is that rendering issues were n

[2022-02-10 09:47] maciej-kolanski-red opened #785 "WPE 2.22 - Network requests cannot be resolved after network change"
Clone of RDK-511

**Reproduction steps**
1. Start any application (preferably Lightning: https://widgets.metrological.com/lightning/liberty/2e3c4fc22f0d35e3eb7fdb47eb7d4658#app:com.metrological.app.CNN)
2. Stop the application - navigate to URL used when browser is moved to the background.(https://widgets.metrological.com/lightning/liberty/2e3c4fc22f0d35e3eb7fdb47eb7d4658#boot or even about:blank)

[2022-02-10 11:10] rychem commented on #785
@woutermeek the issue mirrorred from RDK-511

[2022-02-10 13:48] eocanha commented on #774
In the end, it looks like the http-headers custom downstream sticky event may also be important to supply the Content-Length header internally and help the GstDownloadBuffer to do its job internally (when used, and mainly on non-adaptive streaming content), so the sending of this event can't be avoided.

I couldn't reproduce the problem locally myself, but having a look at [the code that sends the

[2022-02-10 18:06] mbhatt627 commented on #327
@woutermeek , GCC version on Dunfell build is **gcc version 9.3.0**, where we see increse in this crash.

[2022-02-11 13:06] magomez commented on #768
The problem here is related to the asynchronous decoding of large images (that is also affecting https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/773). When a new background image needs to be loaded, it's scheduled for decoding in a secondary thread, and while it's not ready, nothing is painted. This causes that, when the previous image is removed, there's a moment where the blue backgro

[2022-02-11 13:31] magomez commented on #768
Ah, I've just realized that there's already a setting to disable the async decoding of large images (WKPreferencesSetLargeImageAsyncDecodingEnabled). This is a better option than the env var, as it allows enabling and disabling it on demand, but I'm not sure whether you have access to the launcher code (are you using WPEFramework/Thunder?).

If you can tweak the launcher, it would be better if you

[2022-02-11 13:54] magomez commented on #773
I understand when you mention the legacy browser, you mean the 2017 branch of WPE. I'm pretty sure that the black flashes when requesting a thumbnail from a new set are happening there as well, as the way WPE renders the images is basically the same, and the time required to get and decode the image can't be reduced.

Now, depending on the point of the 2017 branch you were using, async decoding of

[2022-02-11 20:52] przemyslaw-gorszkowski-red commented on #773
@magomez thank you very much for your analysis and help. I will  test your suggestion and will let you know about the result.

You are right, by legacy browser we mean the 2017 branch of WPE.

BTW: are there any tests which can be use to measure a rendering performance?

[2022-02-11 22:21] rychem commented on #768
@magomez many thanks for analysis and patch. We will perform testing.
Since switch from async to sync method will be global (not per specific application/page), what are potential drawbacks of this method? It was probably introduced to solve some other category of issues ... what could it be?

[2022-02-14 08:24] magomez commented on #768
In order to render an image, it was to be decoded into a bitmap first. The time required for this isn't usually huge but, if the image is big, it can take a noticeable amount of time. Before this change, the main thread would block until the decoding operation was over, which means that JS won't be executed, the rendering of the page would stop, and no events would be handled. The change causes th

[2022-02-14 14:39] robsuero commented on #773
@przemyslaw-gorszkowski-red - have you had any success with the recommended change?

[2022-02-14 17:03] rychem commented on #773
@robsuero , @magomez proposed change is improving rendering performance for this and https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/768 issues.
We are still checking it against potential regressions/side effects. When none found we will be able to close those tickets.
Thanks for support.

[2022-02-14 17:05] rychem commented on #768
@magomez proposed change is improving rendering performance for this and https://github.com/WebPlatformForEmbedded/WPEWebKit/issues/773 issues.
We are still checking it against potential regressions/side effects. When none found we will be able to close those tickets.
Thanks for support.

[2022-02-14 18:25] przemyslaw-gorszkowski-red commented on #768
@magomez probably WKPreferencesSetLargeImageAsyncDecodingEnabled has to be moved to public API from the private one (we use WPEFramework/Thunder). I can move it. The other option can be also add this option with env var WPE_DISABLE_ASYNC_DECODING_LARGE_IMAGES.

Once again many thanks for your support here. and in #773 ticket.

[2022-02-14 18:26] przemyslaw-gorszkowski-red commented on #773
@magomez  many many thanks for your support here and in #768 ticket.

[2022-02-14 20:47] eocanha commented on #774
It turns out that the support for proper event sending in appsrc is tangled with other features, including segment event management, and isn't as easily backportable as I initially thought.

In the end, I implemented [a solution](https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/d825d16bdbd0dbe5e57b5b1ef37c733c6d0bfb4c) in the https://github.com/WebPlatformForEmbedded/WPEWebKit/commits/eo

[2022-02-15 07:25] przemyslaw-gorszkowski-red commented on #768
<< But if you prefer the env var, I can add that change to WPE.
@magomez I prefer to have it as env var, will you create a change for it or should I do it?

[2022-02-15 09:07] magomez commented on #768
I've just pushed commit 48aa792b6d9b8bdd21cbda7825013f439fb82866 to the wpe-2.22 branch with the env var.

[2022-02-15 17:04] #768 closed, assigned to nobody

[2022-02-15 17:05] przemyslaw-gorszkowski-red commented on #773
The problem is resolved by fix from https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/48aa792b6d9b8bdd21cbda7825013f439fb82866

[2022-02-15 17:05] #773 closed, assigned to nobody

[2022-02-15 20:04] eocanha commented on #755
I've coded a [specific solution](https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/14f712084b349ab70e87352d73dc02ee42c1a99e) for systems using Broadcom Nexus in the top of branch https://github.com/WebPlatformForEmbedded/WPEWebKit/commits/eocanha/eocanha-114. Let me know if it would work for your specific case.

[2022-02-16 15:05] rychem commented on #755
Hi Enrique,
Thanks. We will validate the patch and come back with outcome

[2022-02-17 12:59] antishantony opened #788 "Webprocess crash with signature "executeCall" after launching paramount plus app"
This issue is seen in few device models.
It is mainly happening during paramount plus app. Issue is seen in hulu and amazon also but very less.

In most of the devices this crash is happening just after launching the app. Issue occurs in wpe-2.22.
[5fe9dea5.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8088775/5fe9dea5.txt)
[61b78650.txt](https://github.com/WebPlatformForEmbedded/

[2022-02-17 13:14] eocanha commented on #774
Pushed on [wpe-2.22](https://github.com/WebPlatformForEmbedded/WPEWebKit/tree/wpe-2.22) as commit https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/38adbc589864851346aa3e4156723b5d94cc254d after Vivek validated that the original issue is no longer present.

[2022-02-17 13:14] #774 closed, assigned to eocanha

[2022-02-17 13:17] varumugam123 commented on #774
Thank you @eocanha

[2022-02-18 11:56] ghost commented on #755
@eocanha thanks for the patch.
We have some preliminary results which should good improvements.
We would like to share our final feedback but we need more time to do the correct validation.
We detected another issue which interfers with current one and impacts time-to-play (related to Euronews animation on playback start). This issue needs to be solved to get final outcome. Hopefully mid of next w

[2022-02-18 14:02] emutavchi commented on #734
Thanks

[2022-02-18 14:02] #734 closed, assigned to woutermeek, magomez

[2022-02-21 17:50] eocanha commented on #755
There are some relevant comments in https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/14f712084b349ab70e87352d73dc02ee42c1a99e
Mentioning them so they get linked from this issue.

[2022-02-22 05:19] mbhatt627 commented on #327
@guijemont , Do you have any test case of JSC which can reproduce this crash ?

[2022-02-22 10:14] guijemont commented on #327
Not yet, though there is still hope that I could find one among the failures I see with qemu.

[2022-02-22 14:17] przemyslaw-gorszkowski-red opened #792 "WPE 2.22 - Missing mechanism "pause for buffering""
When the internet connection is poor, the playback is not paused for buffering which leads to playing the playback without audio and with some kind of slower video.

The problem can be observed on CNN app:

https://widgets.metrological.com/lightning/liberty/2e3c4fc22f0d35e3eb7fdb47eb7d4658#app:com.metrological.app.CNN

Just try to play any content with poor internet connection.

I attached the rec

[2022-02-22 14:55] emutavchi opened #793 "[wpe-2.28] createImageBitmap doesn't work with accelerated 2d canvas"
We observe that Lightning apps don't look right in wpe-2.28 with accelerated canvas enabled('-DENABLE_ACCELERATED_2D_CANVAS=ON'). can be reproduced with: https://github.com/rdkcentral/Lightning-VOD-example.

Initial investigation suggests that createImageBitmap doesn't work with accelerated 2d canvas on

[2022-02-24 09:04] przemyslaw-gorszkowski-red commented on #792
It seems that there are few fixes available on newer version WPE which partially can help in this case:
1. first updates in MediaPlayerPrivateGStreamer::processBufferingStats: https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/41c2c9a3dd17906af7e313a7d467ca74c9806a83
2. Several buffering fixes : https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/810d92c69f4fde34a5f735dd795b5ff02b8e

[2022-02-24 20:06] eocanha commented on #792
I've been able to reproduce the issue here and I'm currently looking into it.

It's true that the buffering code as it is in wpe-2.22 seems only focused on managing the initial buffering and has no algorithm in place to detect buffering underrun and pause the playback. There used to be [code for that](https://github.com/WebPlatformForEmbedded/WPEWebKit/blob/9fa992a00eb90044f47c35190d7db146d1a10fb9

[2022-02-25 09:23] przemyslaw-gorszkowski-red commented on #792
I think the reason was some "hiccups" of the playback after seek or start the playback. The reason can be playpump which consumes very fast data until it fills its buffers. So after starting the playback(queue2 reports 100%, and the playback starts), then playpump consumes data which causes that queue2 reports <100% of buffers what causes the pause - so we have playing->pause->playing->pause.... I

[2022-02-25 11:46] woutermeek commented on #792
As far as I can recall it was indeed to have a smoother the start of playback, maybe it is not needed anymore with https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/14f712084b349ab70e87352d73dc02ee42c1a99e

[2022-02-25 12:23] przemyslaw-gorszkowski-red commented on #792
I did tests with fix from https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/14f712084b349ab70e87352d73dc02ee42c1a99e but the hiccups are still there.

[2022-02-25 15:30] woutermeek commented on #792
Maybe we should fix the hiccups in a different way, and add this code back for pause during buffering. What do you think @eocanha ?

[2022-02-25 16:38] przemyslaw-gorszkowski-red commented on #792
Here you have our fixes which update m_maxTimeLoaded bases on network stats in case of disable buffering on disk:
https://github.com/LibertyGlobal/WPEWebKit/commit/f2eac16c26526dc518164732b094bedd20487625 - it also fixes getting the buffered range function(MediaPlayerPrivateGStreamer::buffered)
and some updates/fixes for it:
https://github.com/LibertyGlobal/WPEWebKit/commit/5303dd00323bbd6e983a772

[2022-02-25 18:05] eocanha commented on #792
I've just porce-pushed https://github.com/WebPlatformForEmbedded/WPEWebKit/commits/eocanha/eocanha-114, where I did a minor cosmetic change to the buffering correction patch and added a new commit to pause the pipeline when buffering reaches 0%.

Here the pausing/restarting scheme is working fine for me. The video will pause when there's 0% global (queue2 + playpump) buffering, and restart again w

[2022-02-28 07:40] przemyslaw-gorszkowski-red commented on #792
I tested these two fixes during the weekend with few of our applications and different type of the streams (progressive, adaptive streaming - MSS - handled by gstreamer). I tested it with and without limited internet connection.

My test was done without buffering on disk (so queue2 with queue and GST_BUFFERING_STREAM buffering mode).

It seems to work without any serious regressions. As you menti

[2022-02-28 09:51] przemyslaw-gorszkowski-red commented on #792
Ok, I think I found some issue with MPEG-DASH (handled by gstreamer). Example:
https://bitmovin-a.akamaihd.net/content/sintel/sintel.mpd
It starts without any problems but if I change the currentTime it goes to that new position and pause. Without "pause for buffering" after new position it starts play without problem.
I am checking what can be the reason of this issue.

[2022-03-01 08:54] jakub-gocol-red opened #796 "WPE2.22 - requestAnimationFrame can starve out setTimeout timers"
On [euronews](https://widgets.metrological.com/lightning/liberty/2e3c4fc22f0d35e3eb7fdb47eb7d4658#app:com.metrological.app.Euronews) application, when I try to open video, it often starts very late (sometimes even after 15-20s). This delay is not caused by buffering, but because source on video element is also set very late. I narrowed down the issue to requestAnimationFrame api, which causes setT

[2022-03-01 09:38] przemyslaw-gorszkowski-red commented on #792
It seems that the problem with PAUSED state after seek is common for adaptive: MPEG-DASH, MSS, and non adaptive: progressive streams (one mp4 file).

It seems that after "pause for buffering" and "restarting playback after pause for buffering" the pipeline changes the state from PAUSE to PLAYING but right after that due to : HTMLMediaElement::setReadyState and HTMLMediaElement::updatePlayState the

[2022-03-02 10:36] przemyslaw-gorszkowski-red commented on #792
@eocanha : I added a comment to your proposal: https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/c7c35c641ca31eae1100e07e0995292df162655b which can fix the regression after your proposal.

[2022-03-02 13:30] jakub-gocol-red commented on #796
I created pull request with proposed fix: https://github.com/WebPlatformForEmbedded/WPEWebKit/pull/798

[2022-03-02 14:03] magomez commented on #793
I've just pushed 6197d5de13b17115ebe3d6d269c6734529c87a7f that should fix this.

@emutavchi , please, could you verify and close this if it's fixed? Thanks

[2022-03-03 18:37] emutavchi commented on #793
https://github.com/WebPlatformForEmbedded/WPEWebKit/commit/6197d5de13b17115ebe3d6d269c6734529c87a7f works for us. I'm closing this issue

[2022-03-03 18:37] #793 closed, assigned to magomez

[2022-03-04 18:02] eocanha commented on #792
I've force-pushed again https://github.com/WebPlatformForEmbedded/WPEWebKit/commits/eocanha/eocanha-114 and added lines to update m_currentState, which has been enough to solve the "paused after seek" issues.

Let me know if the current state of the branch is good enough for your use case. I've successfully tested it with seeks on regular video, mpeg-dash and on your CNN app test case (with and wi

[2022-03-07 10:27] CM112 opened #800 "ASAN Heap use after free in WebCore::InlineBox::root"
We encountered this issue while launching Disney+ app in Comcast xione settopbox with Address-sanitizer enabled
Full stacktrace :
[gdb.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8196745/gdb.txt)

This Issue is due to accessing the deleted parent in the inline::root

When the parent has been deleted in function  `RenderBlockFlow::layoutLineBoxes` , exactly here lineBoxes().delet

[2022-03-07 15:10] CM112 commented on #735
We don't have an exact scenario  to reproduce this issue, It is mostly happening in arm devices

[2022-03-08 14:59] woutervanh commented on #752
Hi russdill,
There's something wrong with playing network content
Following patch will fix this behaviour:
[code]

[2022-03-09 10:38] przemyslaw-gorszkowski-red commented on #792
@eocanha thanks for the updated fix. We are testing it. During these tests we observe some "additional" breaks(because of "pause for buffering") at the beginning of the playback. I think that this is a negative consequence  of "pause for buffering" mechanism. It happens even with good network connection condition (7-8 MB/s).
The problem with additional breaks(pause for buffering) is seen much more

[2022-03-09 13:19] kkanag314 opened #805 "Issue in WebRTC streaming due to race in dispatching the task in Mainthread"
We are observing a issue in Webrtc video streaming when both audio and video is enabled in remote peer.
The libwebrtc implementation has logic to post a task to add the tracks in mediastream in the MainThread.

 void LibWebRTCMediaEndpoint::OnTrack(rtc::scoped_refptr<webrtc::RtpTransceiverInterface> transceiver)
 {
     if (!RuntimeEnabledFeatures::sharedFeatures().webRTCUnifiedPlanEnabled())

[2022-03-09 13:22] kkanag314 commented on #805
@woutermeek Could you please help to review this issue. If any additional information's are needed, please let me know

[2022-03-09 16:24] russdill commented on #752
Working great with this patch, thanks so much.

[2022-03-11 09:07] magomez commented on #785
@maciej-kolanski-red, could you give a test to this patch that I'm attaching (sorry for the .patch.txt extension, github just doesn't allow uploading .patch files). The patch should detect changes in the network and invalidate existent soup connections, so everything should work properly with the new network. If it works for you, I can commit it to the wpe branch.

[webkit-drop-connection-on-netwo

[2022-03-11 13:21] CM112 commented on #800
HI, @magomez can you please help on this, It looks critical we are not able to launch Disney+ with address sanitizer build, WIthout reverting  Is there any other way to fix it,

[2022-03-11 13:38] magomez commented on #800
Sure, I'll prioritize this over the other issues on my list.

[2022-03-14 14:01] maciej-kolanski-red commented on #785
@magomez The patch works great, thank you very much! I believe this issue can be safely closed once the change is merged.

[2022-03-14 14:42] magomez commented on #785
Great! I've just pushed 43877edc4454aa4c7e4073aa6658cedfb62756f1 with the patch to the wpe-2.22 branch. Please feel free to close this when you verify that everything is ok. Thanks!

[2022-03-15 15:13] magomez commented on #800
@CM112 could you, please, test this patch and check that it fixes the problem? It's basically removing the previous fix and adding a new one that I expect won't cause any problem. If it works for you, I'll commit it. Sorry for the .patch.txt suffix, but github doesn't accept .patch extensions.

[repaint-element-on-border-change.patch.txt](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8

[2022-03-16 09:23] magomez commented on #796
Thank you for your detailed analysis @jakub-gocol-red. It's true that WebKitGTK and WPE have different timeout priorities, but this is intended behavior, because WebKitGTK and WPE target different hardware: the former is mainly intended to be used on the desktop, where there's in general more resources and CPU power to use, while the latter is intended to be used on embedded systems with lower res

[2022-03-16 10:22] rychem commented on #792
@eocanha can we ask for your feedback on Przemyslaw's description of side efect?

[2022-03-16 14:19] eocanha commented on #792
Sorry, I couldn't devote time to this issue in the past days.

I've tried to reproduce the issues without success in the apps you mentioned, using a bandwidth of 7 MB/s.

It's true that I noticed some back and forth buffer level before the initial paused-playing change, but after the change to playing the video never had to return to paused for rebuffering. In theory, the total buffer level (inclu

[2022-03-16 18:04] emutavchi opened #813 "[wpe-2.28] some dash content playback fail with decoding error"
Reproducible with Xite and some Dash samples:
[code]
[code]

the same behavior is observable on the Epiphany browser (WebKitGTK 2.34.6).

[2022-03-16 18:10] emutavchi commented on #813
an example log: https://gist.github.com/emutavchi/6cffc97b64dba18bb09dc9d3e22d9a7f

[2022-03-17 13:00] emutavchi commented on #813
A possible fix: https://github.com/WebPlatformForEmbedded/WPEWebKit/pull/814

[2022-03-18 07:32] przemyslaw-gorszkowski-red commented on #792
In this logs from the "fireplace" video we can observe one "pause for buffering" right after it starts to play. I added logs which tell us the value of the "buffered-bytes" from vid filter when the queue2 reports the level of its buffers. It seems that in some cases the queue2 and playpump can be empty right after the playback starts to play.
Logs:
[fireplace_hiccups.log](https://github.com/WebPla

[2022-03-18 08:11] przemyslaw-gorszkowski-red commented on #792
The logs with queue2:
[fireplace_hiccups_with_queue2.log](https://github.com/WebPlatformForEmbedded/WPEWebKit/files/8302659/fireplace_hiccups_with_queue2.log)
It seems that when MediaPlayerPrivateGStreamer starts to process received GST_MESSAGE_BUFFERING the actual bytes buffer level is/can be  completely different(which is rather obvious). My proposal is that maybe in case reported 0% we can doub

[2022-03-18 11:45] przemyslaw-gorszkowski-red commented on #792
So diff of my proposal is:
[code]

[2022-03-18 14:10] eocanha commented on #792
That's a good measure that I'm going to add to the code.

Still, after analyzing the provided log, I saw a weird situation: queue2 filled (and playpump empty), then emptied (allegedly because it outputed all its content to downstream elements) but with playpump still empty. Looks like the buffers have vanished, but they're likely in multiqueue, in an up to 2MB unaccounted limbo:

![pipeline.svg](h

[2022-03-18 18:18] eocanha commented on #792
I've updated the https://github.com/WebPlatformForEmbedded/WPEWebKit/commits/eocanha/eocanha-114 branch with two new commits. One includes the change you propose, and the other tries to get the buffered bytes from the multiqueue (when present) and account them as part of the buffered percentage.

Unfortunately, the latter requires the "stats" multiqueue property to be implemented (it just does not

[2022-03-18 23:56] eocanha commented on #813
The fix has been merged. I'm closing this issue.

[2022-03-18 23:56] #813 closed, assigned to eocanha

[2022-03-21 12:14] CM112 commented on #800
hi @magomez I tested with your patch, it's working fine, I am able to launch the Disney+ app in Comcast xione settopbox with Address-sanitizer enabled, Thanks

[2022-03-21 14:16] magomez commented on #800
Great, thanks! I've pushed 3a5aeccf6a306a2cb8a4cddc6add36a3aa6a1c78 to the wpe-2.22 brach with that fix. Feel free to close this when you're sure the problem is fixed.